<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch SMS68M38AU 60cm Anti-fingerprint Stainless Steel Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch SMS68M38AU 60cm Anti-fingerprint Stainless Steel Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SMS68M38AU`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch SMS68M38AU 60cm Anti-fingerprint Stainless Steel Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `Bosch SMS68M38AU 60cm Anti-fingerprint Stainless Steel Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `Bosch SMS68M38AU 60cm Anti-fingerprint Stainless Steel Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Bosch SMS68M38AU 60cm Anti-fingerprint Stainless Steel Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Bosch SMS68M38AU 60cm Anti-fingerprint Stainless Steel Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA00828557_F0096_SMS68M38AU_465110_def.jpg` for `Bosch SMS68M38AU 60cm Anti-fingerprint Stainless Steel Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image MCSA00828557_F0096_SMS68M38AU_465110_def.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA00828557_F0096_SMS68M38AU_465110_def.jpg`</div>
<div class="progress-msg">- Image `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA00828557_F0096_SMS68M38AU_465110_def.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00828557_F0096_SMS68M38AU_465110_def.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00828557_F0096_SMS68M38AU_465110_def.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Bosch`, duplicate detected. Importing Product to existing `Bosch` product_brand, ID 1364, slug `bosch` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dishwashers`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers<`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bosch SMS68M38AU 60cm Anti-fingerprint Stainless Steel Freestanding Dishwasher` `Product` (ID: 16380)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WSF6606W 60cm White Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WSF6606W 60cm White Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WSF6606W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WSF6606W 60cm White Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WSF6606W 60cm White Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WSF6606W 60cm White Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WSF6606W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WSF6606W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://product.electrolux.com.au/Public/Image2/product/20296/20260/WH-ProductZoom.png` for `Westinghouse WSF6606W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image WH-ProductZoom.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://product.electrolux.com.au/Public/Image2/product/20296/20260/WH-ProductZoom.png`</div>
<div class="progress-msg">- Image `https://product.electrolux.com.au/Public/Image2/product/20296/20260/WH-ProductZoom.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/WH-ProductZoom.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/WH-ProductZoom.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dishwashers`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers<`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WSF6606W 60cm White Freestanding Dishwasher` `Product` (ID: 16382)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC 29 MULTIFLOOR Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC 29 MULTIFLOOR Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC 29 MULTIFLOOR`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC 29 MULTIFLOOR Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC 29 MULTIFLOOR Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC 29 MULTIFLOOR Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC 29 MULTIFLOOR Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC 29 MULTIFLOOR Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.dyson.com.au/vacuumcleaners/barrels/dc29/dc29-multi-floor/medialibrary/Images/Dyson/Products/Gallery/DC29/DC29_Multi_Floor_side_with_wand_gallery.ashx?bc=White&w=718&mh=454` for `Dyson DC 29 MULTIFLOOR Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image DC29_Multi_Floor_side_with_wand_gallery.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dyson.com.au/vacuumcleaners/barrels/dc29/dc29-multi-floor/medialibrary/Images/Dyson/Products/Gallery/DC29/DC29_Multi_Floor_side_with_wand_gallery.ashx?bc=White&w=718&mh=454`</div>
<div class="progress-msg">- Image `http://www.dyson.com.au/vacuumcleaners/barrels/dc29/dc29-multi-floor/medialibrary/Images/Dyson/Products/Gallery/DC29/DC29_Multi_Floor_side_with_wand_gallery.ashx?bc=White&w=718&mh=454` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/DC29_Multi_Floor_side_with_wand_gallery.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/DC29_Multi_Floor_side_with_wand_gallery.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC 29 MULTIFLOOR Vacuum Cleaner` `Product` (ID: 16384)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC 58 ANIMAL Handheld Bagless Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC 58 ANIMAL Handheld Bagless Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC 58 ANIMAL`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC 58 ANIMAL Handheld Bagless Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC 58 ANIMAL Handheld Bagless Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC 58 ANIMAL Handheld Bagless Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC 58 ANIMAL Handheld Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC 58 ANIMAL Handheld Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://doxz7msmg7sxx.cloudfront.net/media/catalog/product/cache/21/image/992x558/9df78eab33525d08d6e5fb8d27136e95/4/c/4c.jpg` for `Dyson DC 58 ANIMAL Handheld Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 4c.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://doxz7msmg7sxx.cloudfront.net/media/catalog/product/cache/21/image/992x558/9df78eab33525d08d6e5fb8d27136e95/4/c/4c.jpg`</div>
<div class="progress-msg">- Image `https://doxz7msmg7sxx.cloudfront.net/media/catalog/product/cache/21/image/992x558/9df78eab33525d08d6e5fb8d27136e95/4/c/4c.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/4c.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/4c.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Handheld Vacuum`, duplicate detected. Importing Product to existing `Handheld Vacuum` product_cat, ID 5335, slug `handheld-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC 58 ANIMAL Handheld Bagless Vacuum Cleaner` `Product` (ID: 16386)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC 65 ANIMAL Bagless Upright Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC 65 ANIMAL Bagless Upright Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC 65 ANIMAL`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC 65 ANIMAL Bagless Upright Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC 65 ANIMAL Bagless Upright Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC 65 ANIMAL Bagless Upright Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC 65 ANIMAL Bagless Upright Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC 65 ANIMAL Bagless Upright Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.dyson.com.au/vacuumcleaners/uprights/dc65/dc65-animal/medialibrary/Images/Dyson/Products/Gallery/DC65/DC65Gallery718x4541.ashx?bc=White&w=718&mh=454` for `Dyson DC 65 ANIMAL Bagless Upright Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image DC65Gallery718x4541.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.dyson.com.au/vacuumcleaners/uprights/dc65/dc65-animal/medialibrary/Images/Dyson/Products/Gallery/DC65/DC65Gallery718x4541.ashx?bc=White&w=718&mh=454`</div>
<div class="progress-msg">- Image `https://www.dyson.com.au/vacuumcleaners/uprights/dc65/dc65-animal/medialibrary/Images/Dyson/Products/Gallery/DC65/DC65Gallery718x4541.ashx?bc=White&w=718&mh=454` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/DC65Gallery718x4541.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/DC65Gallery718x4541.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC 65 ANIMAL Bagless Upright Vacuum Cleaner` `Product` (ID: 16388)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC37 ORIGIN Bagless Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC37 ORIGIN Bagless Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC37 ORIGIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC37 ORIGIN Bagless Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC37 ORIGIN Bagless Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC37 ORIGIN Bagless Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC37 ORIGIN Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC37 ORIGIN Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://doxz7msmg7sxx.cloudfront.net/media/catalog/product/cache/21/image/992x558/9df78eab33525d08d6e5fb8d27136e95/8/_/8_159.jpg` for `Dyson DC37 ORIGIN Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 8_159.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://doxz7msmg7sxx.cloudfront.net/media/catalog/product/cache/21/image/992x558/9df78eab33525d08d6e5fb8d27136e95/8/_/8_159.jpg`</div>
<div class="progress-msg">- Image `https://doxz7msmg7sxx.cloudfront.net/media/catalog/product/cache/21/image/992x558/9df78eab33525d08d6e5fb8d27136e95/8/_/8_159.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/8_159.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/8_159.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC37 ORIGIN Bagless Vacuum Cleaner` `Product` (ID: 16390)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC43H Mattress Handheld Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC43H Mattress Handheld Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC43H`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC43H Mattress Handheld Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC43H Mattress Handheld Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC43H Mattress Handheld Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC43H Mattress Handheld Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC43H Mattress Handheld Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/h/e/hero-image-template-vacuums5-min.jpg` for `Dyson DC43H Mattress Handheld Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hero-image-template-vacuums5-min.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/h/e/hero-image-template-vacuums5-min.jpg`</div>
<div class="progress-msg">- Image `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/h/e/hero-image-template-vacuums5-min.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hero-image-template-vacuums5-min.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hero-image-template-vacuums5-min.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Handheld Vacuum`, duplicate detected. Importing Product to existing `Handheld Vacuum` product_cat, ID 5335, slug `handheld-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC43H Mattress Handheld Vacuum Cleaner` `Product` (ID: 16392)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC50 ALLERGY Upright Bagless Vaccuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC50 ALLERGY Upright Bagless Vaccuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC50 ALLERGY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC50 ALLERGY Upright Bagless Vaccuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC50 ALLERGY Upright Bagless Vaccuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC50 ALLERGY Upright Bagless Vaccuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC50 ALLERGY Upright Bagless Vaccuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC50 ALLERGY Upright Bagless Vaccuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.dyson.com.au/vacuumcleaners/uprights/dc50/dc50-allergy/medialibrary/Images/Dyson/Products/Gallery/DC50/DC50_MF_front_side.ashx?bc=White&w=718&mh=454` for `Dyson DC50 ALLERGY Upright Bagless Vaccuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image DC50_MF_front_side.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dyson.com.au/vacuumcleaners/uprights/dc50/dc50-allergy/medialibrary/Images/Dyson/Products/Gallery/DC50/DC50_MF_front_side.ashx?bc=White&w=718&mh=454`</div>
<div class="progress-msg">- Image `http://www.dyson.com.au/vacuumcleaners/uprights/dc50/dc50-allergy/medialibrary/Images/Dyson/Products/Gallery/DC50/DC50_MF_front_side.ashx?bc=White&w=718&mh=454` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/DC50_MF_front_side.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/DC50_MF_front_side.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC50 ALLERGY Upright Bagless Vaccuum Cleaner` `Product` (ID: 16394)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC50 ORIGIN Upright Bagless Vaccuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC50 ORIGIN Upright Bagless Vaccuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC50 ORIGIN`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC50 ORIGIN Upright Bagless Vaccuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC50 ORIGIN Upright Bagless Vaccuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC50 ORIGIN Upright Bagless Vaccuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC50 ORIGIN Upright Bagless Vaccuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC50 ORIGIN Upright Bagless Vaccuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.dyson.com.au/vacuumcleaners/uprights/dc50/dc50-origin/medialibrary/Images/Dyson/Products/Gallery/DC50/DC50_MF_front_side.ashx?bc=White&w=718&mh=454` for `Dyson DC50 ORIGIN Upright Bagless Vaccuum Cleaner` ...</div>
<div class="progress-msg">- Using existing image `DC50_MF_front_side.jpeg` for post `Dyson DC50 ORIGIN Upright Bagless Vaccuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC50 ORIGIN Upright Bagless Vaccuum Cleaner` `Product` (ID: 16396)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC54 ALLERGY Bagless Barrel Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC54 ALLERGY Bagless Barrel Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC54 ALLERGY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC54 ALLERGY Bagless Barrel Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC54 ALLERGY Bagless Barrel Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC54 ALLERGY Bagless Barrel Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC54 ALLERGY Bagless Barrel Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC54 ALLERGY Bagless Barrel Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.dyson.com.au/vacuumcleaners/barrels/dc54/dc54-allergy/medialibrary/Images/Dyson/Products/Vacuums/Cylinders/DC52%20DC54/Allergy/N201_gallery_Allergy.ashx?bc=White&w=718&mh=454` for `Dyson DC54 ALLERGY Bagless Barrel Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image N201_gallery_Allergy.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dyson.com.au/vacuumcleaners/barrels/dc54/dc54-allergy/medialibrary/Images/Dyson/Products/Vacuums/Cylinders/DC52%20DC54/Allergy/N201_gallery_Allergy.ashx?bc=White&w=718&mh=454`</div>
<div class="progress-msg">- Image `http://www.dyson.com.au/vacuumcleaners/barrels/dc54/dc54-allergy/medialibrary/Images/Dyson/Products/Vacuums/Cylinders/DC52%20DC54/Allergy/N201_gallery_Allergy.ashx?bc=White&w=718&mh=454` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/N201_gallery_Allergy.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/N201_gallery_Allergy.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC54 ALLERGY Bagless Barrel Vacuum Cleaner` `Product` (ID: 16397)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC54 ANIMAL Complete Bagless Barrel Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC54 ANIMAL Complete Bagless Barrel Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC54 ANIMAL`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC54 ANIMAL Complete Bagless Barrel Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC54 ANIMAL Complete Bagless Barrel Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC54 ANIMAL Complete Bagless Barrel Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC54 ANIMAL Complete Bagless Barrel Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC54 ANIMAL Complete Bagless Barrel Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.dyson.com.au/vacuumcleaners/barrels/dc54/dc54-animal-complete/medialibrary/Images/Dyson/Products/Vacuums/Cylinders/DC52%20DC54/Animal%20Complete%20Satin%20Red/Animal_Turbine_Gallery_images_cylinders_964x609_2.ashx?bc=White&w=718&mh=454` for `Dyson DC54 ANIMAL Complete Bagless Barrel Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Animal_Turbine_Gallery_images_cylinders_964x609_2.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.dyson.com.au/vacuumcleaners/barrels/dc54/dc54-animal-complete/medialibrary/Images/Dyson/Products/Vacuums/Cylinders/DC52%20DC54/Animal%20Complete%20Satin%20Red/Animal_Turbine_Gallery_images_cylinders_964x609_2.ashx?bc=White&w=718&mh=454`</div>
<div class="progress-msg">- Image `http://www.dyson.com.au/vacuumcleaners/barrels/dc54/dc54-animal-complete/medialibrary/Images/Dyson/Products/Vacuums/Cylinders/DC52%20DC54/Animal%20Complete%20Satin%20Red/Animal_Turbine_Gallery_images_cylinders_964x609_2.ashx?bc=White&w=718&mh=454` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/Animal_Turbine_Gallery_images_cylinders_964x609_2.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/Animal_Turbine_Gallery_images_cylinders_964x609_2.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC54 ANIMAL Complete Bagless Barrel Vacuum Cleaner` `Product` (ID: 16399)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Volta U3407 1600 Watts Blue Barrel Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Volta U3407 1600 Watts Blue Barrel Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `U3407`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Volta U3407 1600 Watts Blue Barrel Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Volta U3407 1600 Watts Blue Barrel Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Volta U3407 1600 Watts Blue Barrel Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Volta U3407 1600 Watts Blue Barrel Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Volta U3407 1600 Watts Blue Barrel Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://s.productreview.com.au/products/images/t/500/7578add6-7459-4065-9afe-0ab45c463a49.jpeg` for `Volta U3407 1600 Watts Blue Barrel Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 7578add6-7459-4065-9afe-0ab45c463a49.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://s.productreview.com.au/products/images/t/500/7578add6-7459-4065-9afe-0ab45c463a49.jpeg`</div>
<div class="progress-msg">- Image `http://s.productreview.com.au/products/images/t/500/7578add6-7459-4065-9afe-0ab45c463a49.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/7578add6-7459-4065-9afe-0ab45c463a49.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/7578add6-7459-4065-9afe-0ab45c463a49.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Creating parent Product product_brand `Volta` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Volta U3407 1600 Watts Blue Barrel Vacuum Cleaner` `Product` (ID: 16401)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Volta UEQ6520T 2000 Watts Equipt Pet Plus Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Volta UEQ6520T 2000 Watts Equipt Pet Plus Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `UEQ6520T`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Volta UEQ6520T 2000 Watts Equipt Pet Plus Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Volta UEQ6520T 2000 Watts Equipt Pet Plus Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Volta UEQ6520T 2000 Watts Equipt Pet Plus Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Volta UEQ6520T 2000 Watts Equipt Pet Plus Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Volta UEQ6520T 2000 Watts Equipt Pet Plus Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://s.productreview.com.au/products/images/t/500/4ed58308-e77f-4321-abc5-314d8b57aa06.jpeg` for `Volta UEQ6520T 2000 Watts Equipt Pet Plus Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 4ed58308-e77f-4321-abc5-314d8b57aa06.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://s.productreview.com.au/products/images/t/500/4ed58308-e77f-4321-abc5-314d8b57aa06.jpeg`</div>
<div class="progress-msg">- Image `http://s.productreview.com.au/products/images/t/500/4ed58308-e77f-4321-abc5-314d8b57aa06.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/4ed58308-e77f-4321-abc5-314d8b57aa06.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/4ed58308-e77f-4321-abc5-314d8b57aa06.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Volta`, duplicate detected. Importing Product to existing `Volta` product_brand, ID 5761, slug `volta` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Volta UEQ6520T 2000 Watts Equipt Pet Plus Vacuum Cleaner` `Product` (ID: 16403)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Volta UMO1540 1600W Bagless Canister Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Volta UMO1540 1600W Bagless Canister Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `UMO1540`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Volta UMO1540 1600W Bagless Canister Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Volta UMO1540 1600W Bagless Canister Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Volta UMO1540 1600W Bagless Canister Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Volta UMO1540 1600W Bagless Canister Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Volta UMO1540 1600W Bagless Canister Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://media.binglee.com.au/media/catalog/product/cache/1/image/533x533/a3171665fa287058fb54529bbaf7b53c/u/m/umo1540_1_med.jpg` for `Volta UMO1540 1600W Bagless Canister Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image umo1540_1_med.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://media.binglee.com.au/media/catalog/product/cache/1/image/533x533/a3171665fa287058fb54529bbaf7b53c/u/m/umo1540_1_med.jpg`</div>
<div class="progress-msg">- Image `https://media.binglee.com.au/media/catalog/product/cache/1/image/533x533/a3171665fa287058fb54529bbaf7b53c/u/m/umo1540_1_med.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/umo1540_1_med.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/umo1540_1_med.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Volta`, duplicate detected. Importing Product to existing `Volta` product_brand, ID 5761, slug `volta` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Volta UMO1540 1600W Bagless Canister Vacuum Cleaner` `Product` (ID: 16405)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson V6 ANIMAL 100 AW Animal Handstick Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson V6 ANIMAL 100 AW Animal Handstick Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `V6 ANIMAL`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson V6 ANIMAL 100 AW Animal Handstick Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson V6 ANIMAL 100 AW Animal Handstick Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson V6 ANIMAL 100 AW Animal Handstick Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson V6 ANIMAL 100 AW Animal Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson V6 ANIMAL 100 AW Animal Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/2/1/210675-01_01-min_1.jpg` for `Dyson V6 ANIMAL 100 AW Animal Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 210675-01_01-min_1.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/2/1/210675-01_01-min_1.jpg`</div>
<div class="progress-msg">- Image `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/2/1/210675-01_01-min_1.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/210675-01_01-min_1.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/210675-01_01-min_1.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson V6 ANIMAL 100 AW Animal Handstick Vacuum Cleaner` `Product` (ID: 16407)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Electrolux ZSC6930 2000W Black Bagless Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Electrolux ZSC6930 2000W Black Bagless Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `ZSC6930`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux ZSC6930 2000W Black Bagless Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Electrolux ZSC6930 2000W Black Bagless Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Electrolux ZSC6930 2000W Black Bagless Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Electrolux ZSC6930 2000W Black Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Electrolux ZSC6930 2000W Black Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.vacuum-manual.com/image/cache/data/vacuum2/electrolux_zsc_6930_supercyclone-500x500.jpg` for `Electrolux ZSC6930 2000W Black Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image electrolux_zsc_6930_supercyclone-500x500.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.vacuum-manual.com/image/cache/data/vacuum2/electrolux_zsc_6930_supercyclone-500x500.jpg`</div>
<div class="progress-msg">- Image `http://www.vacuum-manual.com/image/cache/data/vacuum2/electrolux_zsc_6930_supercyclone-500x500.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/electrolux_zsc_6930_supercyclone-500x500.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/electrolux_zsc_6930_supercyclone-500x500.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Electrolux`, duplicate detected. Importing Product to existing `Electrolux` product_brand, ID 1688, slug `electrolux` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Electrolux ZSC6930 2000W Black Bagless Vacuum Cleaner` `Product` (ID: 16409)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Electrolux ZUF42010R Bagless Canister Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Electrolux ZUF42010R Bagless Canister Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `ZUF42010R`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux ZUF42010R Bagless Canister Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Electrolux ZUF42010R Bagless Canister Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Electrolux ZUF42010R Bagless Canister Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Electrolux ZUF42010R Bagless Canister Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Electrolux ZUF42010R Bagless Canister Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.electrolux.com.au/Additions/ImageResize/ImageExternal.aspx?src=https%3a%2f%2fproduct.electrolux.com.au%2fPublic%2fImage2%2fproduct%2f27305%2f22074%2fEden-700.png&width=1000&height=9999&interpolation=HighQualityBicubic&forcejpeg=true` for `Electrolux ZUF42010R Bagless Canister Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image ImageExternal.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.electrolux.com.au/Additions/ImageResize/ImageExternal.aspx?src=https%3a%2f%2fproduct.electrolux.com.au%2fPublic%2fImage2%2fproduct%2f27305%2f22074%2fEden-700.png&width=1000&height=9999&interpolation=HighQualityBicubic&forcejpeg=true`</div>
<div class="progress-msg">- Image `http://www.electrolux.com.au/Additions/ImageResize/ImageExternal.aspx?src=https%3a%2f%2fproduct.electrolux.com.au%2fPublic%2fImage2%2fproduct%2f27305%2f22074%2fEden-700.png&width=1000&height=9999&interpolation=HighQualityBicubic&forcejpeg=true` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/ImageExternal.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/ImageExternal.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Electrolux`, duplicate detected. Importing Product to existing `Electrolux` product_brand, ID 1688, slug `electrolux` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Electrolux ZUF42010R Bagless Canister Vacuum Cleaner` `Product` (ID: 16411)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Electrolux ZUF4203PET UltraFlex Animal Allergy Bagless Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Electrolux ZUF4203PET UltraFlex Animal Allergy Bagless Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `ZUF4203PET`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux ZUF4203PET UltraFlex Animal Allergy Bagless Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Electrolux ZUF4203PET UltraFlex Animal Allergy Bagless Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Electrolux ZUF4203PET UltraFlex Animal Allergy Bagless Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Electrolux ZUF4203PET UltraFlex Animal Allergy Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Electrolux ZUF4203PET UltraFlex Animal Allergy Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.electrolux.com.au/Additions/ImageResize/ImageExternal.aspx?src=https%3a%2f%2fproduct.electrolux.com.au%2fPublic%2fImage2%2fproduct%2f27306%2f22078%2fEden-700.png&width=1000&height=9999&interpolation=HighQualityBicubic&forcejpeg=true` for `Electrolux ZUF4203PET UltraFlex Animal Allergy Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- Using existing image `ImageExternal.jpeg` for post `Electrolux ZUF4203PET UltraFlex Animal Allergy Bagless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Electrolux`, duplicate detected. Importing Product to existing `Electrolux` product_brand, ID 1688, slug `electrolux` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Electrolux ZUF4203PET UltraFlex Animal Allergy Bagless Vacuum Cleaner` `Product` (ID: 16413)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bissell 1311 2-in-1 Lightweight Cordless Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bissell 1311 2-in-1 Lightweight Cordless Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1311`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bissell 1311 2-in-1 Lightweight Cordless Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Bissell 1311 2-in-1 Lightweight Cordless Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Bissell 1311 2-in-1 Lightweight Cordless Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Bissell 1311 2-in-1 Lightweight Cordless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Bissell 1311 2-in-1 Lightweight Cordless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://images-na.ssl-images-amazon.com/images/I/31Rj5zmEfpL.jpg` for `Bissell 1311 2-in-1 Lightweight Cordless Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 31Rj5zmEfpL.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://images-na.ssl-images-amazon.com/images/I/31Rj5zmEfpL.jpg`</div>
<div class="progress-msg">- Image `https://images-na.ssl-images-amazon.com/images/I/31Rj5zmEfpL.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/31Rj5zmEfpL.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/31Rj5zmEfpL.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Creating parent Product product_brand `Bissell` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Handheld Vacuum`, duplicate detected. Importing Product to existing `Handheld Vacuum` product_cat, ID 5335, slug `handheld-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bissell 1311 2-in-1 Lightweight Cordless Vacuum Cleaner` `Product` (ID: 16414)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC 45 0.35L Bagless Handstick Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC 45 0.35L Bagless Handstick Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC 45`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC 45 0.35L Bagless Handstick Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC 45 0.35L Bagless Handstick Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC 45 0.35L Bagless Handstick Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC 45 0.35L Bagless Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC 45 0.35L Bagless Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/h/e/hero_dc45_2-min.jpg` for `Dyson DC 45 0.35L Bagless Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hero_dc45_2-min.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/h/e/hero_dc45_2-min.jpg`</div>
<div class="progress-msg">- Image `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/h/e/hero_dc45_2-min.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hero_dc45_2-min.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hero_dc45_2-min.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Handheld Vacuum`, duplicate detected. Importing Product to existing `Handheld Vacuum` product_cat, ID 5335, slug `handheld-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC 45 0.35L Bagless Handstick Vacuum Cleaner` `Product` (ID: 16416)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson DC45 Handstick Handstick Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson DC45 Handstick Handstick Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DC45 Handstick`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson DC45 Handstick Handstick Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson DC45 Handstick Handstick Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson DC45 Handstick Handstick Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson DC45 Handstick Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson DC45 Handstick Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.target.com.au/medias/static_content/product/images/large/25/82/A792582.jpg` for `Dyson DC45 Handstick Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image A792582.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.target.com.au/medias/static_content/product/images/large/25/82/A792582.jpg`</div>
<div class="progress-msg">- Image `https://www.target.com.au/medias/static_content/product/images/large/25/82/A792582.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/A792582.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/A792582.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Handheld Vacuum`, duplicate detected. Importing Product to existing `Handheld Vacuum` product_cat, ID 5335, slug `handheld-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson DC45 Handstick Handstick Vacuum Cleaner` `Product` (ID: 16418)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Black & Decker SVFV3250LR ORA 2 in 1 Stick Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Black & Decker SVFV3250LR ORA 2 in 1 Stick Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SVFV3250LR`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Black & Decker SVFV3250LR ORA 2 in 1 Stick Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Black & Decker SVFV3250LR ORA 2 in 1 Stick Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Black & Decker SVFV3250LR ORA 2 in 1 Stick Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Black & Decker SVFV3250LR ORA 2 in 1 Stick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Black & Decker SVFV3250LR ORA 2 in 1 Stick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.choice.com.au/Assets/Choice/imgs/product/black-and-decker-ora-technology-svfv3250lr_1.JPG` for `Black & Decker SVFV3250LR ORA 2 in 1 Stick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image black-and-decker-ora-technology-svfv3250lr_1.JPG not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.choice.com.au/Assets/Choice/imgs/product/black-and-decker-ora-technology-svfv3250lr_1.JPG`</div>
<div class="progress-msg">- Image `https://www.choice.com.au/Assets/Choice/imgs/product/black-and-decker-ora-technology-svfv3250lr_1.JPG` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/black-and-decker-ora-technology-svfv3250lr_1.JPG`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/black-and-decker-ora-technology-svfv3250lr_1.JPG`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Creating parent Product product_brand `Black & Decker` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Handheld Vacuum`, duplicate detected. Importing Product to existing `Handheld Vacuum` product_cat, ID 5335, slug `handheld-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Black & Decker SVFV3250LR ORA 2 in 1 Stick Vacuum Cleaner` `Product` (ID: 16420)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dyson V6 ABSOLUTE 0.4L Handstick Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dyson V6 ABSOLUTE 0.4L Handstick Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `V6 ABSOLUTE`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dyson V6 ABSOLUTE 0.4L Handstick Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Dyson V6 ABSOLUTE 0.4L Handstick Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Dyson V6 ABSOLUTE 0.4L Handstick Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dyson V6 ABSOLUTE 0.4L Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dyson V6 ABSOLUTE 0.4L Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/2/0/209568-01_01_1.jpg` for `Dyson V6 ABSOLUTE 0.4L Handstick Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 209568-01_01_1.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/2/0/209568-01_01_1.jpg`</div>
<div class="progress-msg">- Image `http://cdn.dyson.com.au/media/catalog/product/cache/26/image/040ec09b1e35df139433887a97daa66f/2/0/209568-01_01_1.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/209568-01_01_1.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/209568-01_01_1.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dyson`, duplicate detected. Importing Product to existing `Dyson` product_brand, ID 710, slug `dyson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners<`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Handheld Vacuum`, duplicate detected. Importing Product to existing `Handheld Vacuum` product_cat, ID 5335, slug `handheld-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dyson V6 ABSOLUTE 0.4L Handstick Vacuum Cleaner` `Product` (ID: 16422)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
