<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG 43LW340C 43" Direct LED Commercial Lite Integrated HD TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG 43LW340C 43" Direct LED Commercial Lite Integrated HD TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `43LW340C`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG 43LW340C 43" Direct LED Commercial Lite Integrated HD TV`</div>
<div class="progress-msg"><b>CREATING</b> `LG 43LW340C 43" Direct LED Commercial Lite Integrated HD TV` `Product`</div>
<div class="progress-msg">Associate post `LG 43LW340C 43" Direct LED Commercial Lite Integrated HD TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG 43LW340C 43" Direct LED Commercial Lite Integrated HD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG 43LW340C 43" Direct LED Commercial Lite Integrated HD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.lg.com/us/commercial/product/images/43LW340C/large01.jpg` for `LG 43LW340C 43" Direct LED Commercial Lite Integrated HD TV` ...</div>
<div class="progress-msg">- Using existing image `large01.jpg` for post `LG 43LW340C 43" Direct LED Commercial Lite Integrated HD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED Commercial TV's`, duplicate detected. Importing Product to existing `LCD/LED Commercial TV's` product_cat, ID 3478, slug `lcdled-commercial-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG 43LW340C 43" Direct LED Commercial Lite Integrated HD TV` `Product` (ID: 16776)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG 43LX341C 43" Edge LED Commercial Lite Integrated FHD TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG 43LX341C 43" Edge LED Commercial Lite Integrated FHD TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `43LX341C`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG 43LX341C 43" Edge LED Commercial Lite Integrated FHD TV`</div>
<div class="progress-msg"><b>CREATING</b> `LG 43LX341C 43" Edge LED Commercial Lite Integrated FHD TV` `Product`</div>
<div class="progress-msg">Associate post `LG 43LX341C 43" Edge LED Commercial Lite Integrated FHD TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG 43LX341C 43" Edge LED Commercial Lite Integrated FHD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG 43LX341C 43" Edge LED Commercial Lite Integrated FHD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.lg.com/us/commercial/product/images/43LX341C/Large01.jpg` for `LG 43LX341C 43" Edge LED Commercial Lite Integrated FHD TV` ...</div>
<div class="progress-msg">- Using existing image `Large01.jpg` for post `LG 43LX341C 43" Edge LED Commercial Lite Integrated FHD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED Commercial TV's`, duplicate detected. Importing Product to existing `LCD/LED Commercial TV's` product_cat, ID 3478, slug `lcdled-commercial-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG 43LX341C 43" Edge LED Commercial Lite Integrated FHD TV` `Product` (ID: 16777)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG 43LX765H 43" Pro Centric Commercial Smart TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG 43LX765H 43" Pro Centric Commercial Smart TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `43LX765H`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG 43LX765H 43" Pro Centric Commercial Smart TV`</div>
<div class="progress-msg"><b>CREATING</b> `LG 43LX765H 43" Pro Centric Commercial Smart TV` `Product`</div>
<div class="progress-msg">Associate post `LG 43LX765H 43" Pro Centric Commercial Smart TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG 43LX765H 43" Pro Centric Commercial Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG 43LX765H 43" Pro Centric Commercial Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.videopro.com.au/images/Product/large/9946.png` for `LG 43LX765H 43" Pro Centric Commercial Smart TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 9946.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.videopro.com.au/images/Product/large/9946.png`</div>
<div class="progress-msg">- Image `https://www.videopro.com.au/images/Product/large/9946.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/9946.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/9946.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED Commercial TV's`, duplicate detected. Importing Product to existing `LCD/LED Commercial TV's` product_cat, ID 3478, slug `lcdled-commercial-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG 43LX765H 43" Pro Centric Commercial Smart TV` `Product` (ID: 16778)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG 43UH610T 43" 4K UHD HDR Smart TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG 43UH610T 43" 4K UHD HDR Smart TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `43UH610T`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG 43UH610T 43" 4K UHD HDR Smart TV`</div>
<div class="progress-msg"><b>CREATING</b> `LG 43UH610T 43" 4K UHD HDR Smart TV` `Product`</div>
<div class="progress-msg">Associate post `LG 43UH610T 43" 4K UHD HDR Smart TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg"><b>WARNING</b>: Product SKU must be unique.</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG 43UH610T 43" 4K UHD HDR Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG 43UH610T 43" 4K UHD HDR Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.lg.com/au/images/tvs/md05269227/gallery/large01.jpg` for `LG 43UH610T 43" 4K UHD HDR Smart TV` ...</div>
<div class="progress-msg">- Using existing image `large01.jpg` for post `LG 43UH610T 43" 4K UHD HDR Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Under 48 Inch TVs`, duplicate detected. Importing Product to existing `Under 48 Inch TVs` product_cat, ID 3053, slug `under-48-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG 43UH610T 43" 4K UHD HDR Smart TV` `Product` (ID: 16780)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG 49LX765H 49" Pro Centric Smart TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG 49LX765H 49" Pro Centric Smart TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `49LX765H`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG 49LX765H 49" Pro Centric Smart TV`</div>
<div class="progress-msg"><b>CREATING</b> `LG 49LX765H 49" Pro Centric Smart TV` `Product`</div>
<div class="progress-msg">Associate post `LG 49LX765H 49" Pro Centric Smart TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG 49LX765H 49" Pro Centric Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG 49LX765H 49" Pro Centric Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.videopro.com.au/images/Product/large/9945.png` for `LG 49LX765H 49" Pro Centric Smart TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 9945.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.videopro.com.au/images/Product/large/9945.png`</div>
<div class="progress-msg">- Image `https://www.videopro.com.au/images/Product/large/9945.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/9945.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/9945.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `48 to 60 Inch TVs`, duplicate detected. Importing Product to existing `48 to 60 Inch TVs` product_cat, ID 3565, slug `48-to-60-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG 49LX765H 49" Pro Centric Smart TV` `Product` (ID: 16781)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG 50PN6500 50" (127cm) Full HD 1080p Plasma TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG 50PN6500 50" (127cm) Full HD 1080p Plasma TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `50PN6500`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG 50PN6500 50" (127cm) Full HD 1080p Plasma TV`</div>
<div class="progress-msg"><b>CREATING</b> `LG 50PN6500 50" (127cm) Full HD 1080p Plasma TV` `Product`</div>
<div class="progress-msg">Associate post `LG 50PN6500 50" (127cm) Full HD 1080p Plasma TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG 50PN6500 50" (127cm) Full HD 1080p Plasma TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG 50PN6500 50" (127cm) Full HD 1080p Plasma TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.lg.com/au/images/tvs/50pn6500/gallery/large01.jpg` for `LG 50PN6500 50" (127cm) Full HD 1080p Plasma TV` ...</div>
<div class="progress-msg">- Using existing image `large01.jpg` for post `LG 50PN6500 50" (127cm) Full HD 1080p Plasma TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `48 to 60 Inch TVs`, duplicate detected. Importing Product to existing `48 to 60 Inch TVs` product_cat, ID 3565, slug `48-to-60-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG 50PN6500 50" (127cm) Full HD 1080p Plasma TV` `Product` (ID: 16783)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG 55LW340C 55" DIRECT LED COMMERCIAL LITE INTEGRATED FHD TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG 55LW340C 55" DIRECT LED COMMERCIAL LITE INTEGRATED FHD TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `55LW340C`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG 55LW340C 55" DIRECT LED COMMERCIAL LITE INTEGRATED FHD TV`</div>
<div class="progress-msg"><b>CREATING</b> `LG 55LW340C 55" DIRECT LED COMMERCIAL LITE INTEGRATED FHD TV` `Product`</div>
<div class="progress-msg">Associate post `LG 55LW340C 55" DIRECT LED COMMERCIAL LITE INTEGRATED FHD TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG 55LW340C 55" DIRECT LED COMMERCIAL LITE INTEGRATED FHD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG 55LW340C 55" DIRECT LED COMMERCIAL LITE INTEGRATED FHD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.lg.com/us/commercial/product/images/55LW340C/large01.jpg` for `LG 55LW340C 55" DIRECT LED COMMERCIAL LITE INTEGRATED FHD TV` ...</div>
<div class="progress-msg">- Using existing image `large01.jpg` for post `LG 55LW340C 55" DIRECT LED COMMERCIAL LITE INTEGRATED FHD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED Commercial TV's`, duplicate detected. Importing Product to existing `LCD/LED Commercial TV's` product_cat, ID 3478, slug `lcdled-commercial-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG 55LW340C 55" DIRECT LED COMMERCIAL LITE INTEGRATED FHD TV` `Product` (ID: 16784)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG 55LY755H 55" Pro:Centric SMART WebOS Commercial IP TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG 55LY755H 55" Pro:Centric SMART WebOS Commercial IP TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `55LY755H`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG 55LY755H 55" Pro:Centric SMART WebOS Commercial IP TV`</div>
<div class="progress-msg"><b>CREATING</b> `LG 55LY755H 55" Pro:Centric SMART WebOS Commercial IP TV` `Product`</div>
<div class="progress-msg">Associate post `LG 55LY755H 55" Pro:Centric SMART WebOS Commercial IP TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG 55LY755H 55" Pro:Centric SMART WebOS Commercial IP TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG 55LY755H 55" Pro:Centric SMART WebOS Commercial IP TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.lg.com/au/commercial/product/images/55LY755H/large01.jpg` for `LG 55LY755H 55" Pro:Centric SMART WebOS Commercial IP TV` ...</div>
<div class="progress-msg">- Using existing image `large01.jpg` for post `LG 55LY755H 55" Pro:Centric SMART WebOS Commercial IP TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED Commercial TV's`, duplicate detected. Importing Product to existing `LCD/LED Commercial TV's` product_cat, ID 3478, slug `lcdled-commercial-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG 55LY755H 55" Pro:Centric SMART WebOS Commercial IP TV` `Product` (ID: 16785)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG 60LX341C 60" Black Edge LED Commercial Lite Integrated FHD TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG 60LX341C 60" Black Edge LED Commercial Lite Integrated FHD TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `60LX341C`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG 60LX341C 60" Black Edge LED Commercial Lite Integrated FHD TV`</div>
<div class="progress-msg"><b>CREATING</b> `LG 60LX341C 60" Black Edge LED Commercial Lite Integrated FHD TV` `Product`</div>
<div class="progress-msg">Associate post `LG 60LX341C 60" Black Edge LED Commercial Lite Integrated FHD TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG 60LX341C 60" Black Edge LED Commercial Lite Integrated FHD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG 60LX341C 60" Black Edge LED Commercial Lite Integrated FHD TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.lg.com/us/commercial/product/images/60LX341C/750x480_LX341C.jpg` for `LG 60LX341C 60" Black Edge LED Commercial Lite Integrated FHD TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 750x480_LX341C.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.lg.com/us/commercial/product/images/60LX341C/750x480_LX341C.jpg`</div>
<div class="progress-msg">- Image `http://www.lg.com/us/commercial/product/images/60LX341C/750x480_LX341C.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/750x480_LX341C.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/750x480_LX341C.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED Commercial TV's`, duplicate detected. Importing Product to existing `LCD/LED Commercial TV's` product_cat, ID 3478, slug `lcdled-commercial-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG 60LX341C 60" Black Edge LED Commercial Lite Integrated FHD TV` `Product` (ID: 16786)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG 22LY330C 22" Ultra Slim Direct LED HD Monitor`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG 22LY330C 22" Ultra Slim Direct LED HD Monitor`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `22LY330C`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG 22LY330C 22" Ultra Slim Direct LED HD Monitor`</div>
<div class="progress-msg"><b>CREATING</b> `LG 22LY330C 22" Ultra Slim Direct LED HD Monitor` `Product`</div>
<div class="progress-msg">Associate post `LG 22LY330C 22" Ultra Slim Direct LED HD Monitor` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG 22LY330C 22" Ultra Slim Direct LED HD Monitor` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG 22LY330C 22" Ultra Slim Direct LED HD Monitor` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.lg.com/au/commercial/product/images/22LY330C/large01.jpg` for `LG 22LY330C 22" Ultra Slim Direct LED HD Monitor` ...</div>
<div class="progress-msg">- Using existing image `large01.jpg` for post `LG 22LY330C 22" Ultra Slim Direct LED HD Monitor` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Creating child Product product_cat for Televisions named `Monitor` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG 22LY330C 22" Ultra Slim Direct LED HD Monitor` `Product` (ID: 16788)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
