<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `AEG BP5013001M 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve slug of already existing article for `AEG BP5013001M 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `AEG BP5013001M 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve menu order of already existing article for `AEG BP5013001M 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve post parent of already existing article for `AEG BP5013001M 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve comment status of already existing article for `AEG BP5013001M 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve post author of already existing article for `AEG BP5013001M 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AEG BP5013001M 600mm Electric Built-In Oven`</div>
<div class="progress-msg"><b>UPDATING</b> `AEG BP5013001M 600mm Electric Built-In Oven` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `AEG BP5013001M 600mm Electric Built-In Oven` `Product` (ID: 12307)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Smeg FME120 21 Litre Microwave`</div>
<div class="progress-msg">Preserve slug of already existing article for `Smeg FME120 21 Litre Microwave`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Smeg FME120 21 Litre Microwave`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Smeg FME120 21 Litre Microwave`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Smeg FME120 21 Litre Microwave`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Smeg FME120 21 Litre Microwave`</div>
<div class="progress-msg">Preserve post author of already existing article for `Smeg FME120 21 Litre Microwave`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Smeg FME120 21 Litre Microwave`</div>
<div class="progress-msg"><b>UPDATING</b> `Smeg FME120 21 Litre Microwave` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Smeg FME120 21 Litre Microwave` `Product` (ID: 12912)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg"><b>UPDATING</b> `Electrolux EWF12853 8.5kg Front Load Washer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Electrolux EWF12853 8.5kg Front Load Washer` `Product` (ID: 19247)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
