<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg">Preserve slug of already existing article for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg">Preserve post author of already existing article for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg"><b>UPDATING</b> `Bosch PBH615B9TA 600mm Gas Cooktop` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Bosch PBH615B9TA 600mm Gas Cooktop` `Product` (ID: 15219)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg">Preserve slug of already existing article for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg">Preserve post author of already existing article for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg"><b>UPDATING</b> `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` `Product` (ID: 15191)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg">Preserve slug of already existing article for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg">Preserve post author of already existing article for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg"><b>UPDATING</b> `Zip CT1003 ChillTap Sparkling Residential` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Zip CT1003 ChillTap Sparkling Residential` `Product` (ID: 12466)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg">Preserve slug of already existing article for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg">Preserve post author of already existing article for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg"><b>UPDATING</b> `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` `Product` (ID: 11843)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg">Preserve slug of already existing article for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg">Preserve post author of already existing article for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg"><b>UPDATING</b> `LG WTG8532WH 8.5kg Top Load Washer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `LG WTG8532WH 8.5kg Top Load Washer` `Product` (ID: 15194)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
