<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `TCL GX-21AB Active 3D Two pairs of glasses for TV F3500 & E5510 & E5691 Series`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `TCL GX-21AB Active 3D Two pairs of glasses for TV F3500 & E5510 & E5691 Series`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `GX-21AB`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `TCL GX-21AB Active 3D Two pairs of glasses for TV F3500 & E5510 & E5691 Series`</div>
<div class="progress-msg"><b>CREATING</b> `TCL GX-21AB Active 3D Two pairs of glasses for TV F3500 & E5510 & E5691 Series` `Product`</div>
<div class="progress-msg">Associate post `TCL GX-21AB Active 3D Two pairs of glasses for TV F3500 & E5510 & E5691 Series` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `TCL GX-21AB Active 3D Two pairs of glasses for TV F3500 & E5510 & E5691 Series` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `TCL GX-21AB Active 3D Two pairs of glasses for TV F3500 & E5510 & E5691 Series` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/t/c/tcl_gx-21ab.jpg` for `TCL GX-21AB Active 3D Two pairs of glasses for TV F3500 & E5510 & E5691 Series` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image tcl_gx-21ab.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/t/c/tcl_gx-21ab.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/t/c/tcl_gx-21ab.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/tcl_gx-21ab.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/tcl_gx-21ab.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `TCL`, duplicate detected. Importing Product to existing `TCL` product_brand, ID 5807, slug `tcl` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Creating parent Product product_cat `Accessories` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `TCL GX-21AB Active 3D Two pairs of glasses for TV F3500 & E5510 & E5691 Series` `Product` (ID: 17142)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6AFF355D Hisense HR6AFF355D 355L All Refrigerator`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6AFF355D Hisense HR6AFF355D 355L All Refrigerator`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6AFF355D`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6AFF355D Hisense HR6AFF355D 355L All Refrigerator`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6AFF355D Hisense HR6AFF355D 355L All Refrigerator` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6AFF355D Hisense HR6AFF355D 355L All Refrigerator` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6AFF355D Hisense HR6AFF355D 355L All Refrigerator` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6AFF355D Hisense HR6AFF355D 355L All Refrigerator` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6aff355d.jpg` for `Hisense HR6AFF355D Hisense HR6AFF355D 355L All Refrigerator` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6aff355d.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6aff355d.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6aff355d.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/hisense_hr6aff355d.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/hisense_hr6aff355d.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Bar Fridges`, duplicate detected. Importing Product to existing `Bar Fridges` product_cat, ID 3981, slug `bar-fridges` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6AFF355D Hisense HR6AFF355D 355L All Refrigerator` `Product` (ID: 17144)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6AFF355SD Hisense HR6AFF355SD 355L Stainless Steel All Refrigerator`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6AFF355SD Hisense HR6AFF355SD 355L Stainless Steel All Refrigerator`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6AFF355SD`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6AFF355SD Hisense HR6AFF355SD 355L Stainless Steel All Refrigerator`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6AFF355SD Hisense HR6AFF355SD 355L Stainless Steel All Refrigerator` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6AFF355SD Hisense HR6AFF355SD 355L Stainless Steel All Refrigerator` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6AFF355SD Hisense HR6AFF355SD 355L Stainless Steel All Refrigerator` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6AFF355SD Hisense HR6AFF355SD 355L Stainless Steel All Refrigerator` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6aff355sd.jpg` for `Hisense HR6AFF355SD Hisense HR6AFF355SD 355L Stainless Steel All Refrigerator` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6aff355sd.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6aff355sd.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6aff355sd.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/hisense_hr6aff355sd.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/hisense_hr6aff355sd.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Bar Fridges`, duplicate detected. Importing Product to existing `Bar Fridges` product_cat, ID 3981, slug `bar-fridges` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6AFF355SD Hisense HR6AFF355SD 355L Stainless Steel All Refrigerator` `Product` (ID: 17146)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `TCL 48P1CFS 48" Curved Full HD LED Smart TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `TCL 48P1CFS 48" Curved Full HD LED Smart TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `48P1CFS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `TCL 48P1CFS 48" Curved Full HD LED Smart TV`</div>
<div class="progress-msg"><b>CREATING</b> `TCL 48P1CFS 48" Curved Full HD LED Smart TV` `Product`</div>
<div class="progress-msg">Associate post `TCL 48P1CFS 48" Curved Full HD LED Smart TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `TCL 48P1CFS 48" Curved Full HD LED Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `TCL 48P1CFS 48" Curved Full HD LED Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/t/c/tcl_48p1cfs.jpg` for `TCL 48P1CFS 48" Curved Full HD LED Smart TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image tcl_48p1cfs.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/t/c/tcl_48p1cfs.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/t/c/tcl_48p1cfs.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/tcl_48p1cfs.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/tcl_48p1cfs.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `TCL`, duplicate detected. Importing Product to existing `TCL` product_brand, ID 5807, slug `tcl` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED Commercial TV's`, duplicate detected. Importing Product to existing `LCD/LED Commercial TV's` product_cat, ID 3478, slug `lcdled-commercial-tvs` ...</div>
<div class="progress-msg">- Creating child Product product_cat for LCD/LED Commercial TV's named `48 to 60 Inch TVs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `TCL 48P1CFS 48" Curved Full HD LED Smart TV` `Product` (ID: 17148)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `TCL 32E4900S 32" HD LED Smart TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `TCL 32E4900S 32" HD LED Smart TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `32E4900S`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `TCL 32E4900S 32" HD LED Smart TV`</div>
<div class="progress-msg"><b>CREATING</b> `TCL 32E4900S 32" HD LED Smart TV` `Product`</div>
<div class="progress-msg">Associate post `TCL 32E4900S 32" HD LED Smart TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `TCL 32E4900S 32" HD LED Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `TCL 32E4900S 32" HD LED Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/t/c/tcl_32e4900s_2.jpg` for `TCL 32E4900S 32" HD LED Smart TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image tcl_32e4900s_2.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/t/c/tcl_32e4900s_2.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/t/c/tcl_32e4900s_2.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/tcl_32e4900s_2.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/tcl_32e4900s_2.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `TCL`, duplicate detected. Importing Product to existing `TCL` product_brand, ID 5807, slug `tcl` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED Commercial TV's`, duplicate detected. Importing Product to existing `LCD/LED Commercial TV's` product_cat, ID 3478, slug `lcdled-commercial-tvs` ...</div>
<div class="progress-msg">- Creating child Product product_cat for LCD/LED Commercial TV's named `Under 48 Inch TVs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `TCL 32E4900S 32" HD LED Smart TV` `Product` (ID: 17150)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
