<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing statuses...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>SKIPPED</b>: by do not create new posts option.</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WFE912SA 900mm Multi-fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WFE912SA 900mm Multi-fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WFE912SA 900mm Multi-fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WFE912SA 900mm Multi-fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WFE912SA 900mm Multi-fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WFE912SA 900mm Multi-fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WFE912SA 900mm Multi-fuel Freestanding Cooker`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WFE912SA 900mm Multi-fuel Freestanding Cooker`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WFE912SA 900mm Multi-fuel Freestanding Cooker` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WFE912SA 900mm Multi-fuel Freestanding Cooker` `Product` (ID: 16260)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse GHR92S 900mm Gas Cooktop`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse GHR92S 900mm Gas Cooktop`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse GHR92S 900mm Gas Cooktop`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse GHR92S 900mm Gas Cooktop`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse GHR92S 900mm Gas Cooktop`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse GHR92S 900mm Gas Cooktop`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse GHR92S 900mm Gas Cooktop`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse GHR92S 900mm Gas Cooktop`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse GHR92S 900mm Gas Cooktop` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse GHR92S 900mm Gas Cooktop` `Product` (ID: 12967)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>SKIPPED</b>: by do not create new posts option.</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Sony KDL55W800C 55" FHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve slug of already existing article for `Sony KDL55W800C 55" FHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Sony KDL55W800C 55" FHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Sony KDL55W800C 55" FHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Sony KDL55W800C 55" FHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Sony KDL55W800C 55" FHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve post author of already existing article for `Sony KDL55W800C 55" FHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony KDL55W800C 55" FHD LED Smart TV with Android TV`</div>
<div class="progress-msg"><b>UPDATING</b> `Sony KDL55W800C 55" FHD LED Smart TV with Android TV` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Sony KDL55W800C 55" FHD LED Smart TV with Android TV` `Product` (ID: 13207)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Sony KD55X9000C 55" UHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve slug of already existing article for `Sony KD55X9000C 55" UHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Sony KD55X9000C 55" UHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Sony KD55X9000C 55" UHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Sony KD55X9000C 55" UHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Sony KD55X9000C 55" UHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Preserve post author of already existing article for `Sony KD55X9000C 55" UHD LED Smart TV with Android TV`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony KD55X9000C 55" UHD LED Smart TV with Android TV`</div>
<div class="progress-msg"><b>UPDATING</b> `Sony KD55X9000C 55" UHD LED Smart TV with Android TV` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Sony KD55X9000C 55" UHD LED Smart TV with Android TV` `Product` (ID: 13205)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Smeg SAI64 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve slug of already existing article for `Smeg SAI64 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Smeg SAI64 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Smeg SAI64 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Smeg SAI64 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Smeg SAI64 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve post author of already existing article for `Smeg SAI64 600mm Induction Cooktop`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Smeg SAI64 600mm Induction Cooktop`</div>
<div class="progress-msg"><b>UPDATING</b> `Smeg SAI64 600mm Induction Cooktop` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Smeg SAI64 600mm Induction Cooktop` `Product` (ID: 13953)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Smeg SAC106S 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve slug of already existing article for `Smeg SAC106S 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Smeg SAC106S 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Smeg SAC106S 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Smeg SAC106S 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Smeg SAC106S 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve post author of already existing article for `Smeg SAC106S 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Smeg SAC106S 600mm Electric Built-In Oven`</div>
<div class="progress-msg"><b>UPDATING</b> `Smeg SAC106S 600mm Electric Built-In Oven` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Smeg SAC106S 600mm Electric Built-In Oven` `Product` (ID: 13949)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Smeg CT15NE-2 150mm Linear Warming Drawer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Smeg CT15NE-2 150mm Linear Warming Drawer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Smeg CT15NE-2 150mm Linear Warming Drawer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Smeg CT15NE-2 150mm Linear Warming Drawer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Smeg CT15NE-2 150mm Linear Warming Drawer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Smeg CT15NE-2 150mm Linear Warming Drawer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Smeg CT15NE-2 150mm Linear Warming Drawer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Smeg CT15NE-2 150mm Linear Warming Drawer`</div>
<div class="progress-msg"><b>UPDATING</b> `Smeg CT15NE-2 150mm Linear Warming Drawer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Smeg CT15NE-2 150mm Linear Warming Drawer` `Product` (ID: 12468)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>SKIPPED</b>: by do not create new posts option.</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>SKIPPED</b>: by do not create new posts option.</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>SKIPPED</b>: by do not create new posts option.</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Omega OM30CX 30 Litre Microwave`</div>
<div class="progress-msg">Preserve slug of already existing article for `Omega OM30CX 30 Litre Microwave`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Omega OM30CX 30 Litre Microwave`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Omega OM30CX 30 Litre Microwave`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Omega OM30CX 30 Litre Microwave`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Omega OM30CX 30 Litre Microwave`</div>
<div class="progress-msg">Preserve post author of already existing article for `Omega OM30CX 30 Litre Microwave`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Omega OM30CX 30 Litre Microwave`</div>
<div class="progress-msg"><b>UPDATING</b> `Omega OM30CX 30 Litre Microwave` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Omega OM30CX 30 Litre Microwave` `Product` (ID: 13554)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hansgrohe 71835000 Logis 260 Gooseneck Sink Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hansgrohe 71835000 Logis 260 Gooseneck Sink Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hansgrohe 71835000 Logis 260 Gooseneck Sink Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hansgrohe 71835000 Logis 260 Gooseneck Sink Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hansgrohe 71835000 Logis 260 Gooseneck Sink Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hansgrohe 71835000 Logis 260 Gooseneck Sink Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hansgrohe 71835000 Logis 260 Gooseneck Sink Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hansgrohe 71835000 Logis 260 Gooseneck Sink Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hansgrohe 71835000 Logis 260 Gooseneck Sink Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hansgrohe 71835000 Logis 260 Gooseneck Sink Mixer` `Product` (ID: 11341)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Franke PZX22039R10 Planar 870mm Double Bowl Universal Sink`</div>
<div class="progress-msg">Preserve slug of already existing article for `Franke PZX22039R10 Planar 870mm Double Bowl Universal Sink`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Franke PZX22039R10 Planar 870mm Double Bowl Universal Sink`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Franke PZX22039R10 Planar 870mm Double Bowl Universal Sink`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Franke PZX22039R10 Planar 870mm Double Bowl Universal Sink`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Franke PZX22039R10 Planar 870mm Double Bowl Universal Sink`</div>
<div class="progress-msg">Preserve post author of already existing article for `Franke PZX22039R10 Planar 870mm Double Bowl Universal Sink`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Franke PZX22039R10 Planar 870mm Double Bowl Universal Sink`</div>
<div class="progress-msg"><b>UPDATING</b> `Franke PZX22039R10 Planar 870mm Double Bowl Universal Sink` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Franke PZX22039R10 Planar 870mm Double Bowl Universal Sink` `Product` (ID: 13778)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Fisher & Paykel WH8560J2 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Fisher & Paykel WH8560J2 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Fisher & Paykel WH8560J2 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Fisher & Paykel WH8560J2 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Fisher & Paykel WH8560J2 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Fisher & Paykel WH8560J2 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Fisher & Paykel WH8560J2 8.5kg Front Load Washer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Fisher & Paykel WH8560J2 8.5kg Front Load Washer`</div>
<div class="progress-msg"><b>UPDATING</b> `Fisher & Paykel WH8560J2 8.5kg Front Load Washer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Fisher & Paykel WH8560J2 8.5kg Front Load Washer` `Product` (ID: 14512)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Fisher & Paykel WH7560J2 7.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Fisher & Paykel WH7560J2 7.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Fisher & Paykel WH7560J2 7.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Fisher & Paykel WH7560J2 7.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Fisher & Paykel WH7560J2 7.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Fisher & Paykel WH7560J2 7.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Fisher & Paykel WH7560J2 7.5kg Front Load Washer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Fisher & Paykel WH7560J2 7.5kg Front Load Washer`</div>
<div class="progress-msg"><b>UPDATING</b> `Fisher & Paykel WH7560J2 7.5kg Front Load Washer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Fisher & Paykel WH7560J2 7.5kg Front Load Washer` `Product` (ID: 14509)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Fisher & Paykel CI604DTB2 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve slug of already existing article for `Fisher & Paykel CI604DTB2 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Fisher & Paykel CI604DTB2 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Fisher & Paykel CI604DTB2 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Fisher & Paykel CI604DTB2 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Fisher & Paykel CI604DTB2 600mm Induction Cooktop`</div>
<div class="progress-msg">Preserve post author of already existing article for `Fisher & Paykel CI604DTB2 600mm Induction Cooktop`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Fisher & Paykel CI604DTB2 600mm Induction Cooktop`</div>
<div class="progress-msg"><b>UPDATING</b> `Fisher & Paykel CI604DTB2 600mm Induction Cooktop` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Fisher & Paykel CI604DTB2 600mm Induction Cooktop` `Product` (ID: 12409)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Electrolux EWF14742 7kg Front Load Washer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Electrolux EWF14742 7kg Front Load Washer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Electrolux EWF14742 7kg Front Load Washer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Electrolux EWF14742 7kg Front Load Washer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Electrolux EWF14742 7kg Front Load Washer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Electrolux EWF14742 7kg Front Load Washer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Electrolux EWF14742 7kg Front Load Washer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux EWF14742 7kg Front Load Washer`</div>
<div class="progress-msg"><b>UPDATING</b> `Electrolux EWF14742 7kg Front Load Washer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Electrolux EWF14742 7kg Front Load Washer` `Product` (ID: 12840)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Electrolux EWF12832 8kg Front Load Washer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Electrolux EWF12832 8kg Front Load Washer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Electrolux EWF12832 8kg Front Load Washer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Electrolux EWF12832 8kg Front Load Washer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Electrolux EWF12832 8kg Front Load Washer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Electrolux EWF12832 8kg Front Load Washer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Electrolux EWF12832 8kg Front Load Washer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux EWF12832 8kg Front Load Washer`</div>
<div class="progress-msg"><b>UPDATING</b> `Electrolux EWF12832 8kg Front Load Washer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Electrolux EWF12832 8kg Front Load Washer` `Product` (ID: 12839)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Electrolux ERM3701WE-R 370 Litre Integrated Refrigerator`</div>
<div class="progress-msg">Preserve slug of already existing article for `Electrolux ERM3701WE-R 370 Litre Integrated Refrigerator`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Electrolux ERM3701WE-R 370 Litre Integrated Refrigerator`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Electrolux ERM3701WE-R 370 Litre Integrated Refrigerator`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Electrolux ERM3701WE-R 370 Litre Integrated Refrigerator`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Electrolux ERM3701WE-R 370 Litre Integrated Refrigerator`</div>
<div class="progress-msg">Preserve post author of already existing article for `Electrolux ERM3701WE-R 370 Litre Integrated Refrigerator`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux ERM3701WE-R 370 Litre Integrated Refrigerator`</div>
<div class="progress-msg"><b>UPDATING</b> `Electrolux ERM3701WE-R 370 Litre Integrated Refrigerator` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Electrolux ERM3701WE-R 370 Litre Integrated Refrigerator` `Product` (ID: 12789)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Electrolux EFM3001WE-L 300 Litre Integrated Vertical Freezer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Electrolux EFM3001WE-L 300 Litre Integrated Vertical Freezer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Electrolux EFM3001WE-L 300 Litre Integrated Vertical Freezer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Electrolux EFM3001WE-L 300 Litre Integrated Vertical Freezer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Electrolux EFM3001WE-L 300 Litre Integrated Vertical Freezer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Electrolux EFM3001WE-L 300 Litre Integrated Vertical Freezer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Electrolux EFM3001WE-L 300 Litre Integrated Vertical Freezer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux EFM3001WE-L 300 Litre Integrated Vertical Freezer`</div>
<div class="progress-msg"><b>UPDATING</b> `Electrolux EFM3001WE-L 300 Litre Integrated Vertical Freezer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Electrolux EFM3001WE-L 300 Litre Integrated Vertical Freezer` `Product` (ID: 12708)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Electrolux EDP2074PDW 7kg Condenser Clothes Dryer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Electrolux EDP2074PDW 7kg Condenser Clothes Dryer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Electrolux EDP2074PDW 7kg Condenser Clothes Dryer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Electrolux EDP2074PDW 7kg Condenser Clothes Dryer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Electrolux EDP2074PDW 7kg Condenser Clothes Dryer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Electrolux EDP2074PDW 7kg Condenser Clothes Dryer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Electrolux EDP2074PDW 7kg Condenser Clothes Dryer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux EDP2074PDW 7kg Condenser Clothes Dryer`</div>
<div class="progress-msg"><b>UPDATING</b> `Electrolux EDP2074PDW 7kg Condenser Clothes Dryer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Electrolux EDP2074PDW 7kg Condenser Clothes Dryer` `Product` (ID: 12686)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Elba OB60S3LCX2 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve slug of already existing article for `Elba OB60S3LCX2 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Elba OB60S3LCX2 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Elba OB60S3LCX2 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Elba OB60S3LCX2 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Elba OB60S3LCX2 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve post author of already existing article for `Elba OB60S3LCX2 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Elba OB60S3LCX2 600mm Electric Built-In Oven`</div>
<div class="progress-msg"><b>UPDATING</b> `Elba OB60S3LCX2 600mm Electric Built-In Oven` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Elba OB60S3LCX2 600mm Electric Built-In Oven` `Product` (ID: 13507)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Bosch HSB738356A 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve slug of already existing article for `Bosch HSB738356A 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Bosch HSB738356A 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Bosch HSB738356A 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Bosch HSB738356A 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Bosch HSB738356A 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve post author of already existing article for `Bosch HSB738356A 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch HSB738356A 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg"><b>UPDATING</b> `Bosch HSB738356A 900mm Multi-Fuel Freestanding Cooker` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Bosch HSB738356A 900mm Multi-Fuel Freestanding Cooker` `Product` (ID: 13083)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Bosch DWW09W450A 900mm Canopy Rangehood`</div>
<div class="progress-msg">Preserve slug of already existing article for `Bosch DWW09W450A 900mm Canopy Rangehood`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Bosch DWW09W450A 900mm Canopy Rangehood`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Bosch DWW09W450A 900mm Canopy Rangehood`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Bosch DWW09W450A 900mm Canopy Rangehood`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Bosch DWW09W450A 900mm Canopy Rangehood`</div>
<div class="progress-msg">Preserve post author of already existing article for `Bosch DWW09W450A 900mm Canopy Rangehood`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch DWW09W450A 900mm Canopy Rangehood`</div>
<div class="progress-msg"><b>UPDATING</b> `Bosch DWW09W450A 900mm Canopy Rangehood` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Bosch DWW09W450A 900mm Canopy Rangehood` `Product` (ID: 12613)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Bosch DHI635KAU 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve slug of already existing article for `Bosch DHI635KAU 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Bosch DHI635KAU 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Bosch DHI635KAU 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Bosch DHI635KAU 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Bosch DHI635KAU 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve post author of already existing article for `Bosch DHI635KAU 600mm Slideout Rangehood`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch DHI635KAU 600mm Slideout Rangehood`</div>
<div class="progress-msg"><b>UPDATING</b> `Bosch DHI635KAU 600mm Slideout Rangehood` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Bosch DHI635KAU 600mm Slideout Rangehood` `Product` (ID: 12568)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #28</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>SKIPPED</b>: by do not create new posts option.</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #29</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Astrawalker A6948C Icon Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Astrawalker A6948C Icon Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Astrawalker A6948C Icon Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Astrawalker A6948C Icon Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Astrawalker A6948C Icon Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Astrawalker A6948C Icon Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Astrawalker A6948C Icon Shower/Bath Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Astrawalker A6948C Icon Shower/Bath Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Astrawalker A6948C Icon Shower/Bath Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Astrawalker A6948C Icon Shower/Bath Mixer` `Product` (ID: 12133)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #30</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Electrolux ERE5047SAL 500 Litre  Refrigerator`</div>
<div class="progress-msg">Preserve slug of already existing article for `Electrolux ERE5047SAL 500 Litre  Refrigerator`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Electrolux ERE5047SAL 500 Litre  Refrigerator`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Electrolux ERE5047SAL 500 Litre  Refrigerator`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Electrolux ERE5047SAL 500 Litre  Refrigerator`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Electrolux ERE5047SAL 500 Litre  Refrigerator`</div>
<div class="progress-msg">Preserve post author of already existing article for `Electrolux ERE5047SAL 500 Litre  Refrigerator`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux ERE5047SAL 500 Litre  Refrigerator`</div>
<div class="progress-msg"><b>UPDATING</b> `Electrolux ERE5047SAL 500 Litre  Refrigerator` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Electrolux ERE5047SAL 500 Litre  Refrigerator` `Product` (ID: 17382)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #31</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Bosch PRB26L Project Recess Box`</div>
<div class="progress-msg">Preserve slug of already existing article for `Bosch PRB26L Project Recess Box`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Bosch PRB26L Project Recess Box`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Bosch PRB26L Project Recess Box`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Bosch PRB26L Project Recess Box`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Bosch PRB26L Project Recess Box`</div>
<div class="progress-msg">Preserve post author of already existing article for `Bosch PRB26L Project Recess Box`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch PRB26L Project Recess Box`</div>
<div class="progress-msg"><b>UPDATING</b> `Bosch PRB26L Project Recess Box` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Bosch PRB26L Project Recess Box` `Product` (ID: 17392)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #32</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hansgrohe 319670001362018 Focus Shower/Bath Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hansgrohe 319670001362018 Focus Shower/Bath Mixer` `Product` (ID: 11371)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #33</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer` `Product` (ID: 15089)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #34</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hansgrohe 716060001362018 Logis Shower/Bath Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hansgrohe 716060001362018 Logis Shower/Bath Mixer` `Product` (ID: 11373)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #35</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer` `Product` (ID: 18035)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
