<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6TFF527 526L Frost Free White Top Mount Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6TFF527 526L Frost Free White Top Mount Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6TFF527`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6TFF527 526L Frost Free White Top Mount Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6TFF527 526L Frost Free White Top Mount Fridge` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6TFF527 526L Frost Free White Top Mount Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6TFF527 526L Frost Free White Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6TFF527 526L Frost Free White Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://etcpg3uvcgs41q4ci23mfssr.wpengine.netdna-cdn.com/wp-content/uploads/2015/11/HR6TFF5271.jpg` for `Hisense HR6TFF527 526L Frost Free White Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image HR6TFF5271.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://etcpg3uvcgs41q4ci23mfssr.wpengine.netdna-cdn.com/wp-content/uploads/2015/11/HR6TFF5271.jpg`</div>
<div class="progress-msg">- Image `http://etcpg3uvcgs41q4ci23mfssr.wpengine.netdna-cdn.com/wp-content/uploads/2015/11/HR6TFF5271.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/HR6TFF5271.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/HR6TFF5271.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Top Mount 2 Door Fridge`, duplicate detected. Importing Product to existing `Top Mount 2 Door Fridge` product_cat, ID 4332, slug `top-mount-2-door-fridge` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6TFF527 526L Frost Free White Top Mount Fridge` `Product` (ID: 16754)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6TFF527SD 526L Top Mount Stainless Steel Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6TFF527SD 526L Top Mount Stainless Steel Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6TFF527SD`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6TFF527SD 526L Top Mount Stainless Steel Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6TFF527SD 526L Top Mount Stainless Steel Fridge` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6TFF527SD 526L Top Mount Stainless Steel Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6TFF527SD 526L Top Mount Stainless Steel Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6TFF527SD 526L Top Mount Stainless Steel Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.choice.com.au/Assets/Choice/imgs/product/hisense-hr6tff527sd_3.jpg` for `Hisense HR6TFF527SD 526L Top Mount Stainless Steel Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense-hr6tff527sd_3.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.choice.com.au/Assets/Choice/imgs/product/hisense-hr6tff527sd_3.jpg`</div>
<div class="progress-msg">- Image `https://www.choice.com.au/Assets/Choice/imgs/product/hisense-hr6tff527sd_3.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense-hr6tff527sd_3.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense-hr6tff527sd_3.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Top Mount 2 Door Fridge`, duplicate detected. Importing Product to existing `Top Mount 2 Door Fridge` product_cat, ID 4332, slug `top-mount-2-door-fridge` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6TFF527SD 526L Top Mount Stainless Steel Fridge` `Product` (ID: 16756)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6TFF600SD 593L Top Mount Stainless Steel Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6TFF600SD 593L Top Mount Stainless Steel Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6TFF600SD`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6TFF600SD 593L Top Mount Stainless Steel Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6TFF600SD 593L Top Mount Stainless Steel Fridge` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6TFF600SD 593L Top Mount Stainless Steel Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6TFF600SD 593L Top Mount Stainless Steel Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6TFF600SD 593L Top Mount Stainless Steel Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6tff600sd.jpg` for `Hisense HR6TFF600SD 593L Top Mount Stainless Steel Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6tff600sd.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6tff600sd.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6tff600sd.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6tff600sd.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6tff600sd.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Top Mount 2 Door Fridge`, duplicate detected. Importing Product to existing `Top Mount 2 Door Fridge` product_cat, ID 4332, slug `top-mount-2-door-fridge` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6TFF600SD 593L Top Mount Stainless Steel Fridge` `Product` (ID: 16758)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6BMFF435 435L Bottom Mount Frost Free White Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6BMFF435 435L Bottom Mount Frost Free White Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6BMFF435`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6BMFF435 435L Bottom Mount Frost Free White Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6BMFF435 435L Bottom Mount Frost Free White Fridge` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6BMFF435 435L Bottom Mount Frost Free White Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6BMFF435 435L Bottom Mount Frost Free White Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6BMFF435 435L Bottom Mount Frost Free White Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6bmff435.jpg` for `Hisense HR6BMFF435 435L Bottom Mount Frost Free White Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6bmff435.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6bmff435.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6bmff435.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6bmff435.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6bmff435.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Bottom Mount 2 Door Fridge`, duplicate detected. Importing Product to existing `Bottom Mount 2 Door Fridge` product_cat, ID 4045, slug `bottom-mount-2-door-fridge` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6BMFF435 435L Bottom Mount Frost Free White Fridge` `Product` (ID: 16760)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6BMFF520 520L Bottom Mount Frost Free White Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6BMFF520 520L Bottom Mount Frost Free White Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6BMFF520`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6BMFF520 520L Bottom Mount Frost Free White Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6BMFF520 520L Bottom Mount Frost Free White Fridge` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6BMFF520 520L Bottom Mount Frost Free White Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6BMFF520 520L Bottom Mount Frost Free White Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6BMFF520 520L Bottom Mount Frost Free White Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6bmff520_1.jpg` for `Hisense HR6BMFF520 520L Bottom Mount Frost Free White Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6bmff520_1.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6bmff520_1.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6bmff520_1.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6bmff520_1.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6bmff520_1.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Bottom Mount 2 Door Fridge`, duplicate detected. Importing Product to existing `Bottom Mount 2 Door Fridge` product_cat, ID 4045, slug `bottom-mount-2-door-fridge` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6BMFF520 520L Bottom Mount Frost Free White Fridge` `Product` (ID: 16762)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6CDFF512GB 512L Black French Door Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6CDFF512GB 512L Black French Door Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6CDFF512GB`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6CDFF512GB 512L Black French Door Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6CDFF512GB 512L Black French Door Fridge` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6CDFF512GB 512L Black French Door Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6CDFF512GB 512L Black French Door Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6CDFF512GB 512L Black French Door Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6cdff512gb.jpg` for `Hisense HR6CDFF512GB 512L Black French Door Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6cdff512gb.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6cdff512gb.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6cdff512gb.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6cdff512gb.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6cdff512gb.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `French Door Fridges`, duplicate detected. Importing Product to existing `French Door Fridges` product_cat, ID 4374, slug `french-door-fridges-fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6CDFF512GB 512L Black French Door Fridge` `Product` (ID: 16764)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6VFF280SD 280L Stainless Steel Frost Free Vertical Freezer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6VFF280SD 280L Stainless Steel Frost Free Vertical Freezer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6VFF280SD`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6VFF280SD 280L Stainless Steel Frost Free Vertical Freezer`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6VFF280SD 280L Stainless Steel Frost Free Vertical Freezer` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6VFF280SD 280L Stainless Steel Frost Free Vertical Freezer` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6VFF280SD 280L Stainless Steel Frost Free Vertical Freezer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6VFF280SD 280L Stainless Steel Frost Free Vertical Freezer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6vff280sd.jpg` for `Hisense HR6VFF280SD 280L Stainless Steel Frost Free Vertical Freezer` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6vff280sd.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6vff280sd.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6vff280sd.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6vff280sd.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6vff280sd.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freezers`, duplicate detected. Importing Product to existing `Freezers` product_cat, ID 4334, slug `freezers-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `All Freezer`, duplicate detected. Importing Product to existing `All Freezer` product_cat, ID 4335, slug `all-freezer` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6VFF280SD 280L Stainless Steel Frost Free Vertical Freezer` `Product` (ID: 16766)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6AF243 243L White Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6AF243 243L White Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6AF243`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6AF243 243L White Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6AF243 243L White Fridge` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6AF243 243L White Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6AF243 243L White Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6AF243 243L White Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6af243_2.jpg` for `Hisense HR6AF243 243L White Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6af243_2.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6af243_2.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6af243_2.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6af243_2.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6af243_2.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Bar Fridges`, duplicate detected. Importing Product to existing `Bar Fridges` product_cat, ID 3981, slug `bar-fridges` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6AF243 243L White Fridge` `Product` (ID: 16768)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6WC29 29 Stainless Steel Bottle Wine Cooler`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6WC29 29 Stainless Steel Bottle Wine Cooler`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6WC29`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6WC29 29 Stainless Steel Bottle Wine Cooler`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6WC29 29 Stainless Steel Bottle Wine Cooler` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6WC29 29 Stainless Steel Bottle Wine Cooler` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6WC29 29 Stainless Steel Bottle Wine Cooler` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6WC29 29 Stainless Steel Bottle Wine Cooler` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6wc29_2.png` for `Hisense HR6WC29 29 Stainless Steel Bottle Wine Cooler` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6wc29_2.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6wc29_2.png`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6wc29_2.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6wc29_2.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6wc29_2.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Wine Storage`, duplicate detected. Importing Product to existing `Wine Storage` product_cat, ID 3984, slug `wine-storage` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6WC29 29 Stainless Steel Bottle Wine Cooler` `Product` (ID: 16770)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6WC36D 36 Bottle Dual Zone Wine Chiller`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6WC36D 36 Bottle Dual Zone Wine Chiller`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6WC36D`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6WC36D 36 Bottle Dual Zone Wine Chiller`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6WC36D 36 Bottle Dual Zone Wine Chiller` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6WC36D 36 Bottle Dual Zone Wine Chiller` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6WC36D 36 Bottle Dual Zone Wine Chiller` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6WC36D 36 Bottle Dual Zone Wine Chiller` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6wc36d_2.jpg` for `Hisense HR6WC36D 36 Bottle Dual Zone Wine Chiller` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6wc36d_2.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6wc36d_2.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6wc36d_2.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6wc36d_2.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6wc36d_2.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Wine Storage`, duplicate detected. Importing Product to existing `Wine Storage` product_cat, ID 3984, slug `wine-storage` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6WC36D 36 Bottle Dual Zone Wine Chiller` `Product` (ID: 16772)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hisense HR6WC58D 58 Bottle Dual Zone Wine Chiller`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hisense HR6WC58D 58 Bottle Dual Zone Wine Chiller`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HR6WC58D`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6WC58D 58 Bottle Dual Zone Wine Chiller`</div>
<div class="progress-msg"><b>CREATING</b> `Hisense HR6WC58D 58 Bottle Dual Zone Wine Chiller` `Product`</div>
<div class="progress-msg">Associate post `Hisense HR6WC58D 58 Bottle Dual Zone Wine Chiller` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Hisense HR6WC58D 58 Bottle Dual Zone Wine Chiller` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Hisense HR6WC58D 58 Bottle Dual Zone Wine Chiller` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6wc58d.jpg` for `Hisense HR6WC58D 58 Bottle Dual Zone Wine Chiller` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image hisense_hr6wc58d.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6wc58d.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/h/i/hisense_hr6wc58d.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6wc58d.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/hisense_hr6wc58d.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Hisense`, duplicate detected. Importing Product to existing `Hisense` product_brand, ID 593, slug `hisense` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `FRIDGE & FREEZERS`, duplicate detected. Importing Product to existing `FRIDGE &amp; FREEZERS` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Wine Storage`, duplicate detected. Importing Product to existing `Wine Storage` product_cat, ID 3984, slug `wine-storage` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hisense HR6WC58D 58 Bottle Dual Zone Wine Chiller` `Product` (ID: 16774)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
