<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Top Mount 2 Door Fridge SR255MLS Samsung SR255MLS 255L Stainless Steel Top Mount Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Top Mount 2 Door Fridge SR255MLS Samsung SR255MLS 255L Stainless Steel Top Mount Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SR255MLS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Top Mount 2 Door Fridge SR255MLS Samsung SR255MLS 255L Stainless Steel Top Mount Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Top Mount 2 Door Fridge SR255MLS Samsung SR255MLS 255L Stainless Steel Top Mount Fridge` `Product`</div>
<div class="progress-msg">Associate post `Top Mount 2 Door Fridge SR255MLS Samsung SR255MLS 255L Stainless Steel Top Mount Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Top Mount 2 Door Fridge SR255MLS Samsung SR255MLS 255L Stainless Steel Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Top Mount 2 Door Fridge SR255MLS Samsung SR255MLS 255L Stainless Steel Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/sr255mls/external/255L-Samsung-Fridge-SR255MLS-Hero-Image-high.jpeg` for `Top Mount 2 Door Fridge SR255MLS Samsung SR255MLS 255L Stainless Steel Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 255L-Samsung-Fridge-SR255MLS-Hero-Image-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/sr255mls/external/255L-Samsung-Fridge-SR255MLS-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/sr255mls/external/255L-Samsung-Fridge-SR255MLS-Hero-Image-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/255L-Samsung-Fridge-SR255MLS-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/255L-Samsung-Fridge-SR255MLS-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `SAMSUNG`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Top Mount 2 Door Fridge SR255MLS Samsung SR255MLS 255L Stainless Steel Top Mount Fridge` `Product` (ID: 16189)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Top Mount 2 Door Fridge SR318LSTC Samsung SR318LSTC 318L Layered Steel Top Mount Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Top Mount 2 Door Fridge SR318LSTC Samsung SR318LSTC 318L Layered Steel Top Mount Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SR318LSTC`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Top Mount 2 Door Fridge SR318LSTC Samsung SR318LSTC 318L Layered Steel Top Mount Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Top Mount 2 Door Fridge SR318LSTC Samsung SR318LSTC 318L Layered Steel Top Mount Fridge` `Product`</div>
<div class="progress-msg">Associate post `Top Mount 2 Door Fridge SR318LSTC Samsung SR318LSTC 318L Layered Steel Top Mount Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Top Mount 2 Door Fridge SR318LSTC Samsung SR318LSTC 318L Layered Steel Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Top Mount 2 Door Fridge SR318LSTC Samsung SR318LSTC 318L Layered Steel Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/sr318lstc/external/Samsung-SR318LSTC-318L-Top-Mount-Fridge-Hero-Image-high.jpeg` for `Top Mount 2 Door Fridge SR318LSTC Samsung SR318LSTC 318L Layered Steel Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Samsung-SR318LSTC-318L-Top-Mount-Fridge-Hero-Image-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/sr318lstc/external/Samsung-SR318LSTC-318L-Top-Mount-Fridge-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/sr318lstc/external/Samsung-SR318LSTC-318L-Top-Mount-Fridge-Hero-Image-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/Samsung-SR318LSTC-318L-Top-Mount-Fridge-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/Samsung-SR318LSTC-318L-Top-Mount-Fridge-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `SAMSUNG`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Top Mount 2 Door Fridge SR318LSTC Samsung SR318LSTC 318L Layered Steel Top Mount Fridge` `Product` (ID: 16191)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Top Mount 2 Door Fridge SR343LSTC Samsung SR343LSTC 341L Layered Steel Top Mount Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Top Mount 2 Door Fridge SR343LSTC Samsung SR343LSTC 341L Layered Steel Top Mount Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SR343LSTC`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Top Mount 2 Door Fridge SR343LSTC Samsung SR343LSTC 341L Layered Steel Top Mount Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Top Mount 2 Door Fridge SR343LSTC Samsung SR343LSTC 341L Layered Steel Top Mount Fridge` `Product`</div>
<div class="progress-msg">Associate post `Top Mount 2 Door Fridge SR343LSTC Samsung SR343LSTC 341L Layered Steel Top Mount Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Top Mount 2 Door Fridge SR343LSTC Samsung SR343LSTC 341L Layered Steel Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Top Mount 2 Door Fridge SR343LSTC Samsung SR343LSTC 341L Layered Steel Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/sr343lstc/external/Samsung-SR343LSTC-341L-Top-Mount-Fridge-Hero-Image-high.jpeg` for `Top Mount 2 Door Fridge SR343LSTC Samsung SR343LSTC 341L Layered Steel Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Samsung-SR343LSTC-341L-Top-Mount-Fridge-Hero-Image-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/sr343lstc/external/Samsung-SR343LSTC-341L-Top-Mount-Fridge-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/sr343lstc/external/Samsung-SR343LSTC-341L-Top-Mount-Fridge-Hero-Image-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/Samsung-SR343LSTC-341L-Top-Mount-Fridge-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/Samsung-SR343LSTC-341L-Top-Mount-Fridge-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `SAMSUNG`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Top Mount 2 Door Fridge SR343LSTC Samsung SR343LSTC 341L Layered Steel Top Mount Fridge` `Product` (ID: 16193)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Top Mount 2 Door Fridge SR398PBTC Samsung SR398PBTC 400L Pebble Blue Top Mount Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Top Mount 2 Door Fridge SR398PBTC Samsung SR398PBTC 400L Pebble Blue Top Mount Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SR398PBTC`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Top Mount 2 Door Fridge SR398PBTC Samsung SR398PBTC 400L Pebble Blue Top Mount Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Top Mount 2 Door Fridge SR398PBTC Samsung SR398PBTC 400L Pebble Blue Top Mount Fridge` `Product`</div>
<div class="progress-msg">Associate post `Top Mount 2 Door Fridge SR398PBTC Samsung SR398PBTC 400L Pebble Blue Top Mount Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Top Mount 2 Door Fridge SR398PBTC Samsung SR398PBTC 400L Pebble Blue Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Top Mount 2 Door Fridge SR398PBTC Samsung SR398PBTC 400L Pebble Blue Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://media.binglee.com.au/media/catalog/product/cache/1/image/533x533/a3171665fa287058fb54529bbaf7b53c/s/r/sr398pbtc_1_med.jpg` for `Top Mount 2 Door Fridge SR398PBTC Samsung SR398PBTC 400L Pebble Blue Top Mount Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image sr398pbtc_1_med.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://media.binglee.com.au/media/catalog/product/cache/1/image/533x533/a3171665fa287058fb54529bbaf7b53c/s/r/sr398pbtc_1_med.jpg`</div>
<div class="progress-msg">- Image `https://media.binglee.com.au/media/catalog/product/cache/1/image/533x533/a3171665fa287058fb54529bbaf7b53c/s/r/sr398pbtc_1_med.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/sr398pbtc_1_med.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/sr398pbtc_1_med.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `SAMSUNG`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Top Mount 2 Door Fridge SR398PBTC Samsung SR398PBTC 400L Pebble Blue Top Mount Fridge` `Product` (ID: 16195)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
