<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WHC322BA 30cm 2 Zone Electric Ceramic Cooktop`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WHC322BA 30cm 2 Zone Electric Ceramic Cooktop`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WHC322BA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WHC322BA 30cm 2 Zone Electric Ceramic Cooktop`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WHC322BA 30cm 2 Zone Electric Ceramic Cooktop` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WHC322BA 30cm 2 Zone Electric Ceramic Cooktop` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WHC322BA 30cm 2 Zone Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WHC322BA 30cm 2 Zone Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/whc322ba/undefined/Westinghouse-WHC322BA-Electric-Cooktop-Hero-Image-high.jpeg` for `Westinghouse WHC322BA 30cm 2 Zone Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WHC322BA-Electric-Cooktop-Hero-Image-high.jpeg` for post `Westinghouse WHC322BA 30cm 2 Zone Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WHC322BA-Electric-Cooktop-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Cooktops`, duplicate detected. Importing Product to existing `Cooktops` product_cat, ID 64, slug `cooktops` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Electric Cooktops`, duplicate detected. Importing Product to existing `Electric Cooktops` product_cat, ID 65, slug `electric-cooktops` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WHC322BA 30cm 2 Zone Electric Ceramic Cooktop` `Product` (ID: 17637)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WHC644BA 60cm Electric Ceramic Cooktop`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WHC644BA 60cm Electric Ceramic Cooktop`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WHC644BA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WHC644BA 60cm Electric Ceramic Cooktop`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WHC644BA 60cm Electric Ceramic Cooktop` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WHC644BA 60cm Electric Ceramic Cooktop` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WHC644BA 60cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WHC644BA 60cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/whc644ba/external/Westinghouse-Electric-Cooktop-WHC644BA-Hero-Image-high.jpeg` for `Westinghouse WHC644BA 60cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-Electric-Cooktop-WHC644BA-Hero-Image-high.jpeg` for post `Westinghouse WHC644BA 60cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-Electric-Cooktop-WHC644BA-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Cooktops`, duplicate detected. Importing Product to existing `Cooktops` product_cat, ID 64, slug `cooktops` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Electric Cooktops`, duplicate detected. Importing Product to existing `Electric Cooktops` product_cat, ID 65, slug `electric-cooktops` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WHC644BA 60cm Electric Ceramic Cooktop` `Product` (ID: 17638)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WHC744BA 70cm Electric Ceramic Cooktop`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WHC744BA 70cm Electric Ceramic Cooktop`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WHC744BA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WHC744BA 70cm Electric Ceramic Cooktop`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WHC744BA 70cm Electric Ceramic Cooktop` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WHC744BA 70cm Electric Ceramic Cooktop` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WHC744BA 70cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WHC744BA 70cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/whc744ba/undefined/Westinghouse-WHC744BA-Electric-Cooktop-Hero-Image-high.jpeg` for `Westinghouse WHC744BA 70cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WHC744BA-Electric-Cooktop-Hero-Image-high.jpeg` for post `Westinghouse WHC744BA 70cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WHC744BA-Electric-Cooktop-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Cooktops`, duplicate detected. Importing Product to existing `Cooktops` product_cat, ID 64, slug `cooktops` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Electric Cooktops`, duplicate detected. Importing Product to existing `Electric Cooktops` product_cat, ID 65, slug `electric-cooktops` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WHC744BA 70cm Electric Ceramic Cooktop` `Product` (ID: 17639)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WHC944BA 90cm Electric Ceramic Cooktop`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WHC944BA 90cm Electric Ceramic Cooktop`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WHC944BA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WHC944BA 90cm Electric Ceramic Cooktop`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WHC944BA 90cm Electric Ceramic Cooktop` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WHC944BA 90cm Electric Ceramic Cooktop` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WHC944BA 90cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WHC944BA 90cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/whc944ba/undefined/Westinghouse-WHC944BA-Electric-Cooktop-Hero-Image-high.jpeg` for `Westinghouse WHC944BA 90cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WHC944BA-Electric-Cooktop-Hero-Image-high.jpeg` for post `Westinghouse WHC944BA 90cm Electric Ceramic Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WHC944BA-Electric-Cooktop-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Cooktops`, duplicate detected. Importing Product to existing `Cooktops` product_cat, ID 64, slug `cooktops` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Electric Cooktops`, duplicate detected. Importing Product to existing `Electric Cooktops` product_cat, ID 65, slug `electric-cooktops` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WHC944BA 90cm Electric Ceramic Cooktop` `Product` (ID: 17640)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WSF6608W 60cm White Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WSF6608W 60cm White Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WSF6608W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WSF6608W 60cm White Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WSF6608W 60cm White Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WSF6608W 60cm White Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WSF6608W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WSF6608W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wsf6608w/external/Westinghouse-Dishwasher-WSF6608W-Hero-high.jpeg` for `Westinghouse WSF6608W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-Dishwasher-WSF6608W-Hero-high.jpeg` for post `Westinghouse WSF6608W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-Dishwasher-WSF6608W-Hero-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dishwashers`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WSF6608W 60cm White Freestanding Dishwasher` `Product` (ID: 17641)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WCM5000WC 500L White Chest Freezer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WCM5000WC 500L White Chest Freezer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WCM5000WC`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WCM5000WC 500L White Chest Freezer`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WCM5000WC 500L White Chest Freezer` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WCM5000WC 500L White Chest Freezer` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WCM5000WC 500L White Chest Freezer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WCM5000WC 500L White Chest Freezer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wcm5000wc/external/Westinghouse-WCM5000WC-500L-Chest-Freezer-Front-Lowered-high.jpeg` for `Westinghouse WCM5000WC 500L White Chest Freezer` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WCM5000WC-500L-Chest-Freezer-Front-Lowered-high.jpeg` for post `Westinghouse WCM5000WC 500L White Chest Freezer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WCM5000WC-500L-Chest-Freezer-Front-Lowered-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fridges & Freezers`, duplicate detected. Importing Product to existing `Fridges &amp; Freezers` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freezers`, duplicate detected. Importing Product to existing `Freezers` product_cat, ID 4334, slug `freezers-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Chest Freezer`, duplicate detected. Importing Product to existing `Chest Freezer` product_cat, ID 4480, slug `chest-freezer` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WCM5000WC 500L White Chest Freezer` `Product` (ID: 17642)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WHI745BA 70cm FamilyFlex Induction Cooktop`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WHI745BA 70cm FamilyFlex Induction Cooktop`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WHI745BA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WHI745BA 70cm FamilyFlex Induction Cooktop`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WHI745BA 70cm FamilyFlex Induction Cooktop` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WHI745BA 70cm FamilyFlex Induction Cooktop` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WHI745BA 70cm FamilyFlex Induction Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WHI745BA 70cm FamilyFlex Induction Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/whi745ba/external/Westinghouse-Induction-Cooktop-WHI745BA-Hero-high.jpeg` for `Westinghouse WHI745BA 70cm FamilyFlex Induction Cooktop` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-Induction-Cooktop-WHI745BA-Hero-high.jpeg` for post `Westinghouse WHI745BA 70cm FamilyFlex Induction Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-Induction-Cooktop-WHI745BA-Hero-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Cooktops`, duplicate detected. Importing Product to existing `Cooktops` product_cat, ID 64, slug `cooktops` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Induction Cooktops`, duplicate detected. Importing Product to existing `Induction Cooktops` product_cat, ID 66, slug `induction-cooktops` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WHI745BA 70cm FamilyFlex Induction Cooktop` `Product` (ID: 17643)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WHG645SA 60cm 4 Burners Gas Cooktop`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WHG645SA 60cm 4 Burners Gas Cooktop`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WHG645SA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WHG645SA 60cm 4 Burners Gas Cooktop`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WHG645SA 60cm 4 Burners Gas Cooktop` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WHG645SA 60cm 4 Burners Gas Cooktop` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WHG645SA 60cm 4 Burners Gas Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WHG645SA 60cm 4 Burners Gas Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/whg645sa/undefined/Westinghouse-WHG645SA-Gas-Cooktop-Hero-Image-high.jpeg` for `Westinghouse WHG645SA 60cm 4 Burners Gas Cooktop` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WHG645SA-Gas-Cooktop-Hero-Image-high.jpeg` for post `Westinghouse WHG645SA 60cm 4 Burners Gas Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WHG645SA-Gas-Cooktop-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Cooktops`, duplicate detected. Importing Product to existing `Cooktops` product_cat, ID 64, slug `cooktops` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Gas Cooktops`, duplicate detected. Importing Product to existing `Gas Cooktops` product_cat, ID 67, slug `gas-cooktops` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WHG645SA 60cm 4 Burners Gas Cooktop` `Product` (ID: 17644)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WMB2802SA 28L 900W Built-in Microwave Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WMB2802SA 28L 900W Built-in Microwave Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WMB2802SA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WMB2802SA 28L 900W Built-in Microwave Oven`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WMB2802SA 28L 900W Built-in Microwave Oven` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WMB2802SA 28L 900W Built-in Microwave Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WMB2802SA 28L 900W Built-in Microwave Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WMB2802SA 28L 900W Built-in Microwave Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wmb2802sa/undefined/Westinghouse-WMB2802SA-28L-Built-in-Microwave-Oven-900W-Hero-high.jpeg` for `Westinghouse WMB2802SA 28L 900W Built-in Microwave Oven` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WMB2802SA-28L-Built-in-Microwave-Oven-900W-Hero-high.jpeg` for post `Westinghouse WMB2802SA 28L 900W Built-in Microwave Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WMB2802SA-28L-Built-in-Microwave-Oven-900W-Hero-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Microwaves`, duplicate detected. Importing Product to existing `Microwaves` product_cat, ID 75, slug `microwaves` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Microwave Ovens`, duplicate detected. Importing Product to existing `Microwave Ovens` product_cat, ID 77, slug `microwave-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WMB2802SA 28L 900W Built-in Microwave Oven` `Product` (ID: 17645)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse GGR475WLPG 60cm Built-in Gas Wall Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse GGR475WLPG 60cm Built-in Gas Wall Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `GGR475WLPG`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse GGR475WLPG 60cm Built-in Gas Wall Oven`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse GGR475WLPG 60cm Built-in Gas Wall Oven` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse GGR475WLPG 60cm Built-in Gas Wall Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse GGR475WLPG 60cm Built-in Gas Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse GGR475WLPG 60cm Built-in Gas Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/ggr475wlpg/external/600mm60cm-Westinghouse-Gas-Wall-Oven-GGR475WLPG-Hero-Image-high.jpeg` for `Westinghouse GGR475WLPG 60cm Built-in Gas Wall Oven` ...</div>
<div class="progress-msg">- Using existing image `600mm60cm-Westinghouse-Gas-Wall-Oven-GGR475WLPG-Hero-Image-high.jpeg` for post `Westinghouse GGR475WLPG 60cm Built-in Gas Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/600mm60cm-Westinghouse-Gas-Wall-Oven-GGR475WLPG-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Single Oven Gas Wall/Undermount`, duplicate detected. Importing Product to existing `Single Oven Gas Wall/Undermount` product_cat, ID 5592, slug `single-oven-gas-wallundermount-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse GGR475WLPG 60cm Built-in Gas Wall Oven` `Product` (ID: 17646)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse PXR698W 60cm 80L Built-in Electric Wall Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse PXR698W 60cm 80L Built-in Electric Wall Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `PXR698W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse PXR698W 60cm 80L Built-in Electric Wall Oven`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse PXR698W 60cm 80L Built-in Electric Wall Oven` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse PXR698W 60cm 80L Built-in Electric Wall Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse PXR698W 60cm 80L Built-in Electric Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse PXR698W 60cm 80L Built-in Electric Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.comparison.com.au/34445/westinghouse_pxr698w_oven.jpg` for `Westinghouse PXR698W 60cm 80L Built-in Electric Wall Oven` ...</div>
<div class="progress-msg">- Using existing image `westinghouse_pxr698w_oven.jpg` for post `Westinghouse PXR698W 60cm 80L Built-in Electric Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/westinghouse_pxr698w_oven.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Single Oven Electric Wall/Undermount`, duplicate detected. Importing Product to existing `Single Oven Electric Wall/Undermount` product_cat, ID 3995, slug `single-oven-electric-wallundermount-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse PXR698W 60cm 80L Built-in Electric Wall Oven` `Product` (ID: 17647)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WLG517WALPG 80L Freestanding Gas Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WLG517WALPG 80L Freestanding Gas Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WLG517WALPG`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WLG517WALPG 80L Freestanding Gas Oven`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WLG517WALPG 80L Freestanding Gas Oven` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WLG517WALPG 80L Freestanding Gas Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WLG517WALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WLG517WALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.comparison.com.au/61749/WLG517WALPG.jpg` for `Westinghouse WLG517WALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- Using existing image `WLG517WALPG.jpg` for post `Westinghouse WLG517WALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/WLG517WALPG.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding Cookers`, duplicate detected. Importing Product to existing `Freestanding Cookers` product_cat, ID 4038, slug `freestanding-cookers-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WLG517WALPG 80L Freestanding Gas Oven` `Product` (ID: 17648)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WFG617SALPG 80L Freestanding Gas Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WFG617SALPG 80L Freestanding Gas Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WFG617SALPG`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WFG617SALPG 80L Freestanding Gas Oven`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WFG617SALPG 80L Freestanding Gas Oven` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WFG617SALPG 80L Freestanding Gas Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WFG617SALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WFG617SALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wfg617salpg/external/Westinghouse-WFG617SALPG-Hero-Image-high.jpeg` for `Westinghouse WFG617SALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WFG617SALPG-Hero-Image-high.jpeg` for post `Westinghouse WFG617SALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WFG617SALPG-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding Cookers`, duplicate detected. Importing Product to existing `Freestanding Cookers` product_cat, ID 4038, slug `freestanding-cookers-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WFG617SALPG 80L Freestanding Gas Oven` `Product` (ID: 17649)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WFG617WALPG 80L Freestanding Gas Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WFG617WALPG 80L Freestanding Gas Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WFG617WALPG`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WFG617WALPG 80L Freestanding Gas Oven`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WFG617WALPG 80L Freestanding Gas Oven` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WFG617WALPG 80L Freestanding Gas Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WFG617WALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WFG617WALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wfg617walpg/external/Westinghouse-WFG617WALPG-Freestanding-Gas-OvenStove-Hero-Image-high.jpeg` for `Westinghouse WFG617WALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WFG617WALPG-Freestanding-Gas-OvenStove-Hero-Image-high.jpeg` for post `Westinghouse WFG617WALPG 80L Freestanding Gas Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WFG617WALPG-Freestanding-Gas-OvenStove-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding Cookers`, duplicate detected. Importing Product to existing `Freestanding Cookers` product_cat, ID 4038, slug `freestanding-cookers-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WFG617WALPG 80L Freestanding Gas Oven` `Product` (ID: 17650)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WVE617W 80L White Electric Multi-function Steam Assist Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WVE617W 80L White Electric Multi-function Steam Assist Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WVE617W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WVE617W 80L White Electric Multi-function Steam Assist Oven`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WVE617W 80L White Electric Multi-function Steam Assist Oven` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WVE617W 80L White Electric Multi-function Steam Assist Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WVE617W 80L White Electric Multi-function Steam Assist Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WVE617W 80L White Electric Multi-function Steam Assist Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wve617w/external/Westinghouse-Electric-Wall-Oven-WVE617W-Hero-Image-high.jpeg` for `Westinghouse WVE617W 80L White Electric Multi-function Steam Assist Oven` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-Electric-Wall-Oven-WVE617W-Hero-Image-high.jpeg` for post `Westinghouse WVE617W 80L White Electric Multi-function Steam Assist Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-Electric-Wall-Oven-WVE617W-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Steam Ovens`, duplicate detected. Importing Product to existing `Steam Ovens` product_cat, ID 4120, slug `steam-ovens-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WVE617W 80L White Electric Multi-function Steam Assist Oven` `Product` (ID: 17651)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WVE626W 80L White Multifunction Electric Wall Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WVE626W 80L White Multifunction Electric Wall Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WVE626W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WVE626W 80L White Multifunction Electric Wall Oven`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WVE626W 80L White Multifunction Electric Wall Oven` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WVE626W 80L White Multifunction Electric Wall Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WVE626W 80L White Multifunction Electric Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WVE626W 80L White Multifunction Electric Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wve626w/external/Westinghouse-WVE626W-Electric-Wall-Oven-Hero-Image-high.jpeg` for `Westinghouse WVE626W 80L White Multifunction Electric Wall Oven` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WVE626W-Electric-Wall-Oven-Hero-Image-high.jpeg` for post `Westinghouse WVE626W 80L White Multifunction Electric Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WVE626W-Electric-Wall-Oven-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Double Ovens`, duplicate detected. Importing Product to existing `Double Ovens` product_cat, ID 4260, slug `double-ovens-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WVE626W 80L White Multifunction Electric Wall Oven` `Product` (ID: 17652)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WVE645S Stainless Steel Fan Forced Electric Wall Oven and Cooktop`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WVE645S Stainless Steel Fan Forced Electric Wall Oven and Cooktop`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WVE645S`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WVE645S Stainless Steel Fan Forced Electric Wall Oven and Cooktop`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WVE645S Stainless Steel Fan Forced Electric Wall Oven and Cooktop` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WVE645S Stainless Steel Fan Forced Electric Wall Oven and Cooktop` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WVE645S Stainless Steel Fan Forced Electric Wall Oven and Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WVE645S Stainless Steel Fan Forced Electric Wall Oven and Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wve645s/external/Westinghouse-WVE645S-Electric-Wall-Oven-and-Cooktop-Pack-high.jpeg` for `Westinghouse WVE645S Stainless Steel Fan Forced Electric Wall Oven and Cooktop` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WVE645S-Electric-Wall-Oven-and-Cooktop-Pack-high.jpeg` for post `Westinghouse WVE645S Stainless Steel Fan Forced Electric Wall Oven and Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WVE645S-Electric-Wall-Oven-and-Cooktop-Pack-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Compact Ovens`, duplicate detected. Importing Product to existing `Compact Ovens` product_cat, ID 4103, slug `compact-ovens-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WVE645S Stainless Steel Fan Forced Electric Wall Oven and Cooktop` `Product` (ID: 17653)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WVG613SLPG 60cm Stainless Steel Gas Wall Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WVG613SLPG 60cm Stainless Steel Gas Wall Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WVG613SLPG`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WVG613SLPG 60cm Stainless Steel Gas Wall Oven`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WVG613SLPG 60cm Stainless Steel Gas Wall Oven` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WVG613SLPG 60cm Stainless Steel Gas Wall Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WVG613SLPG 60cm Stainless Steel Gas Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WVG613SLPG 60cm Stainless Steel Gas Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wvg613slpg/external/Westinghouse-WVG613SLPG-600mm60cm-Gas-Wall-Oven-Hero-Image-high.jpeg` for `Westinghouse WVG613SLPG 60cm Stainless Steel Gas Wall Oven` ...</div>
<div class="progress-msg">- Using existing image `Westinghouse-WVG613SLPG-600mm60cm-Gas-Wall-Oven-Hero-Image-high.jpeg` for post `Westinghouse WVG613SLPG 60cm Stainless Steel Gas Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/Westinghouse-WVG613SLPG-600mm60cm-Gas-Wall-Oven-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Single Oven Gas Wall/Undermount`, duplicate detected. Importing Product to existing `Single Oven Gas Wall/Undermount` product_cat, ID 5592, slug `single-oven-gas-wallundermount-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WVG613SLPG 60cm Stainless Steel Gas Wall Oven` `Product` (ID: 17654)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Westinghouse WVG615W 60cm White Multifunction Gas Wall Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Westinghouse WVG615W 60cm White Multifunction Gas Wall Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WVG615W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WVG615W 60cm White Multifunction Gas Wall Oven`</div>
<div class="progress-msg"><b>CREATING</b> `Westinghouse WVG615W 60cm White Multifunction Gas Wall Oven` `Product`</div>
<div class="progress-msg">Associate post `Westinghouse WVG615W 60cm White Multifunction Gas Wall Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Westinghouse WVG615W 60cm White Multifunction Gas Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Westinghouse WVG615W 60cm White Multifunction Gas Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wvg615w/external/600mm60cm-Westinghouse-Gas-Wall-Oven-WVG615W-Hero-Image-high.jpeg` for `Westinghouse WVG615W 60cm White Multifunction Gas Wall Oven` ...</div>
<div class="progress-msg">- Using existing image `600mm60cm-Westinghouse-Gas-Wall-Oven-WVG615W-Hero-Image-high.jpeg` for post `Westinghouse WVG615W 60cm White Multifunction Gas Wall Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/600mm60cm-Westinghouse-Gas-Wall-Oven-WVG615W-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Westinghouse`, duplicate detected. Importing Product to existing `Westinghouse` product_brand, ID 1775, slug `westinghouse` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Single Oven Gas Wall/Undermount`, duplicate detected. Importing Product to existing `Single Oven Gas Wall/Undermount` product_cat, ID 5592, slug `single-oven-gas-wallundermount-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Westinghouse WVG615W 60cm White Multifunction Gas Wall Oven` `Product` (ID: 17655)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
