<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung UA49K5500AWXXY 49" Quad Core Dark Titan FHD LED TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung UA49K5500AWXXY 49" Quad Core Dark Titan FHD LED TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `UA49K5500AWXXY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung UA49K5500AWXXY 49" Quad Core Dark Titan FHD LED TV`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung UA49K5500AWXXY 49" Quad Core Dark Titan FHD LED TV` `Product`</div>
<div class="progress-msg">Associate post `Samsung UA49K5500AWXXY 49" Quad Core Dark Titan FHD LED TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung UA49K5500AWXXY 49" Quad Core Dark Titan FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung UA49K5500AWXXY 49" Quad Core Dark Titan FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_UA49K5500AWXXY_006_Front_black?$DT-Gallery$` for `Samsung UA49K5500AWXXY 49" Quad Core Dark Titan FHD LED TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_UA49K5500AWXXY_006_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_UA49K5500AWXXY_006_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_UA49K5500AWXXY_006_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA49K5500AWXXY_006_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA49K5500AWXXY_006_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `48 to 60 Inch TVs`, duplicate detected. Importing Product to existing `48 to 60 Inch TVs` product_cat, ID 3565, slug `48-to-60-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung UA49K5500AWXXY 49" Quad Core Dark Titan FHD LED TV` `Product` (ID: 16896)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung UA40K5500AWXXY 40" Quad Core Dark Titan FHD LED TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung UA40K5500AWXXY 40" Quad Core Dark Titan FHD LED TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `UA40K5500AWXXY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung UA40K5500AWXXY 40" Quad Core Dark Titan FHD LED TV`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung UA40K5500AWXXY 40" Quad Core Dark Titan FHD LED TV` `Product`</div>
<div class="progress-msg">Associate post `Samsung UA40K5500AWXXY 40" Quad Core Dark Titan FHD LED TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung UA40K5500AWXXY 40" Quad Core Dark Titan FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung UA40K5500AWXXY 40" Quad Core Dark Titan FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_UA40K5500AWXXY_006_Front_black?$DT-Gallery$` for `Samsung UA40K5500AWXXY 40" Quad Core Dark Titan FHD LED TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_UA40K5500AWXXY_006_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_UA40K5500AWXXY_006_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_UA40K5500AWXXY_006_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA40K5500AWXXY_006_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA40K5500AWXXY_006_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Under 48 Inch TVs`, duplicate detected. Importing Product to existing `Under 48 Inch TVs` product_cat, ID 3053, slug `under-48-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung UA40K5500AWXXY 40" Quad Core Dark Titan FHD LED TV` `Product` (ID: 16898)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung UA32K5500AWXXY 32" Quad Core Dark Titan FHD LED TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung UA32K5500AWXXY 32" Quad Core Dark Titan FHD LED TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `UA32K5500AWXXY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung UA32K5500AWXXY 32" Quad Core Dark Titan FHD LED TV`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung UA32K5500AWXXY 32" Quad Core Dark Titan FHD LED TV` `Product`</div>
<div class="progress-msg">Associate post `Samsung UA32K5500AWXXY 32" Quad Core Dark Titan FHD LED TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung UA32K5500AWXXY 32" Quad Core Dark Titan FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung UA32K5500AWXXY 32" Quad Core Dark Titan FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_UA32K5500AWXXY_006_Front_black?$DT-Gallery$` for `Samsung UA32K5500AWXXY 32" Quad Core Dark Titan FHD LED TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_UA32K5500AWXXY_006_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_UA32K5500AWXXY_006_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_UA32K5500AWXXY_006_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA32K5500AWXXY_006_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA32K5500AWXXY_006_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Under 48 Inch TVs`, duplicate detected. Importing Product to existing `Under 48 Inch TVs` product_cat, ID 3053, slug `under-48-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung UA32K5500AWXXY 32" Quad Core Dark Titan FHD LED TV` `Product` (ID: 16900)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung UA32J4100AWXXY 32" Black HD LED TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung UA32J4100AWXXY 32" Black HD LED TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `UA32J4100AWXXY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung UA32J4100AWXXY 32" Black HD LED TV`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung UA32J4100AWXXY 32" Black HD LED TV` `Product`</div>
<div class="progress-msg">Associate post `Samsung UA32J4100AWXXY 32" Black HD LED TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung UA32J4100AWXXY 32" Black HD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung UA32J4100AWXXY 32" Black HD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_UA32J4100AWXXY_008_Front_black?$DT-Gallery$` for `Samsung UA32J4100AWXXY 32" Black HD LED TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_UA32J4100AWXXY_008_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_UA32J4100AWXXY_008_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_UA32J4100AWXXY_008_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA32J4100AWXXY_008_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA32J4100AWXXY_008_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Under 48 Inch TVs`, duplicate detected. Importing Product to existing `Under 48 Inch TVs` product_cat, ID 3053, slug `under-48-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung UA32J4100AWXXY 32" Black HD LED TV` `Product` (ID: 16902)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung UA28J4100AWXXY 28" Black HD LED TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung UA28J4100AWXXY 28" Black HD LED TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `UA28J4100AWXXY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung UA28J4100AWXXY 28" Black HD LED TV`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung UA28J4100AWXXY 28" Black HD LED TV` `Product`</div>
<div class="progress-msg">Associate post `Samsung UA28J4100AWXXY 28" Black HD LED TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung UA28J4100AWXXY 28" Black HD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung UA28J4100AWXXY 28" Black HD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_UA28J4100AWXXY_001_Front_black?$DT-Gallery$` for `Samsung UA28J4100AWXXY 28" Black HD LED TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_UA28J4100AWXXY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_UA28J4100AWXXY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_UA28J4100AWXXY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA28J4100AWXXY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA28J4100AWXXY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Under 48 Inch TVs`, duplicate detected. Importing Product to existing `Under 48 Inch TVs` product_cat, ID 3053, slug `under-48-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung UA28J4100AWXXY 28" Black HD LED TV` `Product` (ID: 16904)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung UA24J4100AWXXY 24" Black HD LED TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung UA24J4100AWXXY 24" Black HD LED TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `UA24J4100AWXXY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung UA24J4100AWXXY 24" Black HD LED TV`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung UA24J4100AWXXY 24" Black HD LED TV` `Product`</div>
<div class="progress-msg">Associate post `Samsung UA24J4100AWXXY 24" Black HD LED TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung UA24J4100AWXXY 24" Black HD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung UA24J4100AWXXY 24" Black HD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_UA24J4100AWXXY_001_Front_black?$DT-Gallery$` for `Samsung UA24J4100AWXXY 24" Black HD LED TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_UA24J4100AWXXY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_UA24J4100AWXXY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_UA24J4100AWXXY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA24J4100AWXXY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UA24J4100AWXXY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Under 48 Inch TVs`, duplicate detected. Importing Product to existing `Under 48 Inch TVs` product_cat, ID 3053, slug `under-48-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung UA24J4100AWXXY 24" Black HD LED TV` `Product` (ID: 16906)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung SEK-3500U/XS UHD Evolution Kit`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung SEK-3500U/XS UHD Evolution Kit`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SEK-3500U/XS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SEK-3500U/XS UHD Evolution Kit`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung SEK-3500U/XS UHD Evolution Kit` `Product`</div>
<div class="progress-msg">Associate post `Samsung SEK-3500U/XS UHD Evolution Kit` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung SEK-3500U/XS UHD Evolution Kit` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung SEK-3500U/XS UHD Evolution Kit` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/my_SEK-3500U-XS_001_Front_silver?$DT-Gallery$` for `Samsung SEK-3500U/XS UHD Evolution Kit` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image my_SEK-3500U-XS_001_Front_silver.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/my_SEK-3500U-XS_001_Front_silver?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/my_SEK-3500U-XS_001_Front_silver?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/my_SEK-3500U-XS_001_Front_silver.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/my_SEK-3500U-XS_001_Front_silver.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Accessories`, duplicate detected. Importing Product to existing `Accessories` product_cat, ID 3990, slug `accessories` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung SEK-3500U/XS UHD Evolution Kit` `Product` (ID: 16908)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung UBD-K8500/XY 4K Ultra HD Blu-ray Player`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung UBD-K8500/XY 4K Ultra HD Blu-ray Player`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `UBD-K8500/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung UBD-K8500/XY 4K Ultra HD Blu-ray Player`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung UBD-K8500/XY 4K Ultra HD Blu-ray Player` `Product`</div>
<div class="progress-msg">Associate post `Samsung UBD-K8500/XY 4K Ultra HD Blu-ray Player` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung UBD-K8500/XY 4K Ultra HD Blu-ray Player` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung UBD-K8500/XY 4K Ultra HD Blu-ray Player` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_UBD-K8500-XY_001_Front_black?$DT-Gallery$` for `Samsung UBD-K8500/XY 4K Ultra HD Blu-ray Player` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_UBD-K8500-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_UBD-K8500-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_UBD-K8500-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UBD-K8500-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_UBD-K8500-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `DVD, BluRay & PVR`, duplicate detected. Importing Product to existing `DVD, BluRay &amp; PVR` product_cat, ID 49, slug `dvd-blu-ray-players` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung UBD-K8500/XY 4K Ultra HD Blu-ray Player` `Product` (ID: 16910)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung BD-H8500A/XY Dual Core 3D Blu-ray Recorder`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung BD-H8500A/XY Dual Core 3D Blu-ray Recorder`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `BD-H8500A/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung BD-H8500A/XY Dual Core 3D Blu-ray Recorder`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung BD-H8500A/XY Dual Core 3D Blu-ray Recorder` `Product`</div>
<div class="progress-msg">Associate post `Samsung BD-H8500A/XY Dual Core 3D Blu-ray Recorder` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung BD-H8500A/XY Dual Core 3D Blu-ray Recorder` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung BD-H8500A/XY Dual Core 3D Blu-ray Recorder` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_BD-H8500A-XY_006_Front_black?$DT-Gallery$` for `Samsung BD-H8500A/XY Dual Core 3D Blu-ray Recorder` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_BD-H8500A-XY_006_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_BD-H8500A-XY_006_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_BD-H8500A-XY_006_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_BD-H8500A-XY_006_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_BD-H8500A-XY_006_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `DVD, BluRay & PVR`, duplicate detected. Importing Product to existing `DVD, BluRay &amp; PVR` product_cat, ID 49, slug `dvd-blu-ray-players` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung BD-H8500A/XY Dual Core 3D Blu-ray Recorder` `Product` (ID: 16912)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung BD-H6500/XY Dual Core 3D Blu-ray Player`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung BD-H6500/XY Dual Core 3D Blu-ray Player`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `BD-H6500/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung BD-H6500/XY Dual Core 3D Blu-ray Player`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung BD-H6500/XY Dual Core 3D Blu-ray Player` `Product`</div>
<div class="progress-msg">Associate post `Samsung BD-H6500/XY Dual Core 3D Blu-ray Player` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung BD-H6500/XY Dual Core 3D Blu-ray Player` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung BD-H6500/XY Dual Core 3D Blu-ray Player` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_BD-H6500-XY_001_Front_black?$DT-Gallery$` for `Samsung BD-H6500/XY Dual Core 3D Blu-ray Player` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_BD-H6500-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_BD-H6500-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_BD-H6500-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_BD-H6500-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_BD-H6500-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `DVD, BluRay & PVR`, duplicate detected. Importing Product to existing `DVD, BluRay &amp; PVR` product_cat, ID 49, slug `dvd-blu-ray-players` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung BD-H6500/XY Dual Core 3D Blu-ray Player` `Product` (ID: 16914)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung BD-J4500R/XY Blu-ray Player`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung BD-J4500R/XY Blu-ray Player`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `BD-J4500R/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung BD-J4500R/XY Blu-ray Player`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung BD-J4500R/XY Blu-ray Player` `Product`</div>
<div class="progress-msg">Associate post `Samsung BD-J4500R/XY Blu-ray Player` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung BD-J4500R/XY Blu-ray Player` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung BD-J4500R/XY Blu-ray Player` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://doxz7msmg7sxx.cloudfront.net/media/catalog/product/cache/21/image/992x558/9df78eab33525d08d6e5fb8d27136e95/b/l/black_2_13.jpg` for `Samsung BD-J4500R/XY Blu-ray Player` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image black_2_13.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://doxz7msmg7sxx.cloudfront.net/media/catalog/product/cache/21/image/992x558/9df78eab33525d08d6e5fb8d27136e95/b/l/black_2_13.jpg`</div>
<div class="progress-msg">- Image `https://doxz7msmg7sxx.cloudfront.net/media/catalog/product/cache/21/image/992x558/9df78eab33525d08d6e5fb8d27136e95/b/l/black_2_13.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/black_2_13.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/black_2_13.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `DVD, BluRay & PVR`, duplicate detected. Importing Product to existing `DVD, BluRay &amp; PVR` product_cat, ID 49, slug `dvd-blu-ray-players` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung BD-J4500R/XY Blu-ray Player` `Product` (ID: 16916)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung DVD-D530/XY DVD PLAYER`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung DVD-D530/XY DVD PLAYER`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DVD-D530/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung DVD-D530/XY DVD PLAYER`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung DVD-D530/XY DVD PLAYER` `Product`</div>
<div class="progress-msg">Associate post `Samsung DVD-D530/XY DVD PLAYER` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung DVD-D530/XY DVD PLAYER` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung DVD-D530/XY DVD PLAYER` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://media.binglee.com.au/media/catalog/product/cache/1/image/533x533/a3171665fa287058fb54529bbaf7b53c/d/v/dvdd530_med.jpg` for `Samsung DVD-D530/XY DVD PLAYER` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image dvdd530_med.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://media.binglee.com.au/media/catalog/product/cache/1/image/533x533/a3171665fa287058fb54529bbaf7b53c/d/v/dvdd530_med.jpg`</div>
<div class="progress-msg">- Image `https://media.binglee.com.au/media/catalog/product/cache/1/image/533x533/a3171665fa287058fb54529bbaf7b53c/d/v/dvdd530_med.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/dvdd530_med.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/dvdd530_med.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `DVD, BluRay & PVR`, duplicate detected. Importing Product to existing `DVD, BluRay &amp; PVR` product_cat, ID 49, slug `dvd-blu-ray-players` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung DVD-D530/XY DVD PLAYER` `Product` (ID: 16918)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung HT-J7750W/XY 1330W Series 7 Home Theatre System`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung HT-J7750W/XY 1330W Series 7 Home Theatre System`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HT-J7750W/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung HT-J7750W/XY 1330W Series 7 Home Theatre System`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung HT-J7750W/XY 1330W Series 7 Home Theatre System` `Product`</div>
<div class="progress-msg">Associate post `Samsung HT-J7750W/XY 1330W Series 7 Home Theatre System` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung HT-J7750W/XY 1330W Series 7 Home Theatre System` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung HT-J7750W/XY 1330W Series 7 Home Theatre System` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_HT-J7750W-XY_001_Front_black?$DT-Gallery$` for `Samsung HT-J7750W/XY 1330W Series 7 Home Theatre System` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_HT-J7750W-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_HT-J7750W-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_HT-J7750W-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HT-J7750W-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HT-J7750W-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Home Theatre Systems`, duplicate detected. Importing Product to existing `Home Theatre Systems` product_cat, ID 4052, slug `home-theatre-systems` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung HT-J7750W/XY 1330W Series 7 Home Theatre System` `Product` (ID: 16920)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung HT-H6550WM/XY 1000W Series 6 Home Theatre System`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung HT-H6550WM/XY 1000W Series 6 Home Theatre System`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HT-H6550WM/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung HT-H6550WM/XY 1000W Series 6 Home Theatre System`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung HT-H6550WM/XY 1000W Series 6 Home Theatre System` `Product`</div>
<div class="progress-msg">Associate post `Samsung HT-H6550WM/XY 1000W Series 6 Home Theatre System` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung HT-H6550WM/XY 1000W Series 6 Home Theatre System` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung HT-H6550WM/XY 1000W Series 6 Home Theatre System` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_HT-H6550WM-XY_001_Front_black?$DT-Gallery$` for `Samsung HT-H6550WM/XY 1000W Series 6 Home Theatre System` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_HT-H6550WM-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_HT-H6550WM-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_HT-H6550WM-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HT-H6550WM-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HT-H6550WM-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Home Theatre Systems`, duplicate detected. Importing Product to existing `Home Theatre Systems` product_cat, ID 4052, slug `home-theatre-systems` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung HT-H6550WM/XY 1000W Series 6 Home Theatre System` `Product` (ID: 16922)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung HW-J8501R/XY 350W Series 8 Curved Soundbar`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung HW-J8501R/XY 350W Series 8 Curved Soundbar`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HW-J8501R/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung HW-J8501R/XY 350W Series 8 Curved Soundbar`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung HW-J8501R/XY 350W Series 8 Curved Soundbar` `Product`</div>
<div class="progress-msg">Associate post `Samsung HW-J8501R/XY 350W Series 8 Curved Soundbar` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung HW-J8501R/XY 350W Series 8 Curved Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung HW-J8501R/XY 350W Series 8 Curved Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_HW-J8501R-XY_001_Front_silver?$DT-Gallery$` for `Samsung HW-J8501R/XY 350W Series 8 Curved Soundbar` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_HW-J8501R-XY_001_Front_silver.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_HW-J8501R-XY_001_Front_silver?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_HW-J8501R-XY_001_Front_silver?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-J8501R-XY_001_Front_silver.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-J8501R-XY_001_Front_silver.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `SoundBar`, duplicate detected. Importing Product to existing `SoundBar` product_cat, ID 4724, slug `soundbar` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung HW-J8501R/XY 350W Series 8 Curved Soundbar` `Product` (ID: 16924)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung HW-J7501R/XY 320W Series 7 Curved Soundbar`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung HW-J7501R/XY 320W Series 7 Curved Soundbar`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HW-J7501R/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung HW-J7501R/XY 320W Series 7 Curved Soundbar`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung HW-J7501R/XY 320W Series 7 Curved Soundbar` `Product`</div>
<div class="progress-msg">Associate post `Samsung HW-J7501R/XY 320W Series 7 Curved Soundbar` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung HW-J7501R/XY 320W Series 7 Curved Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung HW-J7501R/XY 320W Series 7 Curved Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_HW-J7501R-XY_001_Front_silver?$DT-Gallery$` for `Samsung HW-J7501R/XY 320W Series 7 Curved Soundbar` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_HW-J7501R-XY_001_Front_silver.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_HW-J7501R-XY_001_Front_silver?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_HW-J7501R-XY_001_Front_silver?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-J7501R-XY_001_Front_silver.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-J7501R-XY_001_Front_silver.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `SoundBar`, duplicate detected. Importing Product to existing `SoundBar` product_cat, ID 4724, slug `soundbar` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung HW-J7501R/XY 320W Series 7 Curved Soundbar` `Product` (ID: 16926)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung HW-J6501R/XY 300W Series 6 Curved Soundbar`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung HW-J6501R/XY 300W Series 6 Curved Soundbar`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HW-J6501R/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung HW-J6501R/XY 300W Series 6 Curved Soundbar`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung HW-J6501R/XY 300W Series 6 Curved Soundbar` `Product`</div>
<div class="progress-msg">Associate post `Samsung HW-J6501R/XY 300W Series 6 Curved Soundbar` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung HW-J6501R/XY 300W Series 6 Curved Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung HW-J6501R/XY 300W Series 6 Curved Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_HW-J6501R-XY_001_Front_silver?$DT-Gallery$` for `Samsung HW-J6501R/XY 300W Series 6 Curved Soundbar` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_HW-J6501R-XY_001_Front_silver.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_HW-J6501R-XY_001_Front_silver?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_HW-J6501R-XY_001_Front_silver?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-J6501R-XY_001_Front_silver.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-J6501R-XY_001_Front_silver.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `SoundBar`, duplicate detected. Importing Product to existing `SoundBar` product_cat, ID 4724, slug `soundbar` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung HW-J6501R/XY 300W Series 6 Curved Soundbar` `Product` (ID: 16928)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung HW-K651/XY 340W Series 6 Soundbar`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung HW-K651/XY 340W Series 6 Soundbar`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HW-K651/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung HW-K651/XY 340W Series 6 Soundbar`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung HW-K651/XY 340W Series 6 Soundbar` `Product`</div>
<div class="progress-msg">Associate post `Samsung HW-K651/XY 340W Series 6 Soundbar` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung HW-K651/XY 340W Series 6 Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung HW-K651/XY 340W Series 6 Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_HW-K651-XY_001_Front_silver?$DT-Gallery$` for `Samsung HW-K651/XY 340W Series 6 Soundbar` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_HW-K651-XY_001_Front_silver.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_HW-K651-XY_001_Front_silver?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_HW-K651-XY_001_Front_silver?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-K651-XY_001_Front_silver.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-K651-XY_001_Front_silver.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `SoundBar`, duplicate detected. Importing Product to existing `SoundBar` product_cat, ID 4724, slug `soundbar` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung HW-K651/XY 340W Series 6 Soundbar` `Product` (ID: 16930)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung HW-K550/XY 340W Series 5 Soundbar`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung HW-K550/XY 340W Series 5 Soundbar`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HW-K550/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung HW-K550/XY 340W Series 5 Soundbar`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung HW-K550/XY 340W Series 5 Soundbar` `Product`</div>
<div class="progress-msg">Associate post `Samsung HW-K550/XY 340W Series 5 Soundbar` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung HW-K550/XY 340W Series 5 Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung HW-K550/XY 340W Series 5 Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_HW-K550-XY_001_Front_black?$DT-Gallery$` for `Samsung HW-K550/XY 340W Series 5 Soundbar` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_HW-K550-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_HW-K550-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_HW-K550-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-K550-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-K550-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `SoundBar`, duplicate detected. Importing Product to existing `SoundBar` product_cat, ID 4724, slug `soundbar` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung HW-K550/XY 340W Series 5 Soundbar` `Product` (ID: 16932)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung HW-K450/XY 300W Series 4 Soundbar`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung HW-K450/XY 300W Series 4 Soundbar`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HW-K450/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung HW-K450/XY 300W Series 4 Soundbar`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung HW-K450/XY 300W Series 4 Soundbar` `Product`</div>
<div class="progress-msg">Associate post `Samsung HW-K450/XY 300W Series 4 Soundbar` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung HW-K450/XY 300W Series 4 Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung HW-K450/XY 300W Series 4 Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_HW-K450-XY_001_Front_black?$DT-Gallery$` for `Samsung HW-K450/XY 300W Series 4 Soundbar` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_HW-K450-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_HW-K450-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_HW-K450-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-K450-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-K450-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `SoundBar`, duplicate detected. Importing Product to existing `SoundBar` product_cat, ID 4724, slug `soundbar` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung HW-K450/XY 300W Series 4 Soundbar` `Product` (ID: 16934)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung HW-K360/XY 130W Series 3 Soundbar`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung HW-K360/XY 130W Series 3 Soundbar`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HW-K360/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung HW-K360/XY 130W Series 3 Soundbar`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung HW-K360/XY 130W Series 3 Soundbar` `Product`</div>
<div class="progress-msg">Associate post `Samsung HW-K360/XY 130W Series 3 Soundbar` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung HW-K360/XY 130W Series 3 Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung HW-K360/XY 130W Series 3 Soundbar` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_HW-K360-XY_001_Front_black?$DT-Gallery$` for `Samsung HW-K360/XY 130W Series 3 Soundbar` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_HW-K360-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_HW-K360-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_HW-K360-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-K360-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_HW-K360-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `SoundBar`, duplicate detected. Importing Product to existing `SoundBar` product_cat, ID 4724, slug `soundbar` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung HW-K360/XY 130W Series 3 Soundbar` `Product` (ID: 16936)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung SWA-8000S/XY Wireless Rear Speaker Kit`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung SWA-8000S/XY Wireless Rear Speaker Kit`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SWA-8000S/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SWA-8000S/XY Wireless Rear Speaker Kit`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung SWA-8000S/XY Wireless Rear Speaker Kit` `Product`</div>
<div class="progress-msg">Associate post `Samsung SWA-8000S/XY Wireless Rear Speaker Kit` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung SWA-8000S/XY Wireless Rear Speaker Kit` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung SWA-8000S/XY Wireless Rear Speaker Kit` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.jbhifi.com.au/FileLibrary/ProductResources/Images/183640-L-LO.jpg` for `Samsung SWA-8000S/XY Wireless Rear Speaker Kit` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 183640-L-LO.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.jbhifi.com.au/FileLibrary/ProductResources/Images/183640-L-LO.jpg`</div>
<div class="progress-msg">- Image `https://www.jbhifi.com.au/FileLibrary/ProductResources/Images/183640-L-LO.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/183640-L-LO.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/183640-L-LO.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `SoundBar`, duplicate detected. Importing Product to existing `SoundBar` product_cat, ID 4724, slug `soundbar` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung SWA-8000S/XY Wireless Rear Speaker Kit` `Product` (ID: 16938)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WAM250/XY M2 Multiroom Hub`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WAM250/XY M2 Multiroom Hub`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WAM250/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WAM250/XY M2 Multiroom Hub`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WAM250/XY M2 Multiroom Hub` `Product`</div>
<div class="progress-msg">Associate post `Samsung WAM250/XY M2 Multiroom Hub` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WAM250/XY M2 Multiroom Hub` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WAM250/XY M2 Multiroom Hub` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WAM250-XY_001_Front_black?$DT-Gallery$` for `Samsung WAM250/XY M2 Multiroom Hub` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WAM250-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WAM250-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WAM250-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WAM250-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WAM250-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Portable Audio`, duplicate detected. Importing Product to existing `Portable Audio` product_cat, ID 112, slug `portable-audio` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WAM250/XY M2 Multiroom Hub` `Product` (ID: 16940)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WAM1500/XY Wireless Multiroom 360 Sound Speaker`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WAM1500/XY Wireless Multiroom 360 Sound Speaker`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WAM1500/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WAM1500/XY Wireless Multiroom 360 Sound Speaker`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WAM1500/XY Wireless Multiroom 360 Sound Speaker` `Product`</div>
<div class="progress-msg">Associate post `Samsung WAM1500/XY Wireless Multiroom 360 Sound Speaker` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WAM1500/XY Wireless Multiroom 360 Sound Speaker` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WAM1500/XY Wireless Multiroom 360 Sound Speaker` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WAM1500-XY_001_Front_black?$DT-Gallery$` for `Samsung WAM1500/XY Wireless Multiroom 360 Sound Speaker` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WAM1500-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WAM1500-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WAM1500-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WAM1500-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WAM1500-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Portable Audio`, duplicate detected. Importing Product to existing `Portable Audio` product_cat, ID 112, slug `portable-audio` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WAM1500/XY Wireless Multiroom 360 Sound Speaker` `Product` (ID: 16942)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WAM3500/XY Wireless Multiroom 360 Sound Speaker`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WAM3500/XY Wireless Multiroom 360 Sound Speaker`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WAM3500/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WAM3500/XY Wireless Multiroom 360 Sound Speaker`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WAM3500/XY Wireless Multiroom 360 Sound Speaker` `Product`</div>
<div class="progress-msg">Associate post `Samsung WAM3500/XY Wireless Multiroom 360 Sound Speaker` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WAM3500/XY Wireless Multiroom 360 Sound Speaker` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WAM3500/XY Wireless Multiroom 360 Sound Speaker` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WAM3500-XY_001_Front_black?$DT-Gallery$` for `Samsung WAM3500/XY Wireless Multiroom 360 Sound Speaker` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WAM3500-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WAM3500-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WAM3500-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WAM3500-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WAM3500-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Portable Audio`, duplicate detected. Importing Product to existing `Portable Audio` product_cat, ID 112, slug `portable-audio` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WAM3500/XY Wireless Multiroom 360 Sound Speaker` `Product` (ID: 16944)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WAM5500/XY Wireless Multiroom 360 Sound Speaker`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WAM5500/XY Wireless Multiroom 360 Sound Speaker`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WAM5500/XY`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WAM5500/XY Wireless Multiroom 360 Sound Speaker`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WAM5500/XY Wireless Multiroom 360 Sound Speaker` `Product`</div>
<div class="progress-msg">Associate post `Samsung WAM5500/XY Wireless Multiroom 360 Sound Speaker` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WAM5500/XY Wireless Multiroom 360 Sound Speaker` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WAM5500/XY Wireless Multiroom 360 Sound Speaker` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WAM5500-XY_001_Front_black?$DT-Gallery$` for `Samsung WAM5500/XY Wireless Multiroom 360 Sound Speaker` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WAM5500-XY_001_Front_black.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WAM5500-XY_001_Front_black?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WAM5500-XY_001_Front_black?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WAM5500-XY_001_Front_black.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WAM5500-XY_001_Front_black.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Audio & Electronics`, duplicate detected. Importing Product to existing `Audio &amp; Electronics` product_cat, ID 8, slug `audio-electronics` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Portable Audio`, duplicate detected. Importing Product to existing `Portable Audio` product_cat, ID 112, slug `portable-audio` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WAM5500/XY Wireless Multiroom 360 Sound Speaker` `Product` (ID: 16946)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
