<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Panasonic DMCFT30GNR Panasonic - Lumix Tough 16.1MP Digital Still Camera - Red`</div>
<div class="progress-msg">Preserve slug of already existing article for `Panasonic DMCFT30GNR Panasonic - Lumix Tough 16.1MP Digital Still Camera - Red`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Panasonic DMCFT30GNR Panasonic - Lumix Tough 16.1MP Digital Still Camera - Red`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Panasonic DMCFT30GNR Panasonic - Lumix Tough 16.1MP Digital Still Camera - Red`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Panasonic DMCFT30GNR Panasonic - Lumix Tough 16.1MP Digital Still Camera - Red`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Panasonic DMCFT30GNR Panasonic - Lumix Tough 16.1MP Digital Still Camera - Red`</div>
<div class="progress-msg">Preserve post author of already existing article for `Panasonic DMCFT30GNR Panasonic - Lumix Tough 16.1MP Digital Still Camera - Red`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Panasonic DMCFT30GNR Panasonic - Lumix Tough 16.1MP Digital Still Camera - Red`</div>
<div class="progress-msg"><b>UPDATING</b> `Panasonic DMCFT30GNR Panasonic - Lumix Tough 16.1MP Digital Still Camera - Red` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Panasonic DMCFT30GNR Panasonic - Lumix Tough 16.1MP Digital Still Camera - Red` `Product` (ID: 18324)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung 1091002203 Samsung - 32GB Galaxy Note 5 - Black`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung 1091002203 Samsung - 32GB Galaxy Note 5 - Black`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung 1091002203 Samsung - 32GB Galaxy Note 5 - Black`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung 1091002203 Samsung - 32GB Galaxy Note 5 - Black`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung 1091002203 Samsung - 32GB Galaxy Note 5 - Black`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung 1091002203 Samsung - 32GB Galaxy Note 5 - Black`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung 1091002203 Samsung - 32GB Galaxy Note 5 - Black`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung 1091002203 Samsung - 32GB Galaxy Note 5 - Black`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung 1091002203 Samsung - 32GB Galaxy Note 5 - Black` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung 1091002203 Samsung - 32GB Galaxy Note 5 - Black` `Product` (ID: 18450)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung 1091002465 Samsung - 64GB Galaxy Note 5 - Gold`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung 1091002465 Samsung - 64GB Galaxy Note 5 - Gold`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung 1091002465 Samsung - 64GB Galaxy Note 5 - Gold`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung 1091002465 Samsung - 64GB Galaxy Note 5 - Gold`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung 1091002465 Samsung - 64GB Galaxy Note 5 - Gold`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung 1091002465 Samsung - 64GB Galaxy Note 5 - Gold`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung 1091002465 Samsung - 64GB Galaxy Note 5 - Gold`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung 1091002465 Samsung - 64GB Galaxy Note 5 - Gold`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung 1091002465 Samsung - 64GB Galaxy Note 5 - Gold` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung 1091002465 Samsung - 64GB Galaxy Note 5 - Gold` `Product` (ID: 18452)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung 1091001738 Samsung - 32GB Galaxy S6 - Black`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung 1091001738 Samsung - 32GB Galaxy S6 - Black`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung 1091001738 Samsung - 32GB Galaxy S6 - Black`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung 1091001738 Samsung - 32GB Galaxy S6 - Black`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung 1091001738 Samsung - 32GB Galaxy S6 - Black`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung 1091001738 Samsung - 32GB Galaxy S6 - Black`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung 1091001738 Samsung - 32GB Galaxy S6 - Black`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung 1091001738 Samsung - 32GB Galaxy S6 - Black`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung 1091001738 Samsung - 32GB Galaxy S6 - Black` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung 1091001738 Samsung - 32GB Galaxy S6 - Black` `Product` (ID: 18454)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung 1091001735 Samsung - 32GB Galaxy S6 - Gold`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung 1091001735 Samsung - 32GB Galaxy S6 - Gold`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung 1091001735 Samsung - 32GB Galaxy S6 - Gold`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung 1091001735 Samsung - 32GB Galaxy S6 - Gold`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung 1091001735 Samsung - 32GB Galaxy S6 - Gold`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung 1091001735 Samsung - 32GB Galaxy S6 - Gold`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung 1091001735 Samsung - 32GB Galaxy S6 - Gold`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung 1091001735 Samsung - 32GB Galaxy S6 - Gold`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung 1091001735 Samsung - 32GB Galaxy S6 - Gold` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung 1091001735 Samsung - 32GB Galaxy S6 - Gold` `Product` (ID: 18456)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung 1091001749 Samsung - 64GB Galaxy S6 Edge - Gold`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung 1091001749 Samsung - 64GB Galaxy S6 Edge - Gold`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung 1091001749 Samsung - 64GB Galaxy S6 Edge - Gold`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung 1091001749 Samsung - 64GB Galaxy S6 Edge - Gold`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung 1091001749 Samsung - 64GB Galaxy S6 Edge - Gold`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung 1091001749 Samsung - 64GB Galaxy S6 Edge - Gold`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung 1091001749 Samsung - 64GB Galaxy S6 Edge - Gold`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung 1091001749 Samsung - 64GB Galaxy S6 Edge - Gold`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung 1091001749 Samsung - 64GB Galaxy S6 Edge - Gold` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung 1091001749 Samsung - 64GB Galaxy S6 Edge - Gold` `Product` (ID: 18458)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung 1091100818 Samsung - Gear VR - White`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung 1091100818 Samsung - Gear VR - White`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung 1091100818 Samsung - Gear VR - White`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung 1091100818 Samsung - Gear VR - White`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung 1091100818 Samsung - Gear VR - White`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung 1091100818 Samsung - Gear VR - White`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung 1091100818 Samsung - Gear VR - White`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung 1091100818 Samsung - Gear VR - White`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung 1091100818 Samsung - Gear VR - White` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung 1091100818 Samsung - Gear VR - White` `Product` (ID: 18490)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Apple MD101XA Apple - MacBook Pro 13" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve slug of already existing article for `Apple MD101XA Apple - MacBook Pro 13" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Apple MD101XA Apple - MacBook Pro 13" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Apple MD101XA Apple - MacBook Pro 13" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Apple MD101XA Apple - MacBook Pro 13" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Apple MD101XA Apple - MacBook Pro 13" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve post author of already existing article for `Apple MD101XA Apple - MacBook Pro 13" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Apple MD101XA Apple - MacBook Pro 13" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg"><b>UPDATING</b> `Apple MD101XA Apple - MacBook Pro 13" 4GB RAM Laptop - Silver` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Apple MD101XA Apple - MacBook Pro 13" 4GB RAM Laptop - Silver` `Product` (ID: 18598)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Logitech 984000514 Logitech - UE Roll Portable Wireless Speaker - Black`</div>
<div class="progress-msg">Preserve slug of already existing article for `Logitech 984000514 Logitech - UE Roll Portable Wireless Speaker - Black`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Logitech 984000514 Logitech - UE Roll Portable Wireless Speaker - Black`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Logitech 984000514 Logitech - UE Roll Portable Wireless Speaker - Black`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Logitech 984000514 Logitech - UE Roll Portable Wireless Speaker - Black`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Logitech 984000514 Logitech - UE Roll Portable Wireless Speaker - Black`</div>
<div class="progress-msg">Preserve post author of already existing article for `Logitech 984000514 Logitech - UE Roll Portable Wireless Speaker - Black`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Logitech 984000514 Logitech - UE Roll Portable Wireless Speaker - Black`</div>
<div class="progress-msg"><b>UPDATING</b> `Logitech 984000514 Logitech - UE Roll Portable Wireless Speaker - Black` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Logitech 984000514 Logitech - UE Roll Portable Wireless Speaker - Black` `Product` (ID: 18648)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung SMT810NZWEXSA Samsung - 9.7" 32GB Galaxy Tab S2 - White`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung SMT810NZWEXSA Samsung - 9.7" 32GB Galaxy Tab S2 - White`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung SMT810NZWEXSA Samsung - 9.7" 32GB Galaxy Tab S2 - White`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung SMT810NZWEXSA Samsung - 9.7" 32GB Galaxy Tab S2 - White`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung SMT810NZWEXSA Samsung - 9.7" 32GB Galaxy Tab S2 - White`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung SMT810NZWEXSA Samsung - 9.7" 32GB Galaxy Tab S2 - White`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung SMT810NZWEXSA Samsung - 9.7" 32GB Galaxy Tab S2 - White`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SMT810NZWEXSA Samsung - 9.7" 32GB Galaxy Tab S2 - White`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung SMT810NZWEXSA Samsung - 9.7" 32GB Galaxy Tab S2 - White` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung SMT810NZWEXSA Samsung - 9.7" 32GB Galaxy Tab S2 - White` `Product` (ID: 18698)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Apple MJVM2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve slug of already existing article for `Apple MJVM2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Apple MJVM2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Apple MJVM2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Apple MJVM2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Apple MJVM2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve post author of already existing article for `Apple MJVM2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Apple MJVM2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg"><b>UPDATING</b> `Apple MJVM2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Apple MJVM2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver` `Product` (ID: 18722)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Apple MJVP2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve slug of already existing article for `Apple MJVP2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Apple MJVP2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Apple MJVP2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Apple MJVP2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Apple MJVP2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Preserve post author of already existing article for `Apple MJVP2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Apple MJVP2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver`</div>
<div class="progress-msg"><b>UPDATING</b> `Apple MJVP2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Apple MJVP2XA Apple - MacBook Air 11" 4GB RAM Laptop - Silver` `Product` (ID: 18724)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Apple MF841XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve slug of already existing article for `Apple MF841XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Apple MF841XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Apple MF841XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Apple MF841XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Apple MF841XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve post author of already existing article for `Apple MF841XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Apple MF841XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg"><b>UPDATING</b> `Apple MF841XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Apple MF841XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver` `Product` (ID: 18732)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Apple MJLT2XA Apple - MacBook Pro 15.4" 16GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve slug of already existing article for `Apple MJLT2XA Apple - MacBook Pro 15.4" 16GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Apple MJLT2XA Apple - MacBook Pro 15.4" 16GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Apple MJLT2XA Apple - MacBook Pro 15.4" 16GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Apple MJLT2XA Apple - MacBook Pro 15.4" 16GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Apple MJLT2XA Apple - MacBook Pro 15.4" 16GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve post author of already existing article for `Apple MJLT2XA Apple - MacBook Pro 15.4" 16GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Apple MJLT2XA Apple - MacBook Pro 15.4" 16GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg"><b>UPDATING</b> `Apple MJLT2XA Apple - MacBook Pro 15.4" 16GB RAM Laptop with Retina Display - Silver` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Apple MJLT2XA Apple - MacBook Pro 15.4" 16GB RAM Laptop with Retina Display - Silver` `Product` (ID: 18742)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Apple MF840XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve slug of already existing article for `Apple MF840XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Apple MF840XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Apple MF840XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Apple MF840XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Apple MF840XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Preserve post author of already existing article for `Apple MF840XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Apple MF840XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver`</div>
<div class="progress-msg"><b>UPDATING</b> `Apple MF840XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Apple MF840XA Apple - MacBook Pro 13" 8GB RAM Laptop with Retina Display - Silver` `Product` (ID: 18746)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `HP P4X74PA HP - Envy 13.3" 8GB RAM Notebook - Black`</div>
<div class="progress-msg">Preserve slug of already existing article for `HP P4X74PA HP - Envy 13.3" 8GB RAM Notebook - Black`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `HP P4X74PA HP - Envy 13.3" 8GB RAM Notebook - Black`</div>
<div class="progress-msg">Preserve menu order of already existing article for `HP P4X74PA HP - Envy 13.3" 8GB RAM Notebook - Black`</div>
<div class="progress-msg">Preserve post parent of already existing article for `HP P4X74PA HP - Envy 13.3" 8GB RAM Notebook - Black`</div>
<div class="progress-msg">Preserve comment status of already existing article for `HP P4X74PA HP - Envy 13.3" 8GB RAM Notebook - Black`</div>
<div class="progress-msg">Preserve post author of already existing article for `HP P4X74PA HP - Envy 13.3" 8GB RAM Notebook - Black`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `HP P4X74PA HP - Envy 13.3" 8GB RAM Notebook - Black`</div>
<div class="progress-msg"><b>UPDATING</b> `HP P4X74PA HP - Envy 13.3" 8GB RAM Notebook - Black` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `HP P4X74PA HP - Envy 13.3" 8GB RAM Notebook - Black` `Product` (ID: 18760)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `3drsolo SA13A 3DR - Solo Aerial Drone - Black`</div>
<div class="progress-msg">Preserve slug of already existing article for `3drsolo SA13A 3DR - Solo Aerial Drone - Black`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `3drsolo SA13A 3DR - Solo Aerial Drone - Black`</div>
<div class="progress-msg">Preserve menu order of already existing article for `3drsolo SA13A 3DR - Solo Aerial Drone - Black`</div>
<div class="progress-msg">Preserve post parent of already existing article for `3drsolo SA13A 3DR - Solo Aerial Drone - Black`</div>
<div class="progress-msg">Preserve comment status of already existing article for `3drsolo SA13A 3DR - Solo Aerial Drone - Black`</div>
<div class="progress-msg">Preserve post author of already existing article for `3drsolo SA13A 3DR - Solo Aerial Drone - Black`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `3drsolo SA13A 3DR - Solo Aerial Drone - Black`</div>
<div class="progress-msg"><b>UPDATING</b> `3drsolo SA13A 3DR - Solo Aerial Drone - Black` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `3drsolo SA13A 3DR - Solo Aerial Drone - Black` `Product` (ID: 18940)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Sony 9211983 Sony - PS4 DualShock 4 Controller - Black`</div>
<div class="progress-msg">Preserve slug of already existing article for `Sony 9211983 Sony - PS4 DualShock 4 Controller - Black`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Sony 9211983 Sony - PS4 DualShock 4 Controller - Black`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Sony 9211983 Sony - PS4 DualShock 4 Controller - Black`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Sony 9211983 Sony - PS4 DualShock 4 Controller - Black`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Sony 9211983 Sony - PS4 DualShock 4 Controller - Black`</div>
<div class="progress-msg">Preserve post author of already existing article for `Sony 9211983 Sony - PS4 DualShock 4 Controller - Black`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony 9211983 Sony - PS4 DualShock 4 Controller - Black`</div>
<div class="progress-msg"><b>UPDATING</b> `Sony 9211983 Sony - PS4 DualShock 4 Controller - Black` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Sony 9211983 Sony - PS4 DualShock 4 Controller - Black` `Product` (ID: 18944)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Sony 9278375 Sony - PS4 Infamous Second Son Game`</div>
<div class="progress-msg">Preserve slug of already existing article for `Sony 9278375 Sony - PS4 Infamous Second Son Game`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Sony 9278375 Sony - PS4 Infamous Second Son Game`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Sony 9278375 Sony - PS4 Infamous Second Son Game`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Sony 9278375 Sony - PS4 Infamous Second Son Game`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Sony 9278375 Sony - PS4 Infamous Second Son Game`</div>
<div class="progress-msg">Preserve post author of already existing article for `Sony 9278375 Sony - PS4 Infamous Second Son Game`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony 9278375 Sony - PS4 Infamous Second Son Game`</div>
<div class="progress-msg"><b>UPDATING</b> `Sony 9278375 Sony - PS4 Infamous Second Son Game` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Sony 9278375 Sony - PS4 Infamous Second Son Game` `Product` (ID: 18946)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Sony 9278375BDL Sony - PS4  500GB Game Console - Black + Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve slug of already existing article for `Sony 9278375BDL Sony - PS4  500GB Game Console - Black + Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Sony 9278375BDL Sony - PS4  500GB Game Console - Black + Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Sony 9278375BDL Sony - PS4  500GB Game Console - Black + Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Sony 9278375BDL Sony - PS4  500GB Game Console - Black + Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Sony 9278375BDL Sony - PS4  500GB Game Console - Black + Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve post author of already existing article for `Sony 9278375BDL Sony - PS4  500GB Game Console - Black + Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony 9278375BDL Sony - PS4  500GB Game Console - Black + Infamous Second Son Game Bundle`</div>
<div class="progress-msg"><b>UPDATING</b> `Sony 9278375BDL Sony - PS4  500GB Game Console - Black + Infamous Second Son Game Bundle` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Sony 9278375BDL Sony - PS4  500GB Game Console - Black + Infamous Second Son Game Bundle` `Product` (ID: 18948)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Sony PS4BUNDLE Sony - PS4  500GB Game Console - Black + Driveclub & Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve slug of already existing article for `Sony PS4BUNDLE Sony - PS4  500GB Game Console - Black + Driveclub & Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Sony PS4BUNDLE Sony - PS4  500GB Game Console - Black + Driveclub & Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Sony PS4BUNDLE Sony - PS4  500GB Game Console - Black + Driveclub & Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Sony PS4BUNDLE Sony - PS4  500GB Game Console - Black + Driveclub & Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Sony PS4BUNDLE Sony - PS4  500GB Game Console - Black + Driveclub & Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Preserve post author of already existing article for `Sony PS4BUNDLE Sony - PS4  500GB Game Console - Black + Driveclub & Infamous Second Son Game Bundle`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony PS4BUNDLE Sony - PS4  500GB Game Console - Black + Driveclub & Infamous Second Son Game Bundle`</div>
<div class="progress-msg"><b>UPDATING</b> `Sony PS4BUNDLE Sony - PS4  500GB Game Console - Black + Driveclub & Infamous Second Son Game Bundle` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Sony PS4BUNDLE Sony - PS4  500GB Game Console - Black + Driveclub & Infamous Second Son Game Bundle` `Product` (ID: 18950)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve status of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Sony 9834632 Sony - PS4 500GB Game Console - Black`</div>
<div class="progress-msg">Preserve slug of already existing article for `Sony 9834632 Sony - PS4 500GB Game Console - Black`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Sony 9834632 Sony - PS4 500GB Game Console - Black`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Sony 9834632 Sony - PS4 500GB Game Console - Black`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Sony 9834632 Sony - PS4 500GB Game Console - Black`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Sony 9834632 Sony - PS4 500GB Game Console - Black`</div>
<div class="progress-msg">Preserve post author of already existing article for `Sony 9834632 Sony - PS4 500GB Game Console - Black`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony 9834632 Sony - PS4 500GB Game Console - Black`</div>
<div class="progress-msg"><b>UPDATING</b> `Sony 9834632 Sony - PS4 500GB Game Console - Black` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Sony 9834632 Sony - PS4 500GB Game Console - Black` `Product` (ID: 18952)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
