<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Duravit 0349600000 DuraStyle 600mm Above Counter Basin`...</div>
<div class="progress-msg">Find corresponding article among database for post `Duravit 0349600000 DuraStyle 600mm Above Counter Basin`...</div>
<div class="progress-msg">Duplicate post was found for post `Duravit 0349600000 DuraStyle 600mm Above Counter Basin`...</div>
<div class="progress-msg">Deleting attachments for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin`</div>
<div class="progress-msg">Deleting images for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin`</div>
<div class="progress-msg"><b>UPDATING</b> `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` `Product`</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sku has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _edit_last has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _edit_lock has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_rating_count has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_average_rating has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_review_count has been deleted for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Duravit 349600000 DuraStyle 600mm Above Counter Basin |HaggleFree` for post `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Get HaggleFree quotes from your local retailers on Duravit 349600000 DuraStyle 600mm Above Counter Basin Colour :White| Save up to 25%` for post `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/0/3/0349600000_web.jpg` for `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` ...</div>
<div class="progress-msg">- Using existing image `0349600000_web.jpg` for post `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/0349600000_web.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Duravit`, duplicate detected. Importing Product to existing `Duravit` product_brand, ID 329, slug `duravit` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Above Counter Basins`, duplicate detected. Importing Product to existing `Above Counter Basins` product_cat, ID 3228, slug `above-counter-basins` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Duravit 0349600000 DuraStyle 600mm Above Counter Basin` `Product` (ID: 11354)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Duravit 2321440000 Starck 2 440mm Above Counter Basin`...</div>
<div class="progress-msg">Find corresponding article among database for post `Duravit 2321440000 Starck 2 440mm Above Counter Basin`...</div>
<div class="progress-msg">Duplicate post was found for post `Duravit 2321440000 Starck 2 440mm Above Counter Basin`...</div>
<div class="progress-msg">Deleting attachments for `Duravit 2321440000 Starck 2 440mm Above Counter Basin`</div>
<div class="progress-msg">Deleting images for `Duravit 2321440000 Starck 2 440mm Above Counter Basin`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Duravit 2321440000 Starck 2 440mm Above Counter Basin`</div>
<div class="progress-msg"><b>UPDATING</b> `Duravit 2321440000 Starck 2 440mm Above Counter Basin` `Product`</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_rating_count has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_average_rating has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sku has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_review_count has been deleted for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Duravit 2321440000 Starck 2 440mm Above Counter Basin |HaggleFree` for post `Duravit 2321440000 Starck 2 440mm Above Counter Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Get HaggleFree quotes from your local retailers on Duravit 2321440000 Starck 2 440mm Above Counter Basin Colour :White| Save up to 25%` for post `Duravit 2321440000 Starck 2 440mm Above Counter Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/2/3/2321440000_web.jpg` for `Duravit 2321440000 Starck 2 440mm Above Counter Basin` ...</div>
<div class="progress-msg">- Using existing image `2321440000_web.jpg` for post `Duravit 2321440000 Starck 2 440mm Above Counter Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/2321440000_web.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Duravit`, duplicate detected. Importing Product to existing `Duravit` product_brand, ID 329, slug `duravit` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Above Counter Basins`, duplicate detected. Importing Product to existing `Above Counter Basins` product_cat, ID 3228, slug `above-counter-basins` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Duravit 2321440000 Starck 2 440mm Above Counter Basin` `Product` (ID: 11361)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Geberit 170130211 Geberit Diseno Bottle Trap`...</div>
<div class="progress-msg">Find corresponding article among database for post `Geberit 170130211 Geberit Diseno Bottle Trap`...</div>
<div class="progress-msg">Duplicate post was found for post `Geberit 170130211 Geberit Diseno Bottle Trap`...</div>
<div class="progress-msg">Deleting attachments for `Geberit 170130211 Geberit Diseno Bottle Trap`</div>
<div class="progress-msg">Deleting images for `Geberit 170130211 Geberit Diseno Bottle Trap`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Geberit 170130211 Geberit Diseno Bottle Trap`</div>
<div class="progress-msg"><b>UPDATING</b> `Geberit 170130211 Geberit Diseno Bottle Trap` `Product`</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sku has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_rating_count has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_average_rating has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_review_count has been deleted for `Geberit 170130211 Geberit Diseno Bottle Trap` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Geberit 170130211 Geberit Diseno Bottle Trap |HaggleFree` for post `Geberit 170130211 Geberit Diseno Bottle Trap` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Get HaggleFree quotes from your local retailers on Geberit 170130211 Geberit Diseno Bottle Trap Colour :Chrome Plated| Save up to 25%` for post `Geberit 170130211 Geberit Diseno Bottle Trap` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/1/7/170130211_web.jpg` for `Geberit 170130211 Geberit Diseno Bottle Trap` ...</div>
<div class="progress-msg">- Using existing image `170130211_web.jpg` for post `Geberit 170130211 Geberit Diseno Bottle Trap` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/170130211_web.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Geberit`, duplicate detected. Importing Product to existing `Geberit` product_brand, ID 561, slug `geberit` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Bottle Traps`, duplicate detected. Importing Product to existing `Bottle Traps` product_cat, ID 3183, slug `bottle-traps` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Geberit 170130211 Geberit Diseno Bottle Trap` `Product` (ID: 11349)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Duravit 0337540000 D Code 545mm Inset Basin`...</div>
<div class="progress-msg">Find corresponding article among database for post `Duravit 0337540000 D Code 545mm Inset Basin`...</div>
<div class="progress-msg">Duplicate post was found for post `Duravit 0337540000 D Code 545mm Inset Basin`...</div>
<div class="progress-msg">Deleting attachments for `Duravit 0337540000 D Code 545mm Inset Basin`</div>
<div class="progress-msg">Deleting images for `Duravit 0337540000 D Code 545mm Inset Basin`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Duravit 0337540000 D Code 545mm Inset Basin`</div>
<div class="progress-msg"><b>UPDATING</b> `Duravit 0337540000 D Code 545mm Inset Basin` `Product`</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sku has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _edit_last has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _edit_lock has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_rating_count has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_average_rating has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_review_count has been deleted for `Duravit 0337540000 D Code 545mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Duravit 337540000 D Code 545mm Inset Basin |Get HaggleFree prices` for post `Duravit 0337540000 D Code 545mm Inset Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Let HaggleFree find the cheapest prices from your local retailers on Duravit 337540000 D Code 545mm Inset Basin Colour :White| You could save up to 25% on retail prices` for post `Duravit 0337540000 D Code 545mm Inset Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/0/3/0337540000_web.jpg` for `Duravit 0337540000 D Code 545mm Inset Basin` ...</div>
<div class="progress-msg">- Using existing image `0337540000_web.jpg` for post `Duravit 0337540000 D Code 545mm Inset Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/0337540000_web.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Duravit`, duplicate detected. Importing Product to existing `Duravit` product_brand, ID 329, slug `duravit` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Inset Basins`, duplicate detected. Importing Product to existing `Inset Basins` product_cat, ID 3359, slug `inset-basins` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Duravit 0337540000 D Code 545mm Inset Basin` `Product` (ID: 11351)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Duravit 0374560000 DuraStyle 560mm Inset Basin`...</div>
<div class="progress-msg">Find corresponding article among database for post `Duravit 0374560000 DuraStyle 560mm Inset Basin`...</div>
<div class="progress-msg">Duplicate post was found for post `Duravit 0374560000 DuraStyle 560mm Inset Basin`...</div>
<div class="progress-msg">Deleting attachments for `Duravit 0374560000 DuraStyle 560mm Inset Basin`</div>
<div class="progress-msg">Deleting images for `Duravit 0374560000 DuraStyle 560mm Inset Basin`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Duravit 0374560000 DuraStyle 560mm Inset Basin`</div>
<div class="progress-msg"><b>UPDATING</b> `Duravit 0374560000 DuraStyle 560mm Inset Basin` `Product`</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sku has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _edit_last has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _edit_lock has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_rating_count has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_average_rating has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_review_count has been deleted for `Duravit 0374560000 DuraStyle 560mm Inset Basin` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Duravit 374560000 DuraStyle 560mm Inset Basin |HaggleFree` for post `Duravit 0374560000 DuraStyle 560mm Inset Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Get HaggleFree quotes from your local retailers on Duravit 374560000 DuraStyle 560mm Inset Basin Colour :White| Save up to 25%` for post `Duravit 0374560000 DuraStyle 560mm Inset Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/0/3/0374560000_web.jpg` for `Duravit 0374560000 DuraStyle 560mm Inset Basin` ...</div>
<div class="progress-msg">- Using existing image `0374560000_web.jpg` for post `Duravit 0374560000 DuraStyle 560mm Inset Basin` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/0374560000_web.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Duravit`, duplicate detected. Importing Product to existing `Duravit` product_brand, ID 329, slug `duravit` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Inset Basins`, duplicate detected. Importing Product to existing `Inset Basins` product_cat, ID 3359, slug `inset-basins` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Duravit 0374560000 DuraStyle 560mm Inset Basin` `Product` (ID: 11355)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
