<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among previously imported for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `- PBH615B9TA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
