<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `ILVE ILO994X 900mm Electric Built-In Oven`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `ILVE ILO994X 900mm Electric Built-In Oven`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `ILO994X`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `ILVE ILO994X 900mm Electric Built-In Oven`</div>
<div class="progress-msg"><b>CREATING</b> `ILVE ILO994X 900mm Electric Built-In Oven` `Product`</div>
<div class="progress-msg">Associate post `ILVE ILO994X 900mm Electric Built-In Oven` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `ILVE ILO994X 900mm Electric Built-In Oven |Get HaggleFree prices` for post `ILVE ILO994X 900mm Electric Built-In Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Get HaggleFree quotes from your local retailers on ILVE ILO994X 900mm Electric Built-In Oven |Save up to 25%` for post `ILVE ILO994X 900mm Electric Built-In Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/i/l/ilo994x_ilve_web.jpg` for `ILVE ILO994X 900mm Electric Built-In Oven` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image ilo994x_ilve_web.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/i/l/ilo994x_ilve_web.jpg`</div>
<div class="progress-msg">- Image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/i/l/ilo994x_ilve_web.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/ilo994x_ilve_web.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/ilo994x_ilve_web.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `ILVE`, duplicate detected. Importing Product to existing `ILVE` product_brand, ID 1479, slug `ilve` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `COOKING & OVENS`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Ovens`, duplicate detected. Importing Product to existing `Ovens` product_cat, ID 61, slug `ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Single Oven Electric Wall/Undermount`, duplicate detected. Importing Product to existing `Single Oven Electric Wall/Undermount` product_cat, ID 3995, slug `single-oven-electric-wallundermount-ovens` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `ILVE ILO994X 900mm Electric Built-In Oven` `Product` (ID: 19556)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `ILVE PILFSD60 600mm Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `ILVE PILFSD60 600mm Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `PILFSD60`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `ILVE PILFSD60 600mm Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `ILVE PILFSD60 600mm Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `ILVE PILFSD60 600mm Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `ILVE PILFSD60 600mm Freestanding Dishwasher |Get HaggleFree prices` for post `ILVE PILFSD60 600mm Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Get HaggleFree quotes from your local retailers on ILVE PILFSD60 600mm Freestanding Dishwasher |Colour: Stainless Steel |Save up to 25%` for post `ILVE PILFSD60 600mm Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/p/i/pivfsd60_ilve_web.jpg` for `ILVE PILFSD60 600mm Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image pivfsd60_ilve_web.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/p/i/pivfsd60_ilve_web.jpg`</div>
<div class="progress-msg">- Image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/p/i/pivfsd60_ilve_web.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/pivfsd60_ilve_web.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/pivfsd60_ilve_web.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `ILVE`, duplicate detected. Importing Product to existing `ILVE` product_brand, ID 1479, slug `ilve` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `DISHWASHERS`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `ILVE PILFSD60 600mm Freestanding Dishwasher` `Product` (ID: 19558)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
