<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung DW60H9950FS Stainless Steel WaterWall Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung DW60H9950FS Stainless Steel WaterWall Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DW60H9950FS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung DW60H9950FS Stainless Steel WaterWall Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung DW60H9950FS Stainless Steel WaterWall Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `Samsung DW60H9950FS Stainless Steel WaterWall Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung DW60H9950FS Stainless Steel WaterWall Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung DW60H9950FS Stainless Steel WaterWall Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_DW60H9950FS-SA_001_Front_silver?$DT-Gallery$` for `Samsung DW60H9950FS Stainless Steel WaterWall Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_DW60H9950FS-SA_001_Front_silver.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_DW60H9950FS-SA_001_Front_silver?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_DW60H9950FS-SA_001_Front_silver?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_DW60H9950FS-SA_001_Front_silver.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_DW60H9950FS-SA_001_Front_silver.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dishwashers`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung DW60H9950FS Stainless Steel WaterWall Freestanding Dishwasher` `Product` (ID: 17403)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung SC21K5170HG Bagless Vacuum Cleaner with Anti-Tangle Cyclone`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung SC21K5170HG Bagless Vacuum Cleaner with Anti-Tangle Cyclone`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SC21K5170HG`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SC21K5170HG Bagless Vacuum Cleaner with Anti-Tangle Cyclone`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung SC21K5170HG Bagless Vacuum Cleaner with Anti-Tangle Cyclone` `Product`</div>
<div class="progress-msg">Associate post `Samsung SC21K5170HG Bagless Vacuum Cleaner with Anti-Tangle Cyclone` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung SC21K5170HG Bagless Vacuum Cleaner with Anti-Tangle Cyclone` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung SC21K5170HG Bagless Vacuum Cleaner with Anti-Tangle Cyclone` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/sc21k5170hg/external/Samsung-SC21K5170HG-Vacuum-Cleaner-Hero-Image-high.jpeg` for `Samsung SC21K5170HG Bagless Vacuum Cleaner with Anti-Tangle Cyclone` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Samsung-SC21K5170HG-Vacuum-Cleaner-Hero-Image-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/sc21k5170hg/external/Samsung-SC21K5170HG-Vacuum-Cleaner-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/sc21k5170hg/external/Samsung-SC21K5170HG-Vacuum-Cleaner-Hero-Image-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-SC21K5170HG-Vacuum-Cleaner-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-SC21K5170HG-Vacuum-Cleaner-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung SC21K5170HG Bagless Vacuum Cleaner with Anti-Tangle Cyclone` `Product` (ID: 17405)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung SC15H4050V Bagless Canister Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung SC15H4050V Bagless Canister Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SC15H4050V`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SC15H4050V Bagless Canister Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung SC15H4050V Bagless Canister Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Samsung SC15H4050V Bagless Canister Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung SC15H4050V Bagless Canister Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung SC15H4050V Bagless Canister Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/sg_VC15H4050VY-SP_006_Dynamic3_yellow?$DT-Gallery$` for `Samsung SC15H4050V Bagless Canister Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image sg_VC15H4050VY-SP_006_Dynamic3_yellow.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/sg_VC15H4050VY-SP_006_Dynamic3_yellow?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/sg_VC15H4050VY-SP_006_Dynamic3_yellow?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/sg_VC15H4050VY-SP_006_Dynamic3_yellow.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/sg_VC15H4050VY-SP_006_Dynamic3_yellow.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung SC15H4050V Bagless Canister Vacuum Cleaner` `Product` (ID: 17407)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung SR20J9010UR 80W POWERbot Robotic Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung SR20J9010UR 80W POWERbot Robotic Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SR20J9010UR`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SR20J9010UR 80W POWERbot Robotic Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung SR20J9010UR 80W POWERbot Robotic Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Samsung SR20J9010UR 80W POWERbot Robotic Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung SR20J9010UR 80W POWERbot Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung SR20J9010UR 80W POWERbot Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/sr20j9010ur/external/Samsung-SR20J9010UR-POWERbot-Robotic-Vacuum-Hero-Image-high.jpeg` for `Samsung SR20J9010UR 80W POWERbot Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Samsung-SR20J9010UR-POWERbot-Robotic-Vacuum-Hero-Image-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/sr20j9010ur/external/Samsung-SR20J9010UR-POWERbot-Robotic-Vacuum-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/sr20j9010ur/external/Samsung-SR20J9010UR-POWERbot-Robotic-Vacuum-Hero-Image-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-SR20J9010UR-POWERbot-Robotic-Vacuum-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-SR20J9010UR-POWERbot-Robotic-Vacuum-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Robotic Vacuum`, duplicate detected. Importing Product to existing `Robotic Vacuum` product_cat, ID 5496, slug `robotic-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung SR20J9010UR 80W POWERbot Robotic Vacuum Cleaner` `Product` (ID: 17409)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung SR10J5050UD Robotic Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung SR10J5050UD Robotic Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SR10J5050UD`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SR10J5050UD Robotic Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung SR10J5050UD Robotic Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Samsung SR10J5050UD Robotic Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung SR10J5050UD Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung SR10J5050UD Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/sr10j5050ud/external/Samsung-SR10J5050UD-Robotic-Vacuum-Cleaner-Hero-Image-high.jpeg` for `Samsung SR10J5050UD Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Samsung-SR10J5050UD-Robotic-Vacuum-Cleaner-Hero-Image-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/sr10j5050ud/external/Samsung-SR10J5050UD-Robotic-Vacuum-Cleaner-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/sr10j5050ud/external/Samsung-SR10J5050UD-Robotic-Vacuum-Cleaner-Hero-Image-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-SR10J5050UD-Robotic-Vacuum-Cleaner-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-SR10J5050UD-Robotic-Vacuum-Cleaner-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Robotic Vacuum`, duplicate detected. Importing Product to existing `Robotic Vacuum` product_cat, ID 5496, slug `robotic-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung SR10J5050UD Robotic Vacuum Cleaner` `Product` (ID: 17411)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung SR10J5010UA Robot Sweeper Robotic Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung SR10J5010UA Robot Sweeper Robotic Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SR10J5010UA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SR10J5010UA Robot Sweeper Robotic Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung SR10J5010UA Robot Sweeper Robotic Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Samsung SR10J5010UA Robot Sweeper Robotic Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung SR10J5010UA Robot Sweeper Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung SR10J5010UA Robot Sweeper Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/sr10j5010ua/external/Samsung-SR10J5010UA-Robot-Sweeper-Robotic-Vacuum-Hero-high.jpeg` for `Samsung SR10J5010UA Robot Sweeper Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Samsung-SR10J5010UA-Robot-Sweeper-Robotic-Vacuum-Hero-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/sr10j5010ua/external/Samsung-SR10J5010UA-Robot-Sweeper-Robotic-Vacuum-Hero-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/sr10j5010ua/external/Samsung-SR10J5010UA-Robot-Sweeper-Robotic-Vacuum-Hero-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-SR10J5010UA-Robot-Sweeper-Robotic-Vacuum-Hero-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-SR10J5010UA-Robot-Sweeper-Robotic-Vacuum-Hero-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Robotic Vacuum`, duplicate detected. Importing Product to existing `Robotic Vacuum` product_cat, ID 5496, slug `robotic-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung SR10J5010UA Robot Sweeper Robotic Vacuum Cleaner` `Product` (ID: 17413)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung SR20H9050U 70W Powerbot Robotic Vacuum Cleaner`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung SR20H9050U 70W Powerbot Robotic Vacuum Cleaner`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SR20H9050U`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SR20H9050U 70W Powerbot Robotic Vacuum Cleaner`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung SR20H9050U 70W Powerbot Robotic Vacuum Cleaner` `Product`</div>
<div class="progress-msg">Associate post `Samsung SR20H9050U 70W Powerbot Robotic Vacuum Cleaner` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung SR20H9050U 70W Powerbot Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung SR20H9050U 70W Powerbot Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_VR20H9050UW-SA_001_Front_white?$DT-Gallery$` for `Samsung SR20H9050U 70W Powerbot Robotic Vacuum Cleaner` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_VR20H9050UW-SA_001_Front_white.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_VR20H9050UW-SA_001_Front_white?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_VR20H9050UW-SA_001_Front_white?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_VR20H9050UW-SA_001_Front_white.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_VR20H9050UW-SA_001_Front_white.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Robotic Vacuum`, duplicate detected. Importing Product to existing `Robotic Vacuum` product_cat, ID 5496, slug `robotic-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung SR20H9050U 70W Powerbot Robotic Vacuum Cleaner` `Product` (ID: 17415)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung SC20F70HC 2000W Canister Vacuum Cleaner with Motion Sync Design`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung SC20F70HC 2000W Canister Vacuum Cleaner with Motion Sync Design`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SC20F70HC`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SC20F70HC 2000W Canister Vacuum Cleaner with Motion Sync Design`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung SC20F70HC 2000W Canister Vacuum Cleaner with Motion Sync Design` `Product`</div>
<div class="progress-msg">Associate post `Samsung SC20F70HC 2000W Canister Vacuum Cleaner with Motion Sync Design` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung SC20F70HC 2000W Canister Vacuum Cleaner with Motion Sync Design` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung SC20F70HC 2000W Canister Vacuum Cleaner with Motion Sync Design` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_VC20F70HUCC-SA_001_Front_silver?$DT-Gallery$` for `Samsung SC20F70HC 2000W Canister Vacuum Cleaner with Motion Sync Design` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_VC20F70HUCC-SA_001_Front_silver.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_VC20F70HUCC-SA_001_Front_silver?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_VC20F70HUCC-SA_001_Front_silver?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_VC20F70HUCC-SA_001_Front_silver.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_VC20F70HUCC-SA_001_Front_silver.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `VACUUM & SMALL APPLIANCES`, duplicate detected. Importing Product to existing `VACUUM &amp; SMALL APPLIANCES` product_cat, ID 4124, slug `vacuum-small-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vacuum Cleaners`, duplicate detected. Importing Product to existing `Vacuum Cleaners` product_cat, ID 4240, slug `vacuum-cleaners` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Barrel Vacuum`, duplicate detected. Importing Product to existing `Barrel Vacuum` product_cat, ID 4241, slug `barrel-vacuum` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung SC20F70HC 2000W Canister Vacuum Cleaner with Motion Sync Design` `Product` (ID: 17417)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WW85K6410QX 8.5kg AddWash Front Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WW85K6410QX 8.5kg AddWash Front Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WW85K6410QX`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WW85K6410QX 8.5kg AddWash Front Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WW85K6410QX 8.5kg AddWash Front Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WW85K6410QX 8.5kg AddWash Front Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WW85K6410QX 8.5kg AddWash Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WW85K6410QX 8.5kg AddWash Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WW85K6410QX-SA_001_Front_gray?$DT-Gallery$` for `Samsung WW85K6410QX 8.5kg AddWash Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WW85K6410QX-SA_001_Front_gray.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WW85K6410QX-SA_001_Front_gray?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WW85K6410QX-SA_001_Front_gray?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WW85K6410QX-SA_001_Front_gray.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WW85K6410QX-SA_001_Front_gray.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Frontload Washers`, duplicate detected. Importing Product to existing `Frontload Washers` product_cat, ID 3998, slug `frontload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WW85K6410QX 8.5kg AddWash Front Load Washing Machine` `Product` (ID: 17419)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WW11K8412OW 11kg AddWash Front Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WW11K8412OW 11kg AddWash Front Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WW11K8412OW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WW11K8412OW 11kg AddWash Front Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WW11K8412OW 11kg AddWash Front Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WW11K8412OW 11kg AddWash Front Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WW11K8412OW 11kg AddWash Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WW11K8412OW 11kg AddWash Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WW11K8412OW-SA_001_Front_white?$DT-Gallery$` for `Samsung WW11K8412OW 11kg AddWash Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WW11K8412OW-SA_001_Front_white.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WW11K8412OW-SA_001_Front_white?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WW11K8412OW-SA_001_Front_white?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WW11K8412OW-SA_001_Front_white.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WW11K8412OW-SA_001_Front_white.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Frontload Washers`, duplicate detected. Importing Product to existing `Frontload Washers` product_cat, ID 3998, slug `frontload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WW11K8412OW 11kg AddWash Front Load Washing Machine` `Product` (ID: 17421)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WF16J9000KW 16kg Front Load Washing Machine with Quick Wash`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WF16J9000KW 16kg Front Load Washing Machine with Quick Wash`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WF16J9000KW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WF16J9000KW 16kg Front Load Washing Machine with Quick Wash`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WF16J9000KW 16kg Front Load Washing Machine with Quick Wash` `Product`</div>
<div class="progress-msg">Associate post `Samsung WF16J9000KW 16kg Front Load Washing Machine with Quick Wash` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WF16J9000KW 16kg Front Load Washing Machine with Quick Wash` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WF16J9000KW 16kg Front Load Washing Machine with Quick Wash` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WF16J9000KW-SA_001_Front?$DT-Gallery$` for `Samsung WF16J9000KW 16kg Front Load Washing Machine with Quick Wash` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WF16J9000KW-SA_001_Front.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WF16J9000KW-SA_001_Front?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WF16J9000KW-SA_001_Front?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WF16J9000KW-SA_001_Front.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WF16J9000KW-SA_001_Front.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Frontload Washers`, duplicate detected. Importing Product to existing `Frontload Washers` product_cat, ID 3998, slug `frontload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WF16J9000KW 16kg Front Load Washing Machine with Quick Wash` `Product` (ID: 17423)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WA10J7750GW 10kg Activ Dualwash Top Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WA10J7750GW 10kg Activ Dualwash Top Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA10J7750GW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WA10J7750GW 10kg Activ Dualwash Top Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WA10J7750GW 10kg Activ Dualwash Top Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WA10J7750GW 10kg Activ Dualwash Top Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WA10J7750GW 10kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WA10J7750GW 10kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WA10J7750GW-SA_001_Front?$DT-Gallery$` for `Samsung WA10J7750GW 10kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WA10J7750GW-SA_001_Front.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WA10J7750GW-SA_001_Front?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WA10J7750GW-SA_001_Front?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA10J7750GW-SA_001_Front.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA10J7750GW-SA_001_Front.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WA10J7750GW 10kg Activ Dualwash Top Load Washing Machine` `Product` (ID: 17425)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WA85J6750SW 8.5kg Activ Dualwash Top Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WA85J6750SW 8.5kg Activ Dualwash Top Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA85J6750SW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WA85J6750SW 8.5kg Activ Dualwash Top Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WA85J6750SW 8.5kg Activ Dualwash Top Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WA85J6750SW 8.5kg Activ Dualwash Top Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WA85J6750SW 8.5kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WA85J6750SW 8.5kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WA85J6750SW-SA_001_Front?$DT-Gallery$` for `Samsung WA85J6750SW 8.5kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WA85J6750SW-SA_001_Front.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WA85J6750SW-SA_001_Front?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WA85J6750SW-SA_001_Front?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA85J6750SW-SA_001_Front.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA85J6750SW-SA_001_Front.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WA85J6750SW 8.5kg Activ Dualwash Top Load Washing Machine` `Product` (ID: 17427)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WA10J8700GW 13kg Top Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WA10J8700GW 13kg Top Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA10J8700GW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WA10J8700GW 13kg Top Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WA10J8700GW 13kg Top Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WA10J8700GW 13kg Top Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WA10J8700GW 13kg Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WA10J8700GW 13kg Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WA10J8700GW-SA_001_Front?$DT-Gallery$` for `Samsung WA10J8700GW 13kg Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WA10J8700GW-SA_001_Front.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WA10J8700GW-SA_001_Front?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WA10J8700GW-SA_001_Front?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA10J8700GW-SA_001_Front.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA10J8700GW-SA_001_Front.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WA10J8700GW 13kg Top Load Washing Machine` `Product` (ID: 17429)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WA10J8700GP 13kg Activ Dualwash Top Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WA10J8700GP 13kg Activ Dualwash Top Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA10J8700GP`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WA10J8700GP 13kg Activ Dualwash Top Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WA10J8700GP 13kg Activ Dualwash Top Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WA10J8700GP 13kg Activ Dualwash Top Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WA10J8700GP 13kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WA10J8700GP 13kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WA10J8700GP-SA_001_Front?$DT-Gallery$` for `Samsung WA10J8700GP 13kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WA10J8700GP-SA_001_Front.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WA10J8700GP-SA_001_Front?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WA10J8700GP-SA_001_Front?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA10J8700GP-SA_001_Front.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA10J8700GP-SA_001_Front.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WA10J8700GP 13kg Activ Dualwash Top Load Washing Machine` `Product` (ID: 17431)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WA10J7700GW 12kg Activ Dualwash Top Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WA10J7700GW 12kg Activ Dualwash Top Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA10J7700GW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WA10J7700GW 12kg Activ Dualwash Top Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WA10J7700GW 12kg Activ Dualwash Top Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WA10J7700GW 12kg Activ Dualwash Top Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WA10J7700GW 12kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WA10J7700GW 12kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WA10J7700GW-SA_002_L-Perspective?$DT-Gallery$` for `Samsung WA10J7700GW 12kg Activ Dualwash Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WA10J7700GW-SA_002_L-Perspective.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WA10J7700GW-SA_002_L-Perspective?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WA10J7700GW-SA_002_L-Perspective?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA10J7700GW-SA_002_L-Perspective.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA10J7700GW-SA_002_L-Perspective.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WA10J7700GW 12kg Activ Dualwash Top Load Washing Machine` `Product` (ID: 17433)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WA90H7000GW 9kg Top Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WA90H7000GW 9kg Top Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA90H7000GW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WA90H7000GW 9kg Top Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WA90H7000GW 9kg Top Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WA90H7000GW 9kg Top Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WA90H7000GW 9kg Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WA90H7000GW 9kg Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wa90h7000gw/external/Samsung-WA90H7000GW-9kg-Top-Load-Washing-Machine-Hero-high.jpeg` for `Samsung WA90H7000GW 9kg Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Samsung-WA90H7000GW-9kg-Top-Load-Washing-Machine-Hero-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/wa90h7000gw/external/Samsung-WA90H7000GW-9kg-Top-Load-Washing-Machine-Hero-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/wa90h7000gw/external/Samsung-WA90H7000GW-9kg-Top-Load-Washing-Machine-Hero-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-WA90H7000GW-9kg-Top-Load-Washing-Machine-Hero-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-WA90H7000GW-9kg-Top-Load-Washing-Machine-Hero-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WA90H7000GW 9kg Top Load Washing Machine` `Product` (ID: 17435)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WA85F7S6DRA 8.5kg Top Load Washing Machine with extra Lint Filter`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WA85F7S6DRA 8.5kg Top Load Washing Machine with extra Lint Filter`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA85F7S6DRA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WA85F7S6DRA 8.5kg Top Load Washing Machine with extra Lint Filter`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WA85F7S6DRA 8.5kg Top Load Washing Machine with extra Lint Filter` `Product`</div>
<div class="progress-msg">Associate post `Samsung WA85F7S6DRA 8.5kg Top Load Washing Machine with extra Lint Filter` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WA85F7S6DRA 8.5kg Top Load Washing Machine with extra Lint Filter` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WA85F7S6DRA 8.5kg Top Load Washing Machine with extra Lint Filter` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WA85F7S6DRA-SA_023_Front_silver?$DT-Gallery$` for `Samsung WA85F7S6DRA 8.5kg Top Load Washing Machine with extra Lint Filter` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WA85F7S6DRA-SA_023_Front_silver.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WA85F7S6DRA-SA_023_Front_silver?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WA85F7S6DRA-SA_023_Front_silver?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA85F7S6DRA-SA_023_Front_silver.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA85F7S6DRA-SA_023_Front_silver.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WA85F7S6DRA 8.5kg Top Load Washing Machine with extra Lint Filter` `Product` (ID: 17437)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WA70F5G4DJW 7kg Top Load Washing Machine with Double Storm Pulsator System`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WA70F5G4DJW 7kg Top Load Washing Machine with Double Storm Pulsator System`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA70F5G4DJW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WA70F5G4DJW 7kg Top Load Washing Machine with Double Storm Pulsator System`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WA70F5G4DJW 7kg Top Load Washing Machine with Double Storm Pulsator System` `Product`</div>
<div class="progress-msg">Associate post `Samsung WA70F5G4DJW 7kg Top Load Washing Machine with Double Storm Pulsator System` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WA70F5G4DJW 7kg Top Load Washing Machine with Double Storm Pulsator System` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WA70F5G4DJW 7kg Top Load Washing Machine with Double Storm Pulsator System` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WA70F5G4DJW-SA_001_Front_white?$DT-Gallery$` for `Samsung WA70F5G4DJW 7kg Top Load Washing Machine with Double Storm Pulsator System` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WA70F5G4DJW-SA_001_Front_white.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WA70F5G4DJW-SA_001_Front_white?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WA70F5G4DJW-SA_001_Front_white?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA70F5G4DJW-SA_001_Front_white.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_WA70F5G4DJW-SA_001_Front_white.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WA70F5G4DJW 7kg Top Load Washing Machine with Double Storm Pulsator System` `Product` (ID: 17439)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WD75J5410AW 7.5kg Front load Washing Machine 4kg Dryer Combo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WD75J5410AW 7.5kg Front load Washing Machine 4kg Dryer Combo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WD75J5410AW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WD75J5410AW 7.5kg Front load Washing Machine 4kg Dryer Combo`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WD75J5410AW 7.5kg Front load Washing Machine 4kg Dryer Combo` `Product`</div>
<div class="progress-msg">Associate post `Samsung WD75J5410AW 7.5kg Front load Washing Machine 4kg Dryer Combo` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WD75J5410AW 7.5kg Front load Washing Machine 4kg Dryer Combo` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WD75J5410AW 7.5kg Front load Washing Machine 4kg Dryer Combo` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wd75j5410aw/external/Samsung-Washer-Dryer-Combo-WD75J5410AW-main-high.jpeg` for `Samsung WD75J5410AW 7.5kg Front load Washing Machine 4kg Dryer Combo` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Samsung-Washer-Dryer-Combo-WD75J5410AW-main-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/wd75j5410aw/external/Samsung-Washer-Dryer-Combo-WD75J5410AW-main-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/wd75j5410aw/external/Samsung-Washer-Dryer-Combo-WD75J5410AW-main-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-Washer-Dryer-Combo-WD75J5410AW-main-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-Washer-Dryer-Combo-WD75J5410AW-main-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washer Dryer Combo's`, duplicate detected. Importing Product to existing `Washer Dryer Combo's` product_cat, ID 4006, slug `washer-dryer-combos` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WD75J5410AW 7.5kg Front load Washing Machine 4kg Dryer Combo` `Product` (ID: 17441)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WD10F7S7SRP 10kg Front load Washing Machine 7kg Dryer Combo`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WD10F7S7SRP 10kg Front load Washing Machine 7kg Dryer Combo`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WD10F7S7SRP`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WD10F7S7SRP 10kg Front load Washing Machine 7kg Dryer Combo`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WD10F7S7SRP 10kg Front load Washing Machine 7kg Dryer Combo` `Product`</div>
<div class="progress-msg">Associate post `Samsung WD10F7S7SRP 10kg Front load Washing Machine 7kg Dryer Combo` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WD10F7S7SRP 10kg Front load Washing Machine 7kg Dryer Combo` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WD10F7S7SRP 10kg Front load Washing Machine 7kg Dryer Combo` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/wd10f7s7srp/external/Samsung-Washer-Dryer-Combo-WD10F7S7SRP-Front-high.jpeg` for `Samsung WD10F7S7SRP 10kg Front load Washing Machine 7kg Dryer Combo` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Samsung-Washer-Dryer-Combo-WD10F7S7SRP-Front-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/wd10f7s7srp/external/Samsung-Washer-Dryer-Combo-WD10F7S7SRP-Front-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/wd10f7s7srp/external/Samsung-Washer-Dryer-Combo-WD10F7S7SRP-Front-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-Washer-Dryer-Combo-WD10F7S7SRP-Front-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/Samsung-Washer-Dryer-Combo-WD10F7S7SRP-Front-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washer Dryer Combo's`, duplicate detected. Importing Product to existing `Washer Dryer Combo's` product_cat, ID 4006, slug `washer-dryer-combos` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WD10F7S7SRP 10kg Front load Washing Machine 7kg Dryer Combo` `Product` (ID: 17443)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung DV90H8000HW 9kg Front Load Dryer with Heat Pump`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung DV90H8000HW 9kg Front Load Dryer with Heat Pump`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DV90H8000HW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung DV90H8000HW 9kg Front Load Dryer with Heat Pump`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung DV90H8000HW 9kg Front Load Dryer with Heat Pump` `Product`</div>
<div class="progress-msg">Associate post `Samsung DV90H8000HW 9kg Front Load Dryer with Heat Pump` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung DV90H8000HW 9kg Front Load Dryer with Heat Pump` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung DV90H8000HW 9kg Front Load Dryer with Heat Pump` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_DV90H8000HW-SA_007_White?$DT-Gallery$` for `Samsung DV90H8000HW 9kg Front Load Dryer with Heat Pump` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_DV90H8000HW-SA_007_White.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_DV90H8000HW-SA_007_White?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_DV90H8000HW-SA_007_White?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_DV90H8000HW-SA_007_White.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_DV90H8000HW-SA_007_White.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Clothes Dryers`, duplicate detected. Importing Product to existing `Clothes Dryers` product_cat, ID 3537, slug `clothes-dryers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Heat Pump Dryer`, duplicate detected. Importing Product to existing `Heat Pump Dryer` product_cat, ID 4295, slug `heat-pump-dryer` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung DV90H8000HW 9kg Front Load Dryer with Heat Pump` `Product` (ID: 17445)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung DV80F5E5HGW 8kg Front Load Dryer with Heat Pump`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung DV80F5E5HGW 8kg Front Load Dryer with Heat Pump`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DV80F5E5HGW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung DV80F5E5HGW 8kg Front Load Dryer with Heat Pump`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung DV80F5E5HGW 8kg Front Load Dryer with Heat Pump` `Product`</div>
<div class="progress-msg">Associate post `Samsung DV80F5E5HGW 8kg Front Load Dryer with Heat Pump` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung DV80F5E5HGW 8kg Front Load Dryer with Heat Pump` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung DV80F5E5HGW 8kg Front Load Dryer with Heat Pump` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_DV80F5E5HGW-SA_009_Lge_white?$DT-Gallery$` for `Samsung DV80F5E5HGW 8kg Front Load Dryer with Heat Pump` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_DV80F5E5HGW-SA_009_Lge_white.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_DV80F5E5HGW-SA_009_Lge_white?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_DV80F5E5HGW-SA_009_Lge_white?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_DV80F5E5HGW-SA_009_Lge_white.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/09/au_DV80F5E5HGW-SA_009_Lge_white.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Clothes Dryers`, duplicate detected. Importing Product to existing `Clothes Dryers` product_cat, ID 3537, slug `clothes-dryers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Heat Pump Dryer`, duplicate detected. Importing Product to existing `Heat Pump Dryer` product_cat, ID 4295, slug `heat-pump-dryer` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung DV80F5E5HGW 8kg Front Load Dryer with Heat Pump` `Product` (ID: 17447)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
