<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WTB5400WA 540L White Top Mount Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WTB5400WA 540L White Top Mount Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WTB5400WA 540L White Top Mount Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WTB5400WA 540L White Top Mount Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WTB5400WA 540L White Top Mount Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WTB5400WA 540L White Top Mount Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WTB5400WA 540L White Top Mount Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WTB5400WA 540L White Top Mount Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WTB5400WA 540L White Top Mount Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WTB5400WA 540L White Top Mount Fridge` `Product` (ID: 16165)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WHE5200SA 520L Stainless Steel French Door Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WHE5200SA 520L Stainless Steel French Door Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WHE5200SA 520L Stainless Steel French Door Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WHE5200SA 520L Stainless Steel French Door Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WHE5200SA 520L Stainless Steel French Door Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WHE5200SA 520L Stainless Steel French Door Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WHE5200SA 520L Stainless Steel French Door Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WHE5200SA 520L Stainless Steel French Door Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WHE5200SA 520L Stainless Steel French Door Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WHE5200SA 520L Stainless Steel French Door Fridge` `Product` (ID: 15973)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WFM3600WB 360L White Vertical Freezer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WFM3600WB 360L White Vertical Freezer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WFM3600WB 360L White Vertical Freezer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WFM3600WB 360L White Vertical Freezer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WFM3600WB 360L White Vertical Freezer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WFM3600WB 360L White Vertical Freezer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WFM3600WB 360L White Vertical Freezer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WFM3600WB 360L White Vertical Freezer`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WFM3600WB 360L White Vertical Freezer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WFM3600WB 360L White Vertical Freezer` `Product` (ID: 15774)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WBE5314SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WBE5314SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WBE5314SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WBE5314SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WBE5314SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WBE5314SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WBE5314SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WBE5314SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WBE5314SA 530L Stainless Steel Bottom Mount Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WBE5314SA 530L Stainless Steel Bottom Mount Fridge` `Product` (ID: 15911)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WBE5300SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WBE5300SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WBE5300SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WBE5300SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WBE5300SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WBE5300SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WBE5300SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WBE5300SA 530L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WBE5300SA 530L Stainless Steel Bottom Mount Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WBE5300SA 530L Stainless Steel Bottom Mount Fridge` `Product` (ID: 15905)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WBE4514SA 450L Bottom Mount Stainless Steel Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WBE4514SA 450L Bottom Mount Stainless Steel Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WBE4514SA 450L Bottom Mount Stainless Steel Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WBE4514SA 450L Bottom Mount Stainless Steel Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WBE4514SA 450L Bottom Mount Stainless Steel Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WBE4514SA 450L Bottom Mount Stainless Steel Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WBE4514SA 450L Bottom Mount Stainless Steel Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WBE4514SA 450L Bottom Mount Stainless Steel Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WBE4514SA 450L Bottom Mount Stainless Steel Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WBE4514SA 450L Bottom Mount Stainless Steel Fridge` `Product` (ID: 15891)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WBE4500WA 450L White Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WBE4500WA 450L White Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WBE4500WA 450L White Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WBE4500WA 450L White Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WBE4500WA 450L White Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WBE4500WA 450L White Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WBE4500WA 450L White Bottom Mount Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WBE4500WA 450L White Bottom Mount Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WBE4500WA 450L White Bottom Mount Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WBE4500WA 450L White Bottom Mount Fridge` `Product` (ID: 15879)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WBE4500SA 450L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WBE4500SA 450L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WBE4500SA 450L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WBE4500SA 450L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WBE4500SA 450L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WBE4500SA 450L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WBE4500SA 450L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WBE4500SA 450L Stainless Steel Bottom Mount Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WBE4500SA 450L Stainless Steel Bottom Mount Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WBE4500SA 450L Stainless Steel Bottom Mount Fridge` `Product` (ID: 15868)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung SRS606DHLS 607L Stainless Steel Side by Side Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung SRS606DHLS 607L Stainless Steel Side by Side Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung SRS606DHLS 607L Stainless Steel Side by Side Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung SRS606DHLS 607L Stainless Steel Side by Side Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung SRS606DHLS 607L Stainless Steel Side by Side Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung SRS606DHLS 607L Stainless Steel Side by Side Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung SRS606DHLS 607L Stainless Steel Side by Side Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SRS606DHLS 607L Stainless Steel Side by Side Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung SRS606DHLS 607L Stainless Steel Side by Side Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung SRS606DHLS 607L Stainless Steel Side by Side Fridge` `Product` (ID: 16041)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung SRL455DLS 455L Bottom Mount Layered Steel Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung SRL455DLS 455L Bottom Mount Layered Steel Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung SRL455DLS 455L Bottom Mount Layered Steel Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung SRL455DLS 455L Bottom Mount Layered Steel Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung SRL455DLS 455L Bottom Mount Layered Steel Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung SRL455DLS 455L Bottom Mount Layered Steel Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung SRL455DLS 455L Bottom Mount Layered Steel Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SRL455DLS 455L Bottom Mount Layered Steel Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung SRL455DLS 455L Bottom Mount Layered Steel Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung SRL455DLS 455L Bottom Mount Layered Steel Fridge` `Product` (ID: 15826)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung SRF717CDBLS 719L Black Steel French Door Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung SRF717CDBLS 719L Black Steel French Door Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung SRF717CDBLS 719L Black Steel French Door Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung SRF717CDBLS 719L Black Steel French Door Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung SRF717CDBLS 719L Black Steel French Door Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung SRF717CDBLS 719L Black Steel French Door Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung SRF717CDBLS 719L Black Steel French Door Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SRF717CDBLS 719L Black Steel French Door Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung SRF717CDBLS 719L Black Steel French Door Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung SRF717CDBLS 719L Black Steel French Door Fridge` `Product` (ID: 15969)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung SRF639GDLS 639L Layered Steel French Door Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung SRF639GDLS 639L Layered Steel French Door Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung SRF639GDLS 639L Layered Steel French Door Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung SRF639GDLS 639L Layered Steel French Door Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung SRF639GDLS 639L Layered Steel French Door Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung SRF639GDLS 639L Layered Steel French Door Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung SRF639GDLS 639L Layered Steel French Door Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SRF639GDLS 639L Layered Steel French Door Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung SRF639GDLS 639L Layered Steel French Door Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung SRF639GDLS 639L Layered Steel French Door Fridge` `Product` (ID: 15965)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Samsung SR531BTC 533L Black Inox Top Mount Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Samsung SR531BTC 533L Black Inox Top Mount Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Samsung SR531BTC 533L Black Inox Top Mount Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Samsung SR531BTC 533L Black Inox Top Mount Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Samsung SR531BTC 533L Black Inox Top Mount Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Samsung SR531BTC 533L Black Inox Top Mount Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Samsung SR531BTC 533L Black Inox Top Mount Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung SR531BTC 533L Black Inox Top Mount Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Samsung SR531BTC 533L Black Inox Top Mount Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Samsung SR531BTC 533L Black Inox Top Mount Fridge` `Product` (ID: 16134)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Panasonic NN-ST342W 800W 25L White Microwave Oven`</div>
<div class="progress-msg">Preserve slug of already existing article for `Panasonic NN-ST342W 800W 25L White Microwave Oven`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Panasonic NN-ST342W 800W 25L White Microwave Oven`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Panasonic NN-ST342W 800W 25L White Microwave Oven`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Panasonic NN-ST342W 800W 25L White Microwave Oven`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Panasonic NN-ST342W 800W 25L White Microwave Oven`</div>
<div class="progress-msg">Preserve post author of already existing article for `Panasonic NN-ST342W 800W 25L White Microwave Oven`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Panasonic NN-ST342W 800W 25L White Microwave Oven`</div>
<div class="progress-msg"><b>UPDATING</b> `Panasonic NN-ST342W 800W 25L White Microwave Oven` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Panasonic NN-ST342W 800W 25L White Microwave Oven` `Product` (ID: 15543)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Panasonic NN-ST253W 800W 20L White Microwave Oven`</div>
<div class="progress-msg">Preserve slug of already existing article for `Panasonic NN-ST253W 800W 20L White Microwave Oven`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Panasonic NN-ST253W 800W 20L White Microwave Oven`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Panasonic NN-ST253W 800W 20L White Microwave Oven`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Panasonic NN-ST253W 800W 20L White Microwave Oven`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Panasonic NN-ST253W 800W 20L White Microwave Oven`</div>
<div class="progress-msg">Preserve post author of already existing article for `Panasonic NN-ST253W 800W 20L White Microwave Oven`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Panasonic NN-ST253W 800W 20L White Microwave Oven`</div>
<div class="progress-msg"><b>UPDATING</b> `Panasonic NN-ST253W 800W 20L White Microwave Oven` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Panasonic NN-ST253W 800W 20L White Microwave Oven` `Product` (ID: 15536)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Panasonic NN-SF574S 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve slug of already existing article for `Panasonic NN-SF574S 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Panasonic NN-SF574S 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Panasonic NN-SF574S 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Panasonic NN-SF574S 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Panasonic NN-SF574S 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve post author of already existing article for `Panasonic NN-SF574S 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Panasonic NN-SF574S 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg"><b>UPDATING</b> `Panasonic NN-SF574S 1000W 27L Solo Microwave Oven` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Panasonic NN-SF574S 1000W 27L Solo Microwave Oven` `Product` (ID: 15534)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Panasonic NN-SF564W 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve slug of already existing article for `Panasonic NN-SF564W 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Panasonic NN-SF564W 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Panasonic NN-SF564W 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Panasonic NN-SF564W 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Panasonic NN-SF564W 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Preserve post author of already existing article for `Panasonic NN-SF564W 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Panasonic NN-SF564W 1000W 27L Solo Microwave Oven`</div>
<div class="progress-msg"><b>UPDATING</b> `Panasonic NN-SF564W 1000W 27L Solo Microwave Oven` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Panasonic NN-SF564W 1000W 27L Solo Microwave Oven` `Product` (ID: 15531)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `LG MS3042G 850W 30L White Microwave Oven`</div>
<div class="progress-msg">Preserve slug of already existing article for `LG MS3042G 850W 30L White Microwave Oven`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `LG MS3042G 850W 30L White Microwave Oven`</div>
<div class="progress-msg">Preserve menu order of already existing article for `LG MS3042G 850W 30L White Microwave Oven`</div>
<div class="progress-msg">Preserve post parent of already existing article for `LG MS3042G 850W 30L White Microwave Oven`</div>
<div class="progress-msg">Preserve comment status of already existing article for `LG MS3042G 850W 30L White Microwave Oven`</div>
<div class="progress-msg">Preserve post author of already existing article for `LG MS3042G 850W 30L White Microwave Oven`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG MS3042G 850W 30L White Microwave Oven`</div>
<div class="progress-msg"><b>UPDATING</b> `LG MS3042G 850W 30L White Microwave Oven` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `LG MS3042G 850W 30L White Microwave Oven` `Product` (ID: 15513)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Mitsubishi MR-WX743Y-W-A 743L Multi Drawer White Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Mitsubishi MR-WX743Y-W-A 743L Multi Drawer White Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Mitsubishi MR-WX743Y-W-A 743L Multi Drawer White Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Mitsubishi MR-WX743Y-W-A 743L Multi Drawer White Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Mitsubishi MR-WX743Y-W-A 743L Multi Drawer White Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Mitsubishi MR-WX743Y-W-A 743L Multi Drawer White Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Mitsubishi MR-WX743Y-W-A 743L Multi Drawer White Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Mitsubishi MR-WX743Y-W-A 743L Multi Drawer White Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Mitsubishi MR-WX743Y-W-A 743L Multi Drawer White Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Mitsubishi MR-WX743Y-W-A 743L Multi Drawer White Fridge` `Product` (ID: 15944)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #28</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #29</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Miele KM-6113 57.4cm 3 Zone Induction Cooktop`</div>
<div class="progress-msg">Preserve slug of already existing article for `Miele KM-6113 57.4cm 3 Zone Induction Cooktop`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Miele KM-6113 57.4cm 3 Zone Induction Cooktop`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Miele KM-6113 57.4cm 3 Zone Induction Cooktop`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Miele KM-6113 57.4cm 3 Zone Induction Cooktop`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Miele KM-6113 57.4cm 3 Zone Induction Cooktop`</div>
<div class="progress-msg">Preserve post author of already existing article for `Miele KM-6113 57.4cm 3 Zone Induction Cooktop`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Miele KM-6113 57.4cm 3 Zone Induction Cooktop`</div>
<div class="progress-msg"><b>UPDATING</b> `Miele KM-6113 57.4cm 3 Zone Induction Cooktop` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Miele KM-6113 57.4cm 3 Zone Induction Cooktop` `Product` (ID: 15504)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #30</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Miele KM2354 90cm 5 Burner Stainless Steel Gas Cooktop`</div>
<div class="progress-msg">Preserve slug of already existing article for `Miele KM2354 90cm 5 Burner Stainless Steel Gas Cooktop`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Miele KM2354 90cm 5 Burner Stainless Steel Gas Cooktop`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Miele KM2354 90cm 5 Burner Stainless Steel Gas Cooktop`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Miele KM2354 90cm 5 Burner Stainless Steel Gas Cooktop`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Miele KM2354 90cm 5 Burner Stainless Steel Gas Cooktop`</div>
<div class="progress-msg">Preserve post author of already existing article for `Miele KM2354 90cm 5 Burner Stainless Steel Gas Cooktop`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Miele KM2354 90cm 5 Burner Stainless Steel Gas Cooktop`</div>
<div class="progress-msg"><b>UPDATING</b> `Miele KM2354 90cm 5 Burner Stainless Steel Gas Cooktop` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Miele KM2354 90cm 5 Burner Stainless Steel Gas Cooktop` `Product` (ID: 15487)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #31</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Miele KM-2012G 65cm 4 Burner Stainless Steel Natural Gas Cooktop`</div>
<div class="progress-msg">Preserve slug of already existing article for `Miele KM-2012G 65cm 4 Burner Stainless Steel Natural Gas Cooktop`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Miele KM-2012G 65cm 4 Burner Stainless Steel Natural Gas Cooktop`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Miele KM-2012G 65cm 4 Burner Stainless Steel Natural Gas Cooktop`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Miele KM-2012G 65cm 4 Burner Stainless Steel Natural Gas Cooktop`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Miele KM-2012G 65cm 4 Burner Stainless Steel Natural Gas Cooktop`</div>
<div class="progress-msg">Preserve post author of already existing article for `Miele KM-2012G 65cm 4 Burner Stainless Steel Natural Gas Cooktop`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Miele KM-2012G 65cm 4 Burner Stainless Steel Natural Gas Cooktop`</div>
<div class="progress-msg"><b>UPDATING</b> `Miele KM-2012G 65cm 4 Burner Stainless Steel Natural Gas Cooktop` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Miele KM-2012G 65cm 4 Burner Stainless Steel Natural Gas Cooktop` `Product` (ID: 15481)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #32</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Sony KDL-65W850C 65" 165cm, 1920 x 1080 Resolution, FHD LED Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve slug of already existing article for `Sony KDL-65W850C 65" 165cm, 1920 x 1080 Resolution, FHD LED Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Sony KDL-65W850C 65" 165cm, 1920 x 1080 Resolution, FHD LED Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Sony KDL-65W850C 65" 165cm, 1920 x 1080 Resolution, FHD LED Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Sony KDL-65W850C 65" 165cm, 1920 x 1080 Resolution, FHD LED Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Sony KDL-65W850C 65" 165cm, 1920 x 1080 Resolution, FHD LED Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve post author of already existing article for `Sony KDL-65W850C 65" 165cm, 1920 x 1080 Resolution, FHD LED Smart 3D with Android TV`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony KDL-65W850C 65" 165cm, 1920 x 1080 Resolution, FHD LED Smart 3D with Android TV`</div>
<div class="progress-msg"><b>UPDATING</b> `Sony KDL-65W850C 65" 165cm, 1920 x 1080 Resolution, FHD LED Smart 3D with Android TV` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Sony KDL-65W850C 65" 165cm, 1920 x 1080 Resolution, FHD LED Smart 3D with Android TV` `Product` (ID: 15633)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #33</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #34</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `SONY KDL-43W800C 43 Inch FHD, 109cm, 1920 x 1080 Resolution, Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve slug of already existing article for `SONY KDL-43W800C 43 Inch FHD, 109cm, 1920 x 1080 Resolution, Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `SONY KDL-43W800C 43 Inch FHD, 109cm, 1920 x 1080 Resolution, Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve menu order of already existing article for `SONY KDL-43W800C 43 Inch FHD, 109cm, 1920 x 1080 Resolution, Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve post parent of already existing article for `SONY KDL-43W800C 43 Inch FHD, 109cm, 1920 x 1080 Resolution, Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve comment status of already existing article for `SONY KDL-43W800C 43 Inch FHD, 109cm, 1920 x 1080 Resolution, Smart 3D with Android TV`</div>
<div class="progress-msg">Preserve post author of already existing article for `SONY KDL-43W800C 43 Inch FHD, 109cm, 1920 x 1080 Resolution, Smart 3D with Android TV`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `SONY KDL-43W800C 43 Inch FHD, 109cm, 1920 x 1080 Resolution, Smart 3D with Android TV`</div>
<div class="progress-msg"><b>UPDATING</b> `SONY KDL-43W800C 43 Inch FHD, 109cm, 1920 x 1080 Resolution, Smart 3D with Android TV` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `SONY KDL-43W800C 43 Inch FHD, 109cm, 1920 x 1080 Resolution, Smart 3D with Android TV` `Product` (ID: 15621)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #35</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `INALTO ICG6 60CM GAS COOKTOP`</div>
<div class="progress-msg">Preserve slug of already existing article for `INALTO ICG6 60CM GAS COOKTOP`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `INALTO ICG6 60CM GAS COOKTOP`</div>
<div class="progress-msg">Preserve menu order of already existing article for `INALTO ICG6 60CM GAS COOKTOP`</div>
<div class="progress-msg">Preserve post parent of already existing article for `INALTO ICG6 60CM GAS COOKTOP`</div>
<div class="progress-msg">Preserve comment status of already existing article for `INALTO ICG6 60CM GAS COOKTOP`</div>
<div class="progress-msg">Preserve post author of already existing article for `INALTO ICG6 60CM GAS COOKTOP`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `INALTO ICG6 60CM GAS COOKTOP`</div>
<div class="progress-msg"><b>UPDATING</b> `INALTO ICG6 60CM GAS COOKTOP` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `INALTO ICG6 60CM GAS COOKTOP` `Product` (ID: 15477)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #36</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #37</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hisense HR6VFF177A 177L Frost Free Vertical Freezer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hisense HR6VFF177A 177L Frost Free Vertical Freezer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hisense HR6VFF177A 177L Frost Free Vertical Freezer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hisense HR6VFF177A 177L Frost Free Vertical Freezer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hisense HR6VFF177A 177L Frost Free Vertical Freezer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hisense HR6VFF177A 177L Frost Free Vertical Freezer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hisense HR6VFF177A 177L Frost Free Vertical Freezer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hisense HR6VFF177A 177L Frost Free Vertical Freezer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hisense HR6VFF177A 177L Frost Free Vertical Freezer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hisense HR6VFF177A 177L Frost Free Vertical Freezer` `Product` (ID: 15716)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #38</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #39</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Haier HFZ85 81L White Vertical Freezer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Haier HFZ85 81L White Vertical Freezer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Haier HFZ85 81L White Vertical Freezer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Haier HFZ85 81L White Vertical Freezer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Haier HFZ85 81L White Vertical Freezer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Haier HFZ85 81L White Vertical Freezer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Haier HFZ85 81L White Vertical Freezer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Haier HFZ85 81L White Vertical Freezer`</div>
<div class="progress-msg"><b>UPDATING</b> `Haier HFZ85 81L White Vertical Freezer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Haier HFZ85 81L White Vertical Freezer` `Product` (ID: 15706)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #40</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Haier HFZ175HA 175L White Upright Freezer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Haier HFZ175HA 175L White Upright Freezer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Haier HFZ175HA 175L White Upright Freezer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Haier HFZ175HA 175L White Upright Freezer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Haier HFZ175HA 175L White Upright Freezer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Haier HFZ175HA 175L White Upright Freezer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Haier HFZ175HA 175L White Upright Freezer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Haier HFZ175HA 175L White Upright Freezer`</div>
<div class="progress-msg"><b>UPDATING</b> `Haier HFZ175HA 175L White Upright Freezer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Haier HFZ175HA 175L White Upright Freezer` `Product` (ID: 15699)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #41</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `LG GC-L227FNSL 590L SIDE BY SIDE FRIDGE`</div>
<div class="progress-msg">Preserve slug of already existing article for `LG GC-L227FNSL 590L SIDE BY SIDE FRIDGE`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `LG GC-L227FNSL 590L SIDE BY SIDE FRIDGE`</div>
<div class="progress-msg">Preserve menu order of already existing article for `LG GC-L227FNSL 590L SIDE BY SIDE FRIDGE`</div>
<div class="progress-msg">Preserve post parent of already existing article for `LG GC-L227FNSL 590L SIDE BY SIDE FRIDGE`</div>
<div class="progress-msg">Preserve comment status of already existing article for `LG GC-L227FNSL 590L SIDE BY SIDE FRIDGE`</div>
<div class="progress-msg">Preserve post author of already existing article for `LG GC-L227FNSL 590L SIDE BY SIDE FRIDGE`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG GC-L227FNSL 590L SIDE BY SIDE FRIDGE`</div>
<div class="progress-msg"><b>UPDATING</b> `LG GC-L227FNSL 590L SIDE BY SIDE FRIDGE` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `LG GC-L227FNSL 590L SIDE BY SIDE FRIDGE` `Product` (ID: 15984)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #42</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `LG GB-450UPL 450L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `LG GB-450UPL 450L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `LG GB-450UPL 450L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `LG GB-450UPL 450L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `LG GB-450UPL 450L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `LG GB-450UPL 450L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `LG GB-450UPL 450L Bottom Mount Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG GB-450UPL 450L Bottom Mount Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `LG GB-450UPL 450L Bottom Mount Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `LG GB-450UPL 450L Bottom Mount Fridge` `Product` (ID: 15797)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #43</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #44</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #45</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Electrolux EBM5100SD 510L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Electrolux EBM5100SD 510L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Electrolux EBM5100SD 510L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Electrolux EBM5100SD 510L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Electrolux EBM5100SD 510L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Electrolux EBM5100SD 510L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Electrolux EBM5100SD 510L Bottom Mount Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux EBM5100SD 510L Bottom Mount Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Electrolux EBM5100SD 510L Bottom Mount Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Electrolux EBM5100SD 510L Bottom Mount Fridge` `Product` (ID: 15792)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #46</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Electrolux EBM4300SD 430L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve slug of already existing article for `Electrolux EBM4300SD 430L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Electrolux EBM4300SD 430L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Electrolux EBM4300SD 430L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Electrolux EBM4300SD 430L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Electrolux EBM4300SD 430L Bottom Mount Fridge`</div>
<div class="progress-msg">Preserve post author of already existing article for `Electrolux EBM4300SD 430L Bottom Mount Fridge`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux EBM4300SD 430L Bottom Mount Fridge`</div>
<div class="progress-msg"><b>UPDATING</b> `Electrolux EBM4300SD 430L Bottom Mount Fridge` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Electrolux EBM4300SD 430L Bottom Mount Fridge` `Product` (ID: 15788)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #47</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #48</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
