<!-- Template Content Starts Here -->
    <div style="background-color: #ffffff; padding: 10px 0; width: 100%; position: relative; overflow: hidden;">
      <div style="float: left; margin: 0px; font-size: 14px; width: 96%; padding: 0px 2%; position: relative;">
      	<p>Thank you for your membership to !!sitename!!. Your membership account is now active.</p>
		<p>Below are details about your membership account.</p>
        <p>Account: !!display_name!! (!!user_email!!)</p>
        <p>Membership Level: !!membership_level_name!!</p>
        !!membership_expiration!! !!discount_code!!    
        <div class="extra-infos">
        <strong>Next Step:</strong>
        <ul>
        <li>1-Select My Account from the top of the page</li>
        <li>2-Under Account Info heading, Select Manage category Selection<br />
        -Please ensure to only select the categories that you can provide stock<br/>
        -You only need to select the highest level category if you can provide all the sub-categories (example, only select Accessories if you can provide both Mounting Systems and remote controls<br />
        -Select Update Category to save your changes</li>
        <li>3-Under Account Info heading, Select Manage Brand Selection<br />
        -Only select the brands that you are a distributor of. Violations of this rule can lead to termination of your agreement with HaggleFree.<br />
        -Select Update Brands at the bottom of the page to save the changes</li>
        </ul>
        <br/>
        You are now ready to receive quotes for the categories and brands that you can support.
    </div>    
        <p>Log in to your membership account here: !!login_link!!</p>
      </div>      
    </div>
 <!-- Template Content Ends Here -->   