 <!-- Template Footer Starts Here -->
    <div style="width: 100%; overflow: hidden;">
      <table style="background-color: #191919;" border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td><table style="color: #717171; font-size: 12px;" border="0" width="90%" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                  <tr>
                    <td valign="middle" width="50%" height="30"><span style="width: 100%;">Thanks</span></td>
                    <td valign="middle" width="50%"><span style="width: 100%;"><strong>Contact Us</strong></span></td>
                  </tr>
                  <tr>
                    <td valign="middle" height="30"><div style="width: 100%;">!!sitename!! Team</div></td>
                    <td valign="middle"><div style="float: left; clear: left; width: 100%;"><img style="margin: 0 5px 0 0;" src="http://hagglefree.nerdster.com.au/wp-content/themes/twentysixteen-child/img/email-icon-email.png" alt="Email" /><a style="color: #717171; text-decoration: none;" title="" href="mailto:info@hagglefree.com.au">info@hagglefree.com.au</a></div></td>
                  </tr>
                  <tr>
                    <td valign="middle" height="30"><strong>ABN:</strong> 79 605 714 001</td>
                    <td valign="middle"><div style="float: left; white-space: nowrap; width: 100%;"><img style="margin: 0 5px 0 0;" src="http://hagglefree.nerdster.com.au/wp-content/themes/twentysixteen-child/img/ph-icon-email.png" alt="Phone" />(02) 9211 7767</div></td>
                  </tr>
                </tbody>
              </table></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td style="background-color: #000000;"><table style="color: #4f4e4e; font-size: 12px;" border="0" width="90%" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                  <tr>
                    <td valign="middle" width="50%" height="56">© copyright !!sitename!!. All Rights Reserved.</td>
                    <td style="color: #4f4e4e; font-size: 12px; text-align: right;" valign="middle" width="50%"><table border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td style="color: #4f4e4e; text-decoration: none;" align="right" width="91%">Follow Us On:</td>
                            <td align="right" width="9%"><a title="Follow Us On" href="https://www.facebook.com/hagglefree/"><img style="float: right;" src="http://hagglefree.nerdster.com.au/wp-content/themes/twentysixteen-child/img/email-fb-icon.png" alt="Follow Us On" /></a></td>
                          </tr>
                        </tbody>
                      </table></td>
                  </tr>
                </tbody>
              </table></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Template Footer Ends Here -->     
  </div>
</div>