<div style="width: 767px; float: none; margin: 0 auto; background-color: #e6e6e6; overflow: hidden; padding: 20px;">
<div style="background-color: #ffffff; float: none; width: 650px; margin: 0 auto; overflow: hidden; font-family: 1Open Sans\', Calibri, Verdana, Arial; font-size: 15px; line-height: 21px; padding: 0;">

<!-- Template Header Starts Here -->
<div style="width: 100%; overflow: hidden;">
<div style="width: 100%; padding: 0; margin: 0;">
<div style="background-color: #ffffff; width: 100%; text-align: left; padding: 6px 0; margin: 0;"><a title="!!sitename!! - Find best deals on home appliances & bathrooms, Free of charge @HAGGLEFREE™" href="{site_url}">
<img src="http://hagglefree.nerdster.com.au/wp-content/themes/twentysixteen-child/img/email-logo.jpg" alt="!!sitename!! - Find best deals on home appliances & bathrooms, Free of charge @HAGGLEFREE™" />
</a></div>
<div style="background-color: #000000; width: 100%; text-align: left; margin: 0px; max-height: 181px;"><img src="http://www.hagglefree.com.au/wp-content/themes/twentysixteen-child/img/email-banner.jpg" alt="Find the Best Price on your Product" /></div>
<div style="width: 100%; background-color: #ff7810; float: left; text-align: center; color: #fff; padding: 20px 0; text-transform: uppercase; font-weight: bold; font-size: 18px; margin: 0;">Your membership confirmation for HaggleFree</div>
</div>
</div>
<!-- Template Header Ends Here -->
