@media (min-width:768px) {
.quote-request .listing-header .qa, .quote-request .qa, .quote-request .jst, .quote-request .qst, .quote-list-rt .jst, .quote-list-rt .qst, .quote-request .act {width: 14% !important}

.quote-list .listing-header .qa, .quote-list .quote-list-rt .qa {width: 21% !important}
}
@media (min-width:1025px) {
.inner-browse-block input[type="submit"]{border-radius:0 25px 25px 0 !important}
.search-form input, .woocommerce-product-search input{border-radius:25px !important}
.advanced-search form::after{border-radius:35px !important}
.search-block .advanced-search input[type="submit"] {border-radius: 0 25px 25px 0 !important}
.site-header-menu .follow-us {width: 110px}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait)  {
.site-header-main .row {position: relative}
.site-header-menu .follow-us{display:none !important}
#haggle-accordion h3 {padding: 2% 0 2% 4% !important}
.site-description {font-size: 13px !important}
.summary.entry-summary {float: right !important;width: 60% !important}
.widget-retailer-info, .widget-buyer-info {padding-bottom: 21px}
.menu-toggle {top: 24px;right: 12px}
.site-branding {width: 40% !important}

ul.member-links li {background-color: #f3f3f3;margin-bottom: 2px;padding: 6px !important}
.member-links li a::before {left: 7px !important;top: 8px !important}
.member-links a {display: block}
.content-area {margin: 0 auto;width: 90%}

.site-header-menu {bottom: -74px;position: absolute !important;top: auto !important}
.follow-us-mob {display: block !important;position: absolute;right: 12px;top: 13px;width: auto !important}
.site-header-menu .follow-us{display:none}
.why-haggle-block .section-heading::after {top: 50px !important}

.site-header-menu{position: relative}
.main-navigation{background-color: #fff;position: absolute;width: 100% !important;z-index: 999}
.main-navigation li{text-align: left;width: 100%}
.main-navigation a{padding: 0.65625em 0 !important}
.main-navigation a::before{content: "" !important}

.menu-toggle{font-size: 12px;right: 12px;padding: 6px 12px;position: relative;top: 0}
.site-header-menu{width: 100%}
.site-header-main .row{margin:0}

.follow-us-mob {right: 48px !important}
.popular-category-block .container.inner-wrap{margin: 0 auto;width: 80%}

#popular-category{margin: 0 auto;width: 90%}
#popular-category .owl-item{left: 6px;margin-right: 14px !important;width: 170px !important}

.site-header{min-height: 69px}
.site-branding{margin-top:12px !important}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*="columns-"] ul.products li.product, .woocommerce[class*="columns-"] ul.products li.product {width: 48% !important}
.getquotesbutton, .viewdetailbutton{font-size:14px !important}
.register-header, .entry-content{width:100% !important;margin:0 !important}
.container{width:100%}
.content-area.row {margin-left: 0}
.haggle-product li.product {width: 47% !important}
.woocommerce-result-count {float: right !important;text-align: right;width: 60%}
.woocommerce-pagination .page-numbers {float: left}
.woocommerce nav.woocommerce-pagination ul li {margin: 0 3px 0 0 !important}
.product-navigation-wrap .woocommerce-ordering {margin-right: 4px !important}
.woocommerce nav.woocommerce-pagination ul li:first-child {margin-left: 0;padding-left: 0 !important}
.site-header-main .col-sm-3 {width: 35% !important}
.site-header .container {width: 100% !important}
.follow-us-mob {top: 42px !important}
.menu-toggle {top: 52px !important}
.gridlist-buttonwrap a{font-size:11px !important}
.pp_inline #submit_job {clear: both;float: left !important}

.product-navigation-wrap .woocommerce-pagination {width: 63% !important}

.woocommerce-result-count {display: none}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
.site-header-menu .follow-us {width: 110px}
.summary.entry-summary {float: right !important;width: 60% !important}
.woocommerce-result-count {display: none}
.site-branding {width: 35% !important}	  
.site-header-main .site-header-menu{width: 65% !important}
.site-description {text-align: center !important}
.content-area {margin-left: 0}
.site-header .container {width: 100% !important}
.site-header-menu .main-navigation {width: auto !important; padding-right:0}
.site-header-menu .follow-us, .follow-us-mob {margin-top: 2px !important}
.main-navigation a {padding: 4px 9px !important}
.popular-category-block .owl-carousel {margin: 0 auto;width: 90%}
.popular-category-block .owl-item {margin-right: 23px !important;max-width: 150px !important}
.owl-item .item span{max-width: 150px !important}
#popular-category .owl-prev, #popular-category .owl-next{background-size:50%}
.site-header-menu .follow-us{font-size: 12px !important;min-width: auto !important;padding: 6px 15px 6px 0 !important;text-align: center !important}
.site-header-menu .follow-us span{right: -9px !important}

.why-haggle-block .section-heading::after {top: 50px !important}

.site-header-menu{top: 30px !important; right:-21px}
.follow-us-mob{right: 15px !important;top: 7px !important}

.getquotesbutton, .viewdetailbutton{font-size: 11px !important}
.haggle-product li.product {width: 47% !important}
.product-navigation-wrap .woocommerce-pagination {width: 63% !important}
.product-navigation-wrap .woocommerce-pagination .page-numbers{float:left}
.pp_inline #submit_job {clear: both;float: left !important}
}
@media (max-width:1024px) {
body{border:0px !important}
.category-menu li a, .sub-category a, .sub-sub-category a{width:auto !important}
.category-menu li span, .sub-category span, .sub-sub-category span {left: 0;padding: 0 !important;position: absolute !important;top: 0;width: 100% !important}
}
@media (min-width:1025px) {
.popular-category-block .owl-carousel{margin: 0 auto;width: 90%}
.getquotesbutton, .viewdetailbutton{font-size:14px !important}
.category-menu li:hover .sub-category, .has-children:hover .sub-sub-category{display:block}
.category-menu li span, .sub-category span, .sub-sub-category span {left: 0;padding: 0 !important;position: absolute !important;top: 0;width: 100% !important}

.summary.entry-summary {float: right !important;width: 60% !important}
}
@media screen {
}
@media print {
}
@media all and (min-width: 1025px) and (max-width: 1280px) {
}
@media all and (min-width: 768px) and (max-width: 1024px) {
.findDeal .haggle-stamp {right: 0 !important}
.findDeal .haggle-stamp > img {max-width: 140px !important}
.footer-bottom {margin: 0 1% !important;width: 30%}
.contentblocks div ul.listings {width: 72% !important}
.fieldset-content > span, .quotaion-details .qd-row {margin-bottom: 6px !important}
.summary.entry-summary .wb-single-img-cnt {top: 36px !important}
.search-form input, .woocommerce-product-search input {border-radius: 4px !important}
.advanced-search form::after {border-radius: 4px !important}
.inner-browse-block input[type="submit"] {border-radius: 0 4px 4px 0 !important}
.entry-header, .entry-summary, .entry-content, .entry-footer, .page-content {margin-left: 0 !important;margin-right: 0 !important}
.howitworks-block .hiw-title {font-size: 15px !important}
.search-heading {font-size: 30px !important}
.bottom-footer-title {margin-bottom: 12px !important}
.section-heading {padding-bottom: 40px !important; font-size: 21px !important}
.section-heading::after {top: 33px !important}

.site-header-main {position: relative}
.category-menu li:hover .sub-category, .has-children:hover .sub-sub-category{display:block}

.inner-browse-block .browse-category{left: 10px !important}
.inner-browse-block .advanced-search{right: 10px !important}
.inner-browse-block .advanced-search{width: 66%}

.search-form input, .woocommerce-product-search input{height: 33px}

.shop-sidebar {width: 30%}
.twocols .site-main {width: 70%}

.menu-toggle {top: 24px;right: 18px}
.site-branding {width: 40%}

ul.member-links li {background-color: #f3f3f3;margin-bottom: 2px;padding: 6px !important}
.member-links li a::before {left: 7px !important;top: 8px !important}
.member-links a {display: block}
.content-area {margin: 0 auto;width: 90%}
}
@media (max-width:767px) {

#colorbox {width: 87% !important; background-color:#fff !important; border: 10px solid #000; padding:2% !important; border-radius:15px !important; left:2% !important}
#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight{display:none !important}
#cboxContent{width:96% !important; float:none !important; margin:0 auto !important}
#cboxWrapper, #cboxLoadedContent {width: 100% !important}

.site-header-menu {
  bottom: -74px !important;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute !important;
  top: auto !important;
}
.site-header-main .row {
  margin: 0 !important;
  position: relative;
}
.findDeal .haggle-stamp {
  position: relative !important;
  right: 0 !important;
  width: 100%;
}
.findDeal .haggle-stamp > img {
  left: 50%;
  margin-left: -75px !important;
  position: relative;
  width: 150px;
}
.findDeal .deal-content, .findDeal .deal-additional {
  max-width: 100% !important;
}
.retailer-info-section .more {background-color: #f6f6f6;float: left;overflow: hidden;padding: 6px 0;text-align: center;width: 100%}
.quote-list .listing-header, .job-list .listing-header, .best-quote-list .listing-header, .admin-job-detail .listing-header, .quote-request .listing-header {
 display: none}
.members-login .login-top .social-login, .register-form .social-login{padding-top:7px !important}
.contentblocks {padding: 5% !important}
.contentpagesimgblock {width: 100% !important}
.contentblocks div ul.listings {width: 96% !important}
.testimonial-desc h5 {margin: 15px 0 !important}
.testimonial-desc {margin: 0 0 30px !important;width: 100% !important}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {margin: 0 0 2% 0 !important}
.summary.entry-summary {clear: both}
.site-description {font-size: 13px !important}
.retailer-dashboard .retailer-info-section, .retailer-dashboard .retailer-info-section .listing-body .quote-list-rt {margin-bottom: 15px !important}
.woocomerce-inner.woocomerce-account .fieldset-title {margin:0 !important}
.my-account-fieldset .quote-list, .buyer-info-section .job-list {padding-left: 0 !important; padding-right:0px !important}
.jobDetails .user-infos input.input-text, .user-infos input.input-text{width:98% !important}
.summary.entry-summary .wb-single-img-cnt {float: left;margin: 12px 0 !important;position: inherit !important}
.product-description-form .wb-single-img-cnt a img, .summary.entry-summary .wb-single-img-cnt a img {width: 70% !important}
.product-description-form .wb-single-img-cnt{display:none}
#cboxContent .jobDetails label {line-height: 18px}
ul.wccpf-field-layout-horizontal li, .wccpf_value .radio-wrap {clear: both;display: block;margin-right: 0;width: 100%}
.jobDetails .user-infos input.input-text {width: 94% !important}
.section-heading, .entry-title, .related.products h2 {font-size: 16px !important}
.findDeal {padding-bottom: 15px}
.productImageContainer {float: left;width: 100% !important}
.woocommerce-result-count {display: none}
.product-navigation-wrap .woocommerce-pagination {width: 100% !important; margin-bottom:6px}
.follow-us-mob {display: block !important}
.browse-category .genericon-menu::before {background: rgba(0, 0, 0, 0) url("img/browse-by-category-before.png") no-repeat scroll 0 3px;content: "";float: left;height: 15px;width: 15px}
.members-login .login-top .user-normal-login, .login-top .haggle-seperator, .members-login .login-top .social-login, .register-form .login-form, .register-form .haggle-seperator, .register-form .social-login, .register-form .register-button-wrap{width:100% !important}
.wp-social-login-provider-list a {width: 100% !important}
.login-top .haggle-seperator::before, .register-form .haggle-seperator::before {height: 1px !important;left: 2% !important;width: 40% !important}
.login-top .haggle-seperator::after, .register-form .haggle-seperator::after {height: 1px !important;left: 58% !important;top: 0 !important;width: 40% !important}
.login-top .haggle-seperator {float: none !important;height: 21px !important;margin: 0 auto !important;max-width: 390px;top: 12px;width: 100% !important}
.register-form .haggle-seperator {float: none !important;height: 21px !important;margin: 15px auto 0 !important;max-width: 390px;top: 12px;width: 100% !important}
.login-top .haggle-seperator span, .register-form .haggle-seperator span {left: 40% !important;text-align: center !important;top: -9px !important;width: 65px}
form.login, form.category-form {max-width: 100% !important}
.members-login .login-top .social-login {margin-bottom: 15px}
.member-main .register {min-width: auto !important; padding:6px 21px !important}
.category-menu li .sub-category {top: 7px !important}
.site-header-menu .main-navigation {margin-top:0 !important}
.howitworks-block .widget {margin: 0 0 40px}
.section-heading {font-size: 17px !important;margin-bottom: 45px !important;padding-bottom: 27px !important;padding-top: 18px !important}
.section-heading::after {top: 50px !important}
.why-haggle-block .section-heading{margin-bottom:0 !important}
.search-heading {font-size: 18px !important}
.footer-bottom {margin: 12px 0 !important; padding:0 15px !important}
.bottom-footer-title {margin-bottom: 12px !important}
.testimonial-wrap {margin: 0 0 24px !important}
.testimonial-block .section-heading{margin-bottom:15px !important}
.howitworks-block {padding: 0 !important}
.site-header-menu .follow-us{display:none}

/*....follow-us-mob{top: 66px;display: block !important;position: absolute;right: 12px; max-width:150px}*/
.site-header-menu{position: relative}
.main-navigation{background-color: #fff;position: absolute;width: 100% !important;z-index: 999}
.main-navigation li{text-align: left;width: 100%}
.main-navigation a{padding: 0.65625em 0 !important}
.main-navigation a::before{content: "" !important}

.site-header{position: relative}
.menu-toggle {font-size: 12px;padding: 6px 12px;position: relative;top: -6px}

.howitworks-block .inner-wrap {padding-top: 51px}
.howitworks-block, .popular-category-block, .testimonial-block, .why-haggle-block {margin: 10px 0 0 !important}

.search-block .container .browse-category, .inner-browse-block .container .browse-category{left: 2% !important;margin-top: 0;max-width: 100%;text-align: center;top: 0}

.inner-browse-block .browse-category .category-menu{width:100% !important}

.category-menu li, .category-menu .sub-category li{text-align: left}
.category-menu li .sub-category, .category-menu li .sub-category .sub-sub-category {left: 0 !important; max-width: 100% !important; position: inherit !important; top:7px}

.category-menu li .sub-category{top: 4px}

.category-menu li .sub-category li{text-indent:6px}
.category-menu li .sub-category .sub-sub-category li{text-indent:10px}

.category-menu {border-radius: 0 0 4px 4px}

.search-form input, .woocommerce-product-search input {font-size: 12px !important}
.search-block .advanced-search input[type="submit"], .inner-browse-block .advanced-search input[type="submit"] {background-size: 20px 20px !important;width: 42px !important}

.search-block, .search-block::after, .inner-browse-block, .inner-browse-block::after{min-height:119px !important}
.search-block .search-heading, .inner-browse-block .search-heading {margin-bottom: 15px !important; margin-top: 55px}
.sub-category, .sub-sub-category{display:none}
.getquotesbutton, .viewdetailbutton{font-size:14px !important}

.search-block .container .browse-category, .inner-browse-block .container .browse-category {border-radius: 4px !important; background-color:transparent !important}
.search-block .container .browse-category .genericon-menu, .inner-browse-block .container .browse-category .genericon-menu {border-radius: 4px !important; background-color:#cdcccc !important}

.genericon-rightarrow:hover::after{top:9px !important}

.category-menu li:last-child {border-radius: 0 0 4px 4px}

.inner-browse-block .search-heading{display:block !important}

.inner-browse-block .browse-category .genericon-menu::after {
  padding: 3px !important;
  position: absolute !important;
  right: 3px !important;
  text-align: center;
  width: 27px !important;
}
.inner-browse-block .container {
  height: 200px;
  position: relative;
}
.follow-us-mob{display:none}
.site-content row{margin-left:0px !important}
.site-main, .shop-sidebar {float: none !important;margin: 0 auto !important;overflow: hidden;padding: 0;width: 100%}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*="columns-"] ul.products li.product, .woocommerce[class*="columns-"] ul.products li.product {clear: both;float: left;margin: 0 0 15px !important}

.site-content .content-area {margin: 0 5%;width: 90%}
.product div.images{width: 100% !important}

.related.products > h2, .register-header .entry-title {font-size: 16px !important; padding-bottom: 30px !important}
.related.products > h2::after{top:30px !important}

.woocommerce #content div.product div.thumbnails.columns-5 a, .woocommerce div.product div.thumbnails.columns-5 a, .woocommerce-page #content div.product div.thumbnails.columns-5 a, .woocommerce-page div.product div.thumbnails.columns-5 a {width: 18.9%}

.product div.summary, .members-login, .register-form{width:100% !important}
.wp-social-login-provider-list a {float: left;text-align: center;width: 50%; box-shadow: none}
.wp-social-login-provider-list img {min-height: 30px}
.entry-header, .entry-summary, .entry-content, .entry-footer, .page-content{margin-left: 0 !important;margin-right: 0 !important}
.site-content {min-height: auto !important}

#product_form_link {margin-bottom: 0 !important;margin-top: 6px}
.entry-summary h1.entry-title{min-height: 31px !important}

.howitworks-block .container.inner-wrap{display:none; background:#e5e5e5 url("img/howitworks-bg.jpg") repeat scroll center top}
.howitworks-block{background:none !important}
.howitworks-block .slide-it {
  background: rgba(0, 0, 0, 0) url("img/drop-arrow.jpg") no-repeat scroll center top;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  float: none;
  height: 26px;
  margin: 0 auto;
  width: 26px;
  margin-bottom:6px
}
.inner-browse-block .advanced-search {
  float: right;
  height: 60px;
  margin-top: 10px !important;
  position: absolute;
  right: 0 !important;
  top: -10px !important;
  width: 100% !important;
}
.inner-browse-block .search-field {line-height: 29px !important; border-radius: 4px 0 0 4px !important}
.inner-browse-block input[type="submit"] {border-radius: 0 15px 15px 0 !important;width: 52px !important; background-size:20px 20px !important}
.search-heading {text-shadow: 2px 2px 3px #000}
.inner-browse-block .advanced-search form.woocommerce-product-search::after {border-radius: 24px !important}

.advanced-search form::after {background-color: #transparent !important; border-radius: 6px !important; opacity: 1 !important; min-height: 105px !important}
.search-block .search-heading, .inner-browse-block .search-heading{display:none !important}

.search-form input, .woocommerce-product-search input, .inner-browse-block input {background-color: #e0dfdf !important; border-radius: 4px 0 0 4px !important; max-width:100%}
.search-block .advanced-search input[type="submit"], .inner-browse-block .advanced-search input[type="submit"] {background-color: #fe7700 !important; border-radius: 0 4px 4px 0 !important}
.search-block .row, .inner-browse-block .row {background-color:#fff;float: none;margin: 0 auto;max-width: 360px;opacity: 1;padding: 0;position: relative;top: 15px;width: 96%;z-index: 9 !important; border-radius:4px; height:84px}

.search-block .advanced-search, .inner-browse-block .advanced-search {top: 0; min-height:87px}
.search-block .container .browse-category, .inner-browse-block .container .browse-category {left: 6px !important;margin-top: 0;max-width: 100%;text-align: left;top: 0;width: 96% !important}

.search-block .container .browse-category, .inner-browse-block .container .browse-category {top: 48px !important}

.search-form, .woocommerce-product-search{width: 100% !important; padding: 6px !important}

.search-block .advanced-search input[type="submit"], .inner-browse-block .advanced-search input[type="submit"] {right: 6px !important}

.advanced-search form::after {background-color: transparent !important}

.search-block .container .browse-category span, .inner-browse-block .container .browse-category span {
  color: #000 !important;
  font-family: "Fjalla One",sans-serif !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  padding: 7px 6px 6px 9px !important;
  text-transform: uppercase;
  line-height:18px;
  height:31px
}
.genericon-menu::after {
  color: #000 !important;
  content: "\f502" !important;
  font-family: "Genericons" !important;
  font-size: 12px !important;
  top: 7px !important;
}
.genericon-menu.genericon-close::after {
  color: #000 !important;
  content: '\f405' !important;
  font-family: "Genericons" !important;
  font-size: 25px !important;
  top: 5px !important;
}
.genericon-close::after {font-size: 12px !important}
.category-menu, .category-menu li {background-color: #ecebeb !important}
.category-menu li a, .sub-category a, .sub-sub-category a{color:#717171 !important}
.category-menu li, .category-menu .sub-category li {border-top: 1px solid #cdcccc !important; border-bottom:1px solid #fff; padding:6px 9px !important}
.category-menu {border-bottom: 0 none !important;padding-bottom: 0 !important; border-top:5px solid #fff !important}

.quote-list-rt .jt:before{content:"Job Title: "; color:#000}
.quote-list-rt .jpo:before{content:"Job Posted On: "; color:#000}
.quote-list-rt .qa:before{content:"Quotation Amount: "; color:#000}
.quote-list-rt .st:before{content:"Status: "; color:#000; min-width:51px; float:left}
.quote-list-rt .act:before{content:"Action: "; color:#000; min-width:51px; float:left}
.quote-list-rt .jst:before{content:"Job Status: "; color:#000; min-width:51px; float:left}
.quote-list-rt .qst:before{content:"Quote Status: "; color:#000; min-width:51px; float:left}

.job-list-rt .jt:before{content:"Job Title: "; color:#000}
.job-list-rt .ao:before{content:"Applied On: "; color:#000}
.job-list-rt .add:before{content:"Address: "; color:#000}
.job-list-rt .tel:before{content:"Telephone: "; color:#000}
.job-list-rt .act:before{content:"Action: "; color:#000}

.best-quote-list .jt:before{content:"Job Title: "; color:#000}
.best-quote-list .qa:before{content:"Quotation Amount: "; color:#000}
.best-quote-list .qd:before{content:"Quotation Date: "; color:#000}
.best-quote-list .act:before{content:"Action: "; color:#000}

.job-list-rt, .quote-list-rt, .best-quote-list-byr {margin: 0 !important;padding: 0 !important
}
@media (min-width:768px) {
.genericon-close::after{font-size:27px !important}
.search-form input, .woocommerce-product-search input{background-color:#fff !important;border-radius:20px 0 0 20px !important}
.search-block .advanced-search input[type="submit"]{background-color:#000 !important;border-radius:0 20px 20px 0 !important}
.search-form, .woocommerce-product-search{border-radius:20px}
.search-block .advanced-search form::after{border-radius:34px !important}
.section-heading, .entry-title, .related.products h2{font-size:21px !important}
.product div.images, .shop-content-block .thumbnails{width:100% !important; float:left}
.product .productImageContainer{width:36% !important; float:left}
.shop-content-block .thumbnails .owl-item {margin-right: 2px !important;width: 70px !important}
.product div.summary{width:62% !important; float:right !important}
.inner-browse-block .search-field{border-radius:4px 0 0 4px !important}
.inner-browse-block input[type="submit"]{border-radius:0 4px 4px 0 !important}
.woocommerce div.product .woocommerce-tabs ul.tabs li {padding:0 27px !important}
}
@media (max-width:1023px) {
.entry-header, .entry-summary, .entry-content, .entry-footer, .page-content {margin: 0 !important}
ul.member-links li {background-color: #f3f3f3;margin-bottom: 2px;padding: 6px !important}
.member-links li a::before {left: 7px !important;top: 8px !important}
.member-links a {display: block}
.widget-retailer-info, .widget-buyer-info {padding-bottom: 21px}
}
@media only screen 
  and (min-device-width: 1px) 
  and (max-device-width: 767px) 
  and (orientation: portrait) {
.site-header-main .row {height: 139px}
.product-description-form .right .haggle-stamp1 {max-width: 67px !important; right: 0 !important; bottom:0 !important}
.follow-us-mob {margin-right: -54px;position: relative;right: 50%}
#haggle-accordion h3 {line-height: 18px;padding: 3% 0 3% 12% !important}
.fieldset-content > span, .quotaion-details .qd-row label {background-color: #f6f6f6;padding: 6px;width: 100%}
.product-navigation-wrap .woocommerce-ordering {float: left;width: 100%; text-align:center}
.product-navigation-wrap .woocommerce-pagination .page-numbers{float:none !important}
.fieldset-row > li:first-child {float: left;width: 100% !important}
.fieldset-row > li {float: left !important;margin-bottom: 15px;width: 100% !important}
.site-description {text-align: center !important}
.why-haggle-block .section-heading::after{top: 70px !important}
#popular-category{margin: 0 auto;width: 60%}
#popular-category .owl-item{left: 0}
.site-branding{text-align: center}
.primary-footer{text-align: center}
.footer-social {margin: 0 0 18px !important}
.site-branding img{max-width: 210px}
.menu-toggle{right: 21px;top: 11px !important}

.search-block .search-heading, .inner-browse-block .search-heading, .inner-browse-block .search-heading, .inner-browse-block .search-heading{left: 50%;margin-left: -30%;position: relative;width: 60%}
.why-haggle{width: 90% !important}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*="columns-"] ul.products li.product, .woocommerce[class*="columns-"] ul.products li.product{width: 100% !important}

.customer-register, .retialer-register{margin: 0 0 15px !important; width: 100% !important}
.register-header .entry-title::after{top:54px !important}
.register-wrap {padding: 15px !important}
.login-link {border-top: 0 none !important;margin-top: 0 !important;padding-top: 0 !important}
.product-navigation-wrap .woocommerce-ordering {margin-right: 0 !important}
.page-numbers{float:left}
.woocommerce-result-count {float: right !important;margin-right: 0 !important;padding-right: 0 !important;text-align: right;width: 60%}
.woocommerce nav.woocommerce-pagination ul li:first-child {margin-left: 0;padding-left: 0 !important}
.woocommerce div.product .woocommerce-tabs ul.tabs li {padding: 0 9px !important}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {font-size: 12px !important}
.quote-list .listing-header, .job-list .listing-header, .best-quote-list .listing-header, .admin-job-detail .listing-header {display: none}
.quote-list-rt .jt, .quote-list-rt .jpo, .quote-list-rt .qa, .quote-list-rt .st, .quote-list-rt .act, .job-list-rt .jt, .job-list-rt .ao, .job-list-rt .add, .job-list-rt .tel, .job-list-rt .act, .best-quote-list .jt, .best-quote-list .qa, .best-quote-list .qd, .best-quote-list .act, .quote-list-rt .qa, .quote-list .listing-header .qa, .quote-request .listing-header .qa, .quote-request .qa, .quote-request .jst, .quote-request .qst, .quote-list-rt .jst, .quote-list-rt .qst, .quote-request .act, .quote-list-rt .act, .quote-list-rt .jst, .quote-list-rt .qst {
  float: left;
  margin-bottom: 3px;
  padding: 6px;
  text-align: left !important;
  width: 100% !important;
  color:#606060
}
.quote-list-rt .act P, .quote-list-rt .jst P, .quote-list-rt .qst P{margin-bottom:0; font-size: 13px; line-height: 18px}
.quote-list-rt .st p.haggle_submit, .quote-list-rt .act a, .quote-list-rt .st p.haggle_pending, .job-list-rt .act a, .job-list-rt .haggle_closed, .quote-list-rt .haggle_closed{min-width:120px !important; font-weight:bold !important; font-size:12px !important}
.listing-body {padding: 0 !important}

.quote-list-rt .jt, .quote-list-rt .jpo, .quote-list-rt .qa, .job-list-rt .jt, .job-list-rt .ao, .job-list-rt .add, .job-list-rt .tel, .best-quote-list .jt, .best-quote-list .qa, .best-quote-list .qd, .best-quote-list .act, .quote-list-rt .jst, .quote-list-rt .qst{background-color:#f6f6f6 !important}

.quote-list-rt .st, .quote-list-rt .act, .job-list-rt .act{padding:2px 6px 0 !important}

.smallipop-theme-default .smallipop-content {max-width: 200px !important}
.brand-chekbox > li {width: 50% !important}
.fieldset-special li .special-inner label.error {top: 32px !important}
.fieldset-content.fieldset-special {margin-bottom: 21px !important}
.retailer-job-fieldset .fieldset-content .special-inner label.error {left: 0;top: 30px}
.fieldset-row > li {width: 100% !important}
.retailer-job-fieldset .fieldset-content label {line-height: 18px}
.radio-wrap.deliveryTimeframe label.error {left: 90% !important;position: absolute;top: -4px !important}
}
}
@media only screen 
  and (min-device-width: 1px) 
  and (max-device-width: 767px) 
  and (orientation: landscape) {
.product-description-form .right .haggle-stamp1 {max-width: 97px !important; right: 0 !important}
.follow-us-mob {display: block !important; position: absolute;right: 66px; top: 5px}
.footer-bottom {width: 33%}
#haggle-accordion h3 {padding: 3% 0 3% 6% !important}
.summary.entry-summary .wb-single-img-cnt{width:100% !important}
.footer .container .primary-footer {float: left !important;font-size: 11px;padding: 0 1%;width: 49% !important}
.site-description {text-align: left !important}
.why-haggle-block .section-heading::after{top: 50px !important}
#popular-category{margin: 0 auto;width: 70%}
#popular-category .owl-item{left: 9px}

.menu-toggle{right: 15px}

.products li {margin: 0 3% 2% 0 !important}
.products li:nth-of-type(2n+1){margin-right:0px !important}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*="columns-"] ul.products li.product, .woocommerce[class*="columns-"] ul.products li.product{width: 48% !important}

#cregister, .retialer-register a{font-size:13px !important}
.customer-register, .retialer-register{min-height: 190px}
.entry-content h1, .entry-summary h1, .comment-content h1{min-height: 0 !important}
.product-navigation-wrap .woocommerce-pagination {width: 63% !important}
.product-navigation-wrap .woocommerce-pagination .page-numbers{float:left}
.product-navigation-wrap .woocommerce-ordering {margin-right: 0 !important}
.woocommerce nav.woocommerce-pagination ul li:first-child {margin-left: 0;padding-left: 0 !important}
.woocommerce div.product .woocommerce-tabs ul.tabs li {padding: 0 9px !important}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {font-size: 12px !important}
.menu-toggle {right: 24px;top: 17px !important}
.smallipop-theme-default .smallipop-content {max-width: 200px !important}
.radio-wrap.deliveryTimeframe label.error {top: 27px !important}

.fieldset-row > li:first-child {width: 50% !important}
.fieldset-row > li:last-child {width: 45% !important}

.quote-list .listing-header, .job-list .listing-header, .best-quote-list .listing-header, .admin-job-detail .listing-header {display: none}

.quote-list-rt .jt, .job-list-rt .jt, .job-list-rt .act, .best-quote-list .jt {
  float: left;
  margin-bottom: 3px;
  padding: 6px;
  text-align: left !important;
  width: 100% !important;
}

.job-list-rt .ao, .job-list-rt .add, .job-list-rt .tel, .best-quote-list .qa, .best-quote-list .qd, .best-quote-list .act{
  border-right: 2px solid #fff;
  color: #606060;
  float: left;
  margin-bottom: 3px;
  padding: 6px;
  text-align: left !important;
  width: 33.33% !important;
}

.quote-list-rt .jpo, .quote-list-rt .qa, .quote-list-rt .st, .quote-list-rt .act, .quote-list-rt .jst, .quote-list-rt .qst{
  border-right: 2px solid #fff;
  color: #606060;
  float: left;
  margin-bottom: 3px;
  padding: 6px;
  text-align: left !important;
  width: 50% !important;
}


.quote-list-rt .st p.haggle_submit, .quote-list-rt .act a, .quote-list-rt .st p.haggle_pending, .job-list-rt .act a, .best-quote-list .act a{min-width:120px !important; font-weight:bold !important; font-size:12px !important}
.listing-body {padding: 0 !important}

.quote-list-rt .jt, .job-list-rt .jt, .quote-list-rt .jpo, .quote-list-rt .qa, .job-list-rt .ao, .job-list-rt .add, .job-list-rt .tel, .best-quote-list .jt, .best-quote-list .qa, .best-quote-list .qd, .best-quote-list .act, .quote-list-rt .jst, .quote-list-rt .qst{background-color:#f6f6f6 !important}

.quote-list-rt .act P, .quote-list-rt .jst P, .quote-list-rt .qst P {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0;
}

.quote-list-rt .st, .quote-list-rt .act, .job-list-rt .act, .best-quote-list .act{padding:2px 6px 0 !important}

.best-quote-list .qa, .best-quote-list .qd, .best-quote-list .act {min-height: 60px}

.quote-list-rt .jpo:before, .quote-list-rt .qa:before, .job-list-rt .ao:before, .job-list-rt .add:before, .job-list-rt .tel:before, .best-quote-list .qa:before, .best-quote-list .qd:before, .best-quote-list .act:before{ float:left; width:100%; margin-bottom:6px}

.quote-list-rt .act:before, .job-list-rt .act:before{padding-right:6px}
}

 /*01.09*/
@media (max-width:767px) {
.quote-list .ji, .job-list .ji, .quote-request .ji {background-color: #f6f6f6 !important; margin-bottom: 3px; padding: 6px; text-align: left !important; width: 100% !important}
.quote-list .ji::before, .job-list .ji::before, .quote-request .ji::before  {color: #000;content: "Job ID: "}
}