<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing statuses...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Smeg C91GMXAT1 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve slug of already existing article for `Smeg C91GMXAT1 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Smeg C91GMXAT1 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Smeg C91GMXAT1 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Smeg C91GMXAT1 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Smeg C91GMXAT1 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Preserve post author of already existing article for `Smeg C91GMXAT1 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Smeg C91GMXAT1 900mm Multi-Fuel Freestanding Cooker`</div>
<div class="progress-msg"><b>UPDATING</b> `Smeg C91GMXAT1 900mm Multi-Fuel Freestanding Cooker` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Smeg C91GMXAT1 900mm Multi-Fuel Freestanding Cooker` `Product` (ID: 12349)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Forme FDT9010 Tile Insert 900mm Channel Waste – Wide`</div>
<div class="progress-msg">Preserve slug of already existing article for `Forme FDT9010 Tile Insert 900mm Channel Waste – Wide`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Forme FDT9010 Tile Insert 900mm Channel Waste – Wide`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Forme FDT9010 Tile Insert 900mm Channel Waste – Wide`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Forme FDT9010 Tile Insert 900mm Channel Waste – Wide`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Forme FDT9010 Tile Insert 900mm Channel Waste – Wide`</div>
<div class="progress-msg">Preserve post author of already existing article for `Forme FDT9010 Tile Insert 900mm Channel Waste – Wide`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Forme FDT9010 Tile Insert 900mm Channel Waste – Wide`</div>
<div class="progress-msg"><b>UPDATING</b> `Forme FDT9010 Tile Insert 900mm Channel Waste – Wide` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Forme FDT9010 Tile Insert 900mm Channel Waste – Wide` `Product` (ID: 12887)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Astrawalker A6961C Icon Toilet Roll Holder`</div>
<div class="progress-msg">Preserve slug of already existing article for `Astrawalker A6961C Icon Toilet Roll Holder`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Astrawalker A6961C Icon Toilet Roll Holder`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Astrawalker A6961C Icon Toilet Roll Holder`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Astrawalker A6961C Icon Toilet Roll Holder`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Astrawalker A6961C Icon Toilet Roll Holder`</div>
<div class="progress-msg">Preserve post author of already existing article for `Astrawalker A6961C Icon Toilet Roll Holder`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Astrawalker A6961C Icon Toilet Roll Holder`</div>
<div class="progress-msg"><b>UPDATING</b> `Astrawalker A6961C Icon Toilet Roll Holder` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Astrawalker A6961C Icon Toilet Roll Holder` `Product` (ID: 12142)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Astrawalker A69556C Icon 600mm Single Towel Rail`</div>
<div class="progress-msg">Preserve slug of already existing article for `Astrawalker A69556C Icon 600mm Single Towel Rail`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Astrawalker A69556C Icon 600mm Single Towel Rail`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Astrawalker A69556C Icon 600mm Single Towel Rail`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Astrawalker A69556C Icon 600mm Single Towel Rail`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Astrawalker A69556C Icon 600mm Single Towel Rail`</div>
<div class="progress-msg">Preserve post author of already existing article for `Astrawalker A69556C Icon 600mm Single Towel Rail`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Astrawalker A69556C Icon 600mm Single Towel Rail`</div>
<div class="progress-msg"><b>UPDATING</b> `Astrawalker A69556C Icon 600mm Single Towel Rail` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Astrawalker A69556C Icon 600mm Single Towel Rail` `Product` (ID: 12138)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Astrawalker A6951C Icon Hand Holder`</div>
<div class="progress-msg">Preserve slug of already existing article for `Astrawalker A6951C Icon Hand Holder`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Astrawalker A6951C Icon Hand Holder`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Astrawalker A6951C Icon Hand Holder`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Astrawalker A6951C Icon Hand Holder`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Astrawalker A6951C Icon Hand Holder`</div>
<div class="progress-msg">Preserve post author of already existing article for `Astrawalker A6951C Icon Hand Holder`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Astrawalker A6951C Icon Hand Holder`</div>
<div class="progress-msg"><b>UPDATING</b> `Astrawalker A6951C Icon Hand Holder` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Astrawalker A6951C Icon Hand Holder` `Product` (ID: 12136)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Astrawalker A6949C Icon Wall Top Assembly`</div>
<div class="progress-msg">Preserve slug of already existing article for `Astrawalker A6949C Icon Wall Top Assembly`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Astrawalker A6949C Icon Wall Top Assembly`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Astrawalker A6949C Icon Wall Top Assembly`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Astrawalker A6949C Icon Wall Top Assembly`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Astrawalker A6949C Icon Wall Top Assembly`</div>
<div class="progress-msg">Preserve post author of already existing article for `Astrawalker A6949C Icon Wall Top Assembly`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Astrawalker A6949C Icon Wall Top Assembly`</div>
<div class="progress-msg"><b>UPDATING</b> `Astrawalker A6949C Icon Wall Top Assembly` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Astrawalker A6949C Icon Wall Top Assembly` `Product` (ID: 12135)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Astrawalker A6906S25C Icon 200mm Wall Spout`</div>
<div class="progress-msg">Preserve slug of already existing article for `Astrawalker A6906S25C Icon 200mm Wall Spout`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Astrawalker A6906S25C Icon 200mm Wall Spout`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Astrawalker A6906S25C Icon 200mm Wall Spout`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Astrawalker A6906S25C Icon 200mm Wall Spout`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Astrawalker A6906S25C Icon 200mm Wall Spout`</div>
<div class="progress-msg">Preserve post author of already existing article for `Astrawalker A6906S25C Icon 200mm Wall Spout`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Astrawalker A6906S25C Icon 200mm Wall Spout`</div>
<div class="progress-msg"><b>UPDATING</b> `Astrawalker A6906S25C Icon 200mm Wall Spout` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Astrawalker A6906S25C Icon 200mm Wall Spout` `Product` (ID: 12120)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Astrawalker A6905C Icon Bath Set`</div>
<div class="progress-msg">Preserve slug of already existing article for `Astrawalker A6905C Icon Bath Set`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Astrawalker A6905C Icon Bath Set`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Astrawalker A6905C Icon Bath Set`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Astrawalker A6905C Icon Bath Set`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Astrawalker A6905C Icon Bath Set`</div>
<div class="progress-msg">Preserve post author of already existing article for `Astrawalker A6905C Icon Bath Set`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Astrawalker A6905C Icon Bath Set`</div>
<div class="progress-msg"><b>UPDATING</b> `Astrawalker A6905C Icon Bath Set` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Astrawalker A6905C Icon Bath Set` `Product` (ID: 12118)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `AEG DF6260MLA 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve slug of already existing article for `AEG DF6260MLA 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `AEG DF6260MLA 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve menu order of already existing article for `AEG DF6260MLA 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve post parent of already existing article for `AEG DF6260MLA 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve comment status of already existing article for `AEG DF6260MLA 600mm Slideout Rangehood`</div>
<div class="progress-msg">Preserve post author of already existing article for `AEG DF6260MLA 600mm Slideout Rangehood`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `AEG DF6260MLA 600mm Slideout Rangehood`</div>
<div class="progress-msg"><b>UPDATING</b> `AEG DF6260MLA 600mm Slideout Rangehood` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `AEG DF6260MLA 600mm Slideout Rangehood` `Product` (ID: 12563)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hansgrohe 319670001362018 Focus Shower/Bath Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hansgrohe 319670001362018 Focus Shower/Bath Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hansgrohe 319670001362018 Focus Shower/Bath Mixer` `Product` (ID: 11371)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hansgrohe 712200001362218 Logis 195mm Wall Basin Mixer` `Product` (ID: 15089)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hansgrohe 716060001362018 Logis Shower/Bath Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hansgrohe 716060001362018 Logis Shower/Bath Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hansgrohe 716060001362018 Logis Shower/Bath Mixer` `Product` (ID: 11373)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hansgrohe 717320013622180 Talis E 165mm Wall Basin Mixer` `Product` (ID: 18035)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Hansgrohe 717660013620180 Talis E Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Hansgrohe 717660013620180 Talis E Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Hansgrohe 717660013620180 Talis E Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Hansgrohe 717660013620180 Talis E Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Hansgrohe 717660013620180 Talis E Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Hansgrohe 717660013620180 Talis E Shower/Bath Mixer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Hansgrohe 717660013620180 Talis E Shower/Bath Mixer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Hansgrohe 717660013620180 Talis E Shower/Bath Mixer`</div>
<div class="progress-msg"><b>UPDATING</b> `Hansgrohe 717660013620180 Talis E Shower/Bath Mixer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Hansgrohe 717660013620180 Talis E Shower/Bath Mixer` `Product` (ID: 19236)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve slug of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Preserve post author of already existing article for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Electrolux EWF12853 8.5kg Front Load Washer`</div>
<div class="progress-msg"><b>UPDATING</b> `Electrolux EWF12853 8.5kg Front Load Washer` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Electrolux EWF12853 8.5kg Front Load Washer` `Product` (ID: 19247)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
