<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WVE916SA 900mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WVE916SA 900mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WVE916SA 900mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WVE916SA 900mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WVE916SA 900mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WVE916SA 900mm Electric Built-In Oven`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WVE916SA 900mm Electric Built-In Oven`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WVE916SA 900mm Electric Built-In Oven`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WVE916SA 900mm Electric Built-In Oven` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WVE916SA 900mm Electric Built-In Oven` `Product` (ID: 14605)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WTB3400WF 340 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WTB3400WF 340 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WTB3400WF 340 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WTB3400WF 340 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WTB3400WF 340 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WTB3400WF 340 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WTB3400WF 340 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WTB3400WF 340 Litre Top Mount Refrigerator`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WTB3400WF 340 Litre Top Mount Refrigerator` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WTB3400WF 340 Litre Top Mount Refrigerator` `Product` (ID: 14584)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post was found for post ``...</div>
<div class="progress-msg">Preserve date of already existing article for ``</div>
<div class="progress-msg">Preserve content of already existing article for ``</div>
<div class="progress-msg">Preserve title of already existing article for `Westinghouse WTB2500WF 250 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve slug of already existing article for `Westinghouse WTB2500WF 250 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve excerpt of already existing article for `Westinghouse WTB2500WF 250 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve menu order of already existing article for `Westinghouse WTB2500WF 250 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve post parent of already existing article for `Westinghouse WTB2500WF 250 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve comment status of already existing article for `Westinghouse WTB2500WF 250 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Preserve post author of already existing article for `Westinghouse WTB2500WF 250 Litre Top Mount Refrigerator`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Westinghouse WTB2500WF 250 Litre Top Mount Refrigerator`</div>
<div class="progress-msg"><b>UPDATING</b> `Westinghouse WTB2500WF 250 Litre Top Mount Refrigerator` `Product`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Product product_brand `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_cat `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg">- Product product_tag `` has been skipped attempted to `Do not update Taxonomies (incl. Categories and Tags)`...</div>
<div class="progress-msg"><b>UPDATED</b> `Westinghouse WTB2500WF 250 Litre Top Mount Refrigerator` `Product` (ID: 14583)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg"><b>WARNING</b>: title is empty.</div>
<div class="progress-msg">Combine all data for post ``...</div>
<div class="progress-msg">Find corresponding article among database for post ``...</div>
<div class="progress-msg">Duplicate post wasn't found for post ``...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for ``</div>
<div class="progress-msg"><b>CREATING</b> `` `Product`</div>
<div class="progress-msg"><b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
