<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Canon 100DKIS Canon - EOS 100D 18MP Digital SLR Camera with Lens - Black`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Canon 100DKIS Canon - EOS 100D 18MP Digital SLR Camera with Lens - Black`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `100DKIS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Canon 100DKIS Canon - EOS 100D 18MP Digital SLR Camera with Lens - Black`</div>
<div class="progress-msg"><b>CREATING</b> `Canon 100DKIS Canon - EOS 100D 18MP Digital SLR Camera with Lens - Black` `Product`</div>
<div class="progress-msg">Associate post `Canon 100DKIS Canon - EOS 100D 18MP Digital SLR Camera with Lens - Black` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Canon 100DKIS Canon - EOS 100D 18MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Canon 100DKIS Canon - EOS 100D 18MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/1/0/100dkis_h.jpg` for `Canon 100DKIS Canon - EOS 100D 18MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 100dkis_h.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/1/0/100dkis_h.jpg`</div>
<div class="progress-msg">- Image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/1/0/100dkis_h.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/100dkis_h.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/100dkis_h.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Canon`, duplicate detected. Importing Product to existing `Canon` product_brand, ID 6228, slug `canon` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cameras`, duplicate detected. Importing Product to existing `Cameras` product_cat, ID 6229, slug `cameras` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Digital SLR Cameras`, duplicate detected. Importing Product to existing `Digital SLR Cameras` product_cat, ID 6233, slug `digital-slr-cameras` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Canon 100DKIS Canon - EOS 100D 18MP Digital SLR Camera with Lens - Black` `Product` (ID: 19060)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Canon 700DSK Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Canon 700DSK Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `700DSK`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Canon 700DSK Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black`</div>
<div class="progress-msg"><b>CREATING</b> `Canon 700DSK Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` `Product`</div>
<div class="progress-msg">Associate post `Canon 700DSK Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Canon 700DSK Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Canon 700DSK Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/7/0/700dsk_h.jpg` for `Canon 700DSK Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 700dsk_h.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/7/0/700dsk_h.jpg`</div>
<div class="progress-msg">- Image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/7/0/700dsk_h.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/700dsk_h.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/700dsk_h.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Canon`, duplicate detected. Importing Product to existing `Canon` product_brand, ID 6228, slug `canon` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cameras`, duplicate detected. Importing Product to existing `Cameras` product_cat, ID 6229, slug `cameras` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Digital SLR Cameras`, duplicate detected. Importing Product to existing `Digital SLR Cameras` product_cat, ID 6233, slug `digital-slr-cameras` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Canon 700DSK Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` `Product` (ID: 19062)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Nikon BAA711AA Nikon - Sportstar EX Binoculars - Charcoal Grey`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Nikon BAA711AA Nikon - Sportstar EX Binoculars - Charcoal Grey`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `BAA711AA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Nikon BAA711AA Nikon - Sportstar EX Binoculars - Charcoal Grey`</div>
<div class="progress-msg"><b>CREATING</b> `Nikon BAA711AA Nikon - Sportstar EX Binoculars - Charcoal Grey` `Product`</div>
<div class="progress-msg">Associate post `Nikon BAA711AA Nikon - Sportstar EX Binoculars - Charcoal Grey` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Nikon BAA711AA Nikon - Sportstar EX Binoculars - Charcoal Grey` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Nikon BAA711AA Nikon - Sportstar EX Binoculars - Charcoal Grey` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/b/a/baa711aa.jpg` for `Nikon BAA711AA Nikon - Sportstar EX Binoculars - Charcoal Grey` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image baa711aa.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/b/a/baa711aa.jpg`</div>
<div class="progress-msg">- Image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/b/a/baa711aa.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/baa711aa.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/baa711aa.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Nikon`, duplicate detected. Importing Product to existing `Nikon` product_brand, ID 6232, slug `nikon` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cameras`, duplicate detected. Importing Product to existing `Cameras` product_cat, ID 6229, slug `cameras` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Binoculars`, duplicate detected. Importing Product to existing `Binoculars` product_cat, ID 6238, slug `binoculars` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Nikon BAA711AA Nikon - Sportstar EX Binoculars - Charcoal Grey` `Product` (ID: 19064)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Canon EF5014U Canon - EF 50mm f/1.4 USM Camera Lens - Black`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Canon EF5014U Canon - EF 50mm f/1.4 USM Camera Lens - Black`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `EF5014U`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Canon EF5014U Canon - EF 50mm f/1.4 USM Camera Lens - Black`</div>
<div class="progress-msg"><b>CREATING</b> `Canon EF5014U Canon - EF 50mm f/1.4 USM Camera Lens - Black` `Product`</div>
<div class="progress-msg">Associate post `Canon EF5014U Canon - EF 50mm f/1.4 USM Camera Lens - Black` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Canon EF5014U Canon - EF 50mm f/1.4 USM Camera Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Canon EF5014U Canon - EF 50mm f/1.4 USM Camera Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/e/f/ef5014u_h_1.jpg` for `Canon EF5014U Canon - EF 50mm f/1.4 USM Camera Lens - Black` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image ef5014u_h_1.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/e/f/ef5014u_h_1.jpg`</div>
<div class="progress-msg">- Image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/e/f/ef5014u_h_1.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/ef5014u_h_1.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/ef5014u_h_1.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Canon`, duplicate detected. Importing Product to existing `Canon` product_brand, ID 6228, slug `canon` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cameras`, duplicate detected. Importing Product to existing `Cameras` product_cat, ID 6229, slug `cameras` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Camera Accessories`, duplicate detected. Importing Product to existing `Camera Accessories` product_cat, ID 6230, slug `camera-accessories` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Canon EF5014U Canon - EF 50mm f/1.4 USM Camera Lens - Black` `Product` (ID: 19066)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Canon EF70-20040L Canon - EF 70-200mm f/4L USM Camera Lens - White`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Canon EF70-20040L Canon - EF 70-200mm f/4L USM Camera Lens - White`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `EF70-20040L`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Canon EF70-20040L Canon - EF 70-200mm f/4L USM Camera Lens - White`</div>
<div class="progress-msg"><b>CREATING</b> `Canon EF70-20040L Canon - EF 70-200mm f/4L USM Camera Lens - White` `Product`</div>
<div class="progress-msg">Associate post `Canon EF70-20040L Canon - EF 70-200mm f/4L USM Camera Lens - White` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Canon EF70-20040L Canon - EF 70-200mm f/4L USM Camera Lens - White` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Canon EF70-20040L Canon - EF 70-200mm f/4L USM Camera Lens - White` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/e/f/ef70-20040l_h.jpg` for `Canon EF70-20040L Canon - EF 70-200mm f/4L USM Camera Lens - White` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image ef70-20040l_h.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/e/f/ef70-20040l_h.jpg`</div>
<div class="progress-msg">- Image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/e/f/ef70-20040l_h.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/ef70-20040l_h.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/ef70-20040l_h.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Canon`, duplicate detected. Importing Product to existing `Canon` product_brand, ID 6228, slug `canon` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cameras`, duplicate detected. Importing Product to existing `Cameras` product_cat, ID 6229, slug `cameras` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Camera Accessories`, duplicate detected. Importing Product to existing `Camera Accessories` product_cat, ID 6230, slug `camera-accessories` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Canon EF70-20040L Canon - EF 70-200mm f/4L USM Camera Lens - White` `Product` (ID: 19068)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Canon 700DKIS Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Canon 700DKIS Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `700DKIS`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Canon 700DKIS Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black`</div>
<div class="progress-msg"><b>CREATING</b> `Canon 700DKIS Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` `Product`</div>
<div class="progress-msg">Associate post `Canon 700DKIS Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Canon 700DKIS Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Canon 700DKIS Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/7/0/700dkis_h.jpg` for `Canon 700DKIS Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 700dkis_h.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/7/0/700dkis_h.jpg`</div>
<div class="progress-msg">- Image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/7/0/700dkis_h.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/700dkis_h.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/700dkis_h.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Canon`, duplicate detected. Importing Product to existing `Canon` product_brand, ID 6228, slug `canon` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cameras`, duplicate detected. Importing Product to existing `Cameras` product_cat, ID 6229, slug `cameras` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Digital SLR Cameras`, duplicate detected. Importing Product to existing `Digital SLR Cameras` product_cat, ID 6233, slug `digital-slr-cameras` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Canon 700DKIS Canon - EOS 700D 18MP Digital SLR Camera with Lens - Black` `Product` (ID: 19070)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Nikon 850222 Nikon - D5200 24.1MP Digital SLR Camera with Lens - Black`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Nikon 850222 Nikon - D5200 24.1MP Digital SLR Camera with Lens - Black`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `850222`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Nikon 850222 Nikon - D5200 24.1MP Digital SLR Camera with Lens - Black`</div>
<div class="progress-msg"><b>CREATING</b> `Nikon 850222 Nikon - D5200 24.1MP Digital SLR Camera with Lens - Black` `Product`</div>
<div class="progress-msg">Associate post `Nikon 850222 Nikon - D5200 24.1MP Digital SLR Camera with Lens - Black` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Nikon 850222 Nikon - D5200 24.1MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Nikon 850222 Nikon - D5200 24.1MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/d/5/d5200_with_twin_lense.png` for `Nikon 850222 Nikon - D5200 24.1MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image d5200_with_twin_lense.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/d/5/d5200_with_twin_lense.png`</div>
<div class="progress-msg">- Image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/d/5/d5200_with_twin_lense.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/d5200_with_twin_lense.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/d5200_with_twin_lense.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Nikon`, duplicate detected. Importing Product to existing `Nikon` product_brand, ID 6232, slug `nikon` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cameras`, duplicate detected. Importing Product to existing `Cameras` product_cat, ID 6229, slug `cameras` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Digital SLR Cameras`, duplicate detected. Importing Product to existing `Digital SLR Cameras` product_cat, ID 6233, slug `digital-slr-cameras` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Nikon 850222 Nikon - D5200 24.1MP Digital SLR Camera with Lens - Black` `Product` (ID: 19072)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Nikon VBK360XH Nikon - D7100 24.1MP Digital SLR Camera with Lens - Black`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Nikon VBK360XH Nikon - D7100 24.1MP Digital SLR Camera with Lens - Black`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `VBK360XH`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Nikon VBK360XH Nikon - D7100 24.1MP Digital SLR Camera with Lens - Black`</div>
<div class="progress-msg"><b>CREATING</b> `Nikon VBK360XH Nikon - D7100 24.1MP Digital SLR Camera with Lens - Black` `Product`</div>
<div class="progress-msg">Associate post `Nikon VBK360XH Nikon - D7100 24.1MP Digital SLR Camera with Lens - Black` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Nikon VBK360XH Nikon - D7100 24.1MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Nikon VBK360XH Nikon - D7100 24.1MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/d/7/d7100_18_105_front34l.jpg` for `Nikon VBK360XH Nikon - D7100 24.1MP Digital SLR Camera with Lens - Black` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image d7100_18_105_front34l.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/d/7/d7100_18_105_front34l.jpg`</div>
<div class="progress-msg">- Image `http://www.harveynormanpromotions.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/d/7/d7100_18_105_front34l.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/d7100_18_105_front34l.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/d7100_18_105_front34l.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Nikon`, duplicate detected. Importing Product to existing `Nikon` product_brand, ID 6232, slug `nikon` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cameras`, duplicate detected. Importing Product to existing `Cameras` product_cat, ID 6229, slug `cameras` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Digital SLR Cameras`, duplicate detected. Importing Product to existing `Digital SLR Cameras` product_cat, ID 6233, slug `digital-slr-cameras` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Nikon VBK360XH Nikon - D7100 24.1MP Digital SLR Camera with Lens - Black` `Product` (ID: 19074)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
