<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Neff B45M42N3AU 600mm Electric Built-In Oven`...</div>
<div class="progress-msg">Find corresponding article among database for post `Neff B45M42N3AU 600mm Electric Built-In Oven`...</div>
<div class="progress-msg">Duplicate post was found for post `Neff B45M42N3AU 600mm Electric Built-In Oven`...</div>
<div class="progress-msg">Deleting attachments for `Neff B45M42N3AU 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Deleting images for `Neff B45M42N3AU 600mm Electric Built-In Oven`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Neff B45M42N3AU 600mm Electric Built-In Oven`</div>
<div class="progress-msg"><b>UPDATING</b> `Neff B45M42N3AU 600mm Electric Built-In Oven` `Product`</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sku has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_rating_count has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_average_rating has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_review_count has been deleted for `Neff B45M42N3AU 600mm Electric Built-In Oven` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Neff B45M42N3AU 600mm Electric Built-In Oven |HaggleFree` for post `Neff B45M42N3AU 600mm Electric Built-In Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Get HaggleFree quotes from your local retailers on Neff B45M42N3AU 600mm Electric Built-In Oven Colour :Stainless Steel| Save up to 25%` for post `Neff B45M42N3AU 600mm Electric Built-In Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/b/4/b45m42n3au_web.jpg` for `Neff B45M42N3AU 600mm Electric Built-In Oven` ...</div>
<div class="progress-msg">- Using existing image `b45m42n3au_web.jpg` for post `Neff B45M42N3AU 600mm Electric Built-In Oven` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/b45m42n3au_web.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Neff`, duplicate detected. Importing Product to existing `Neff` product_brand, ID 1287, slug `neff` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Neff B45M42N3AU 600mm Electric Built-In Oven` `Product` (ID: 12228)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sony BDVN9200WB Home Theatre Tall Boy Black`...</div>
<div class="progress-msg">Find corresponding article among database for post `Sony BDVN9200WB Home Theatre Tall Boy Black`...</div>
<div class="progress-msg">Duplicate post was found for post `Sony BDVN9200WB Home Theatre Tall Boy Black`...</div>
<div class="progress-msg">Deleting attachments for `Sony BDVN9200WB Home Theatre Tall Boy Black`</div>
<div class="progress-msg">Deleting images for `Sony BDVN9200WB Home Theatre Tall Boy Black`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony BDVN9200WB Home Theatre Tall Boy Black`</div>
<div class="progress-msg"><b>UPDATING</b> `Sony BDVN9200WB Home Theatre Tall Boy Black` `Product`</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sku has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_rating_count has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_average_rating has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wc_review_count has been deleted for `Sony BDVN9200WB Home Theatre Tall Boy Black` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Sony BDVN9200WB Home Theatre Tall Boy Black |HaggleFree` for post `Sony BDVN9200WB Home Theatre Tall Boy Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Get HaggleFree quotes from your local retailers on Sony BDVN9200WB Home Theatre Tall Boy Black Colour :| Save up to 25%` for post `Sony BDVN9200WB Home Theatre Tall Boy Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/b/d/bdvn9200wb_-_hav_-_product_image.jpg` for `Sony BDVN9200WB Home Theatre Tall Boy Black` ...</div>
<div class="progress-msg">- Using existing image `bdvn9200wb_-_hav_-_product_image.jpg` for post `Sony BDVN9200WB Home Theatre Tall Boy Black` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/bdvn9200wb_-_hav_-_product_image.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Sony`, duplicate detected. Importing Product to existing `Sony` product_brand, ID 1328, slug `sony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Sony BDVN9200WB Home Theatre Tall Boy Black` `Product` (ID: 12252)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
