<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch PBH615B9TA 600mm Gas Cooktop`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch PBH615B9TA 600mm Gas Cooktop`...</div>
<div class="progress-msg">Duplicate post was found for post Bosch PBH615B9TA 600mm Gas Cooktop with unique key `PBH615B9TA`...</div>
<div class="progress-msg">Deleting attachments for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg">Deleting images for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg"><b>UPDATING</b> `Bosch PBH615B9TA 600mm Gas Cooktop` `Product`</div>
<div class="progress-msg">Associate post `Bosch PBH615B9TA 600mm Gas Cooktop` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sku has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Bosch PBH615B9TA 600mm Gas Cooktop` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Bosch PBH615B9TA 600mm Gas Cooktop |Get HaggleFree prices` for post `Bosch PBH615B9TA 600mm Gas Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Let HaggleFree find the cheapest prices from your local retailers on Bosch PBH615B9TA 600mm Gas Cooktop Colour :Stainless Steel| You could save up to 25% on retail prices` for post `Bosch PBH615B9TA 600mm Gas Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/p/b/pbh615b9ta_web.jpg` for `Bosch PBH615B9TA 600mm Gas Cooktop` ...</div>
<div class="progress-msg">- Using existing image `pbh615b9ta_web.jpg` for post `Bosch PBH615B9TA 600mm Gas Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Bosch`, duplicate detected. Importing Product to existing `Bosch` product_brand, ID 1364, slug `bosch` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Bosch PBH615B9TA 600mm Gas Cooktop` `Product` (ID: 15190)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`...</div>
<div class="progress-msg">Duplicate post was found for post Parisi 20721018 Waterfalls 200mm Wall Bath Spout with unique key `20721018`...</div>
<div class="progress-msg">Deleting attachments for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg">Deleting images for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout`</div>
<div class="progress-msg"><b>UPDATING</b> `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` `Product`</div>
<div class="progress-msg">Associate post `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sku has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Parisi 20721018 Waterfalls 200mm Wall Bath Spout |HaggleFree` for post `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Get HaggleFree quotes from your local retailers on Parisi 20721018 Waterfalls 200mm Wall Bath Spout Colour :Chrome| Save up to 25%` for post `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/2/0/20721018_parisi_web.jpg` for `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` ...</div>
<div class="progress-msg">- Using existing image `20721018_parisi_web.jpg` for post `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Parisi`, duplicate detected. Importing Product to existing `Parisi` product_brand, ID 533, slug `parisi` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Parisi 20721018 Waterfalls 200mm Wall Bath Spout` `Product` (ID: 15191)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Zip CT1003 ChillTap Sparkling Residential`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Zip CT1003 ChillTap Sparkling Residential`...</div>
<div class="progress-msg">Duplicate post was found for post Zip CT1003 ChillTap Sparkling Residential with unique key `CT1003`...</div>
<div class="progress-msg">Deleting attachments for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg">Deleting images for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Zip CT1003 ChillTap Sparkling Residential`</div>
<div class="progress-msg"><b>UPDATING</b> `Zip CT1003 ChillTap Sparkling Residential` `Product`</div>
<div class="progress-msg">Associate post `Zip CT1003 ChillTap Sparkling Residential` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Zip CT1003 ChillTap Sparkling Residential` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg"><b>WARNING</b>: Product SKU must be unique.</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Zip CT1003 ChillTap Sparkling Residential |Get HaggleFree prices` for post `Zip CT1003 ChillTap Sparkling Residential` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Let HaggleFree find the cheapest prices from your local retailers on Zip CT1003 ChillTap Sparkling Residential Colour :Chrome| You could save up to 25% on retail prices` for post `Zip CT1003 ChillTap Sparkling Residential` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/c/t/ct1003_web_1.jpg` for `Zip CT1003 ChillTap Sparkling Residential` ...</div>
<div class="progress-msg">- Using existing image `ct1003_web_1.jpg` for post `Zip CT1003 ChillTap Sparkling Residential` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Zip`, duplicate detected. Importing Product to existing `Zip` product_brand, ID 146, slug `zip` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Zip CT1003 ChillTap Sparkling Residential` `Product` (ID: 15192)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`...</div>
<div class="progress-msg">Duplicate post was found for post Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG) with unique key `871E24PF`...</div>
<div class="progress-msg">Deleting attachments for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg">Deleting images for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)`</div>
<div class="progress-msg"><b>UPDATING</b> `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` `Product`</div>
<div class="progress-msg">Associate post `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg"><b>WARNING</b>: Product SKU must be unique.</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LP |HaggleFree` for post `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Get HaggleFree quotes from your local retailers on Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG) Colour :White| Save up to 25%` for post `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/8/7/871e24pf_web.jpg` for `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` ...</div>
<div class="progress-msg">- Using existing image `871e24pf_web.jpg` for post `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Rheem`, duplicate detected. Importing Product to existing `Rheem` product_brand, ID 161, slug `rheem` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Rheem 871E24PF Rheem24 Continuous Flow Water Heater (LPG)` `Product` (ID: 15193)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG WTG8532WH 8.5kg Top Load Washer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG WTG8532WH 8.5kg Top Load Washer`...</div>
<div class="progress-msg">Duplicate post was found for post LG WTG8532WH 8.5kg Top Load Washer with unique key `WTG8532WH`...</div>
<div class="progress-msg">Deleting attachments for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg">Deleting images for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG WTG8532WH 8.5kg Top Load Washer`</div>
<div class="progress-msg"><b>UPDATING</b> `LG WTG8532WH 8.5kg Top Load Washer` `Product`</div>
<div class="progress-msg">Associate post `LG WTG8532WH 8.5kg Top Load Washer` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field _downloadable has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _virtual has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _regular_price has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_status has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _tax_class has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _visibility has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _purchase_note has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _featured has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _weight has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _length has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _width has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _height has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sku has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _variation_description has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_attributes has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_from has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sale_price_dates_to has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _price has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _sold_individually has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _manage_stock has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _backorders has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock_status has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _stock has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_title has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field meta_description has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _product_version has been deleted for `LG WTG8532WH 8.5kg Top Load Washer` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `LG WTG8532WH 8.5kg Top Load Washer |Get HaggleFree prices` for post `LG WTG8532WH 8.5kg Top Load Washer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Let HaggleFree find the cheapest prices from your local retailers on LG WTG8532WH 8.5kg Top Load Washer Colour :White| You could save up to 25% on retail prices` for post `LG WTG8532WH 8.5kg Top Load Washer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/w/t/wtg8532wh_web.jpg` for `LG WTG8532WH 8.5kg Top Load Washer` ...</div>
<div class="progress-msg">- Using existing image `wtg8532wh_web.jpg` for post `LG WTG8532WH 8.5kg Top Load Washer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `LG WTG8532WH 8.5kg Top Load Washer` `Product` (ID: 15194)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
