<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch PBH615B9TA 600mm Gas Cooktop`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch PBH615B9TA 600mm Gas Cooktop`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `PBH615B9TA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch PBH615B9TA 600mm Gas Cooktop`</div>
<div class="progress-msg"><b>CREATING</b> `Bosch PBH615B9TA 600mm Gas Cooktop` `Product`</div>
<div class="progress-msg">Associate post `Bosch PBH615B9TA 600mm Gas Cooktop` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `Bosch PBH615B9TA 600mm Gas Cooktop |Get HaggleFree prices` for post `Bosch PBH615B9TA 600mm Gas Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `Let HaggleFree find the cheapest prices from your local retailers on Bosch PBH615B9TA 600mm Gas Cooktop Colour :Stainless Steel| You could save up to 25% on retail prices` for post `Bosch PBH615B9TA 600mm Gas Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.harveynormancommercial.com.au/media/catalog/product/cache/0/image/265x/9df78eab33525d08d6e5fb8d27136e95/p/b/pbh615b9ta_web.jpg` for `Bosch PBH615B9TA 600mm Gas Cooktop` ...</div>
<div class="progress-msg">- Using existing image `pbh615b9ta_web.jpg` for post `Bosch PBH615B9TA 600mm Gas Cooktop` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Bosch`, duplicate detected. Importing Product to existing `Bosch` product_brand, ID 1364, slug `bosch` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bosch PBH615B9TA 600mm Gas Cooktop` `Product` (ID: 15219)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
