<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dishlex DSF6106W 60cm White Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dishlex DSF6106W 60cm White Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DSF6106W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dishlex DSF6106W 60cm White Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `Dishlex DSF6106W 60cm White Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `Dishlex DSF6106W 60cm White Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dishlex DSF6106W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dishlex DSF6106W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://product.electrolux.com.au/Public/Image2/product/62223/24730/Brand-ProductZoom.png` for `Dishlex DSF6106W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- Using existing image `Brand-ProductZoom.png` for post `Dishlex DSF6106W 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dishlex`, duplicate detected. Importing Product to existing `Dishlex` product_brand, ID 1621, slug `dishlex` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dishwashers`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dishlex DSF6106W 60cm White Freestanding Dishwasher` `Product` (ID: 16368)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dishlex DSF6206W White Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dishlex DSF6206W White Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DSF6206W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Dishlex DSF6206W White Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `Dishlex DSF6206W White Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `Dishlex DSF6206W White Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Dishlex DSF6206W White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Dishlex DSF6206W White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://product.electrolux.com.au/Public/Image2/product/62225/24738/Brand-ProductZoom.png` for `Dishlex DSF6206W White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- Using existing image `Brand-ProductZoom.png` for post `Dishlex DSF6206W White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Dishlex`, duplicate detected. Importing Product to existing `Dishlex` product_brand, ID 1621, slug `dishlex` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dishwashers`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dishlex DSF6206W White Freestanding Dishwasher` `Product` (ID: 16369)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Miele G4920SCCLST 60cm CleanSteel Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Miele G4920SCCLST 60cm CleanSteel Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `G4920SCCLST`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Miele G4920SCCLST 60cm CleanSteel Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `Miele G4920SCCLST 60cm CleanSteel Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `Miele G4920SCCLST 60cm CleanSteel Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Miele G4920SCCLST 60cm CleanSteel Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Miele G4920SCCLST 60cm CleanSteel Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/10079860.jpg` for `Miele G4920SCCLST 60cm CleanSteel Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 10079860.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/10079860.jpg`</div>
<div class="progress-msg">- Image `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/10079860.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/10079860.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/10079860.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Miele`, duplicate detected. Importing Product to existing `Miele` product_brand, ID 148, slug `miele` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dishwashers`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Miele G4920SCCLST 60cm CleanSteel Freestanding Dishwasher` `Product` (ID: 16370)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `LG LD-1482T4 14 Place Anti-fingerprint Stainless Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `LG LD-1482T4 14 Place Anti-fingerprint Stainless Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `LD-1482T4`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `LG LD-1482T4 14 Place Anti-fingerprint Stainless Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `LG LD-1482T4 14 Place Anti-fingerprint Stainless Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `LG LD-1482T4 14 Place Anti-fingerprint Stainless Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `LG LD-1482T4 14 Place Anti-fingerprint Stainless Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `LG LD-1482T4 14 Place Anti-fingerprint Stainless Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.lg.com/au/images/dishwashers/md05066081/gallery/large01.jpg` for `LG LD-1482T4 14 Place Anti-fingerprint Stainless Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image large01.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.lg.com/au/images/dishwashers/md05066081/gallery/large01.jpg`</div>
<div class="progress-msg">- Image `http://www.lg.com/au/images/dishwashers/md05066081/gallery/large01.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/large01.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/large01.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `LG`, duplicate detected. Importing Product to existing `LG` product_brand, ID 102, slug `lg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dishwashers`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `LG LD-1482T4 14 Place Anti-fingerprint Stainless Freestanding Dishwasher` `Product` (ID: 16372)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch SMS50E32AU White Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch SMS50E32AU White Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SMS50E32AU`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch SMS50E32AU White Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `Bosch SMS50E32AU White Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `Bosch SMS50E32AU White Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Bosch SMS50E32AU White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Bosch SMS50E32AU White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA049875_SMS50E32AU_def.jpg` for `Bosch SMS50E32AU White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image MCSA049875_SMS50E32AU_def.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA049875_SMS50E32AU_def.jpg`</div>
<div class="progress-msg">- Image `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA049875_SMS50E32AU_def.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA049875_SMS50E32AU_def.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA049875_SMS50E32AU_def.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Bosch`, duplicate detected. Importing Product to existing `Bosch` product_brand, ID 1364, slug `bosch` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dishwashers`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bosch SMS50E32AU White Freestanding Dishwasher` `Product` (ID: 16374)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch SMS50M22AU 60cm White Freestanding Dishwasher`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch SMS50M22AU 60cm White Freestanding Dishwasher`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SMS50M22AU`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch SMS50M22AU 60cm White Freestanding Dishwasher`</div>
<div class="progress-msg"><b>CREATING</b> `Bosch SMS50M22AU 60cm White Freestanding Dishwasher` `Product`</div>
<div class="progress-msg">Associate post `Bosch SMS50M22AU 60cm White Freestanding Dishwasher` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Bosch SMS50M22AU 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Bosch SMS50M22AU 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA00862162_F2793_SMS50M22AU_497354_def.jpg` for `Bosch SMS50M22AU 60cm White Freestanding Dishwasher` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image MCSA00862162_F2793_SMS50M22AU_497354_def.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA00862162_F2793_SMS50M22AU_497354_def.jpg`</div>
<div class="progress-msg">- Image `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA00862162_F2793_SMS50M22AU_497354_def.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00862162_F2793_SMS50M22AU_497354_def.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00862162_F2793_SMS50M22AU_497354_def.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Bosch`, duplicate detected. Importing Product to existing `Bosch` product_brand, ID 1364, slug `bosch` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Dishwashers`, duplicate detected. Importing Product to existing `Dishwashers` product_cat, ID 86, slug `dishwashers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Freestanding/Built in Dishwashers`, duplicate detected. Importing Product to existing `Freestanding/Built in Dishwashers` product_cat, ID 4043, slug `freestandingbuilt-in-dishwashers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bosch SMS50M22AU 60cm White Freestanding Dishwasher` `Product` (ID: 16376)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
