<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Changhong LED32E2000 32" (81cm) HD LED  TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Changhong LED32E2000 32" (81cm) HD LED  TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `LED32E2000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Changhong LED32E2000 32" (81cm) HD LED  TV`</div>
<div class="progress-msg"><b>CREATING</b> `Changhong LED32E2000 32" (81cm) HD LED  TV` `Product`</div>
<div class="progress-msg">Associate post `Changhong LED32E2000 32" (81cm) HD LED  TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Changhong LED32E2000 32" (81cm) HD LED  TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Changhong LED32E2000 32" (81cm) HD LED  TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/c/h/changhong_led32e2000.jpg` for `Changhong LED32E2000 32" (81cm) HD LED  TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image changhong_led32e2000.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/c/h/changhong_led32e2000.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/c/h/changhong_led32e2000.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/changhong_led32e2000.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/changhong_led32e2000.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Changhong`, duplicate detected. Importing Product to existing `Changhong` product_brand, ID 1813, slug `changhong` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Under 48 Inch TVs`, duplicate detected. Importing Product to existing `Under 48 Inch TVs` product_cat, ID 3053, slug `under-48-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Changhong LED32E2000 32" (81cm) HD LED  TV` `Product` (ID: 18268)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Changhong LED39E2000 39" (99cm) HD LED TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Changhong LED39E2000 39" (99cm) HD LED TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `LED39E2000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Changhong LED39E2000 39" (99cm) HD LED TV`</div>
<div class="progress-msg"><b>CREATING</b> `Changhong LED39E2000 39" (99cm) HD LED TV` `Product`</div>
<div class="progress-msg">Associate post `Changhong LED39E2000 39" (99cm) HD LED TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Changhong LED39E2000 39" (99cm) HD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Changhong LED39E2000 39" (99cm) HD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/tmp/catalog/product/c/h/changhong_led39e2000.jpg` for `Changhong LED39E2000 39" (99cm) HD LED TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image changhong_led39e2000.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/tmp/catalog/product/c/h/changhong_led39e2000.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Changhong`, duplicate detected. Importing Product to existing `Changhong` product_brand, ID 1813, slug `changhong` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Under 48 Inch TVs`, duplicate detected. Importing Product to existing `Under 48 Inch TVs` product_cat, ID 3053, slug `under-48-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Changhong LED39E2000 39" (99cm) HD LED TV` `Product` (ID: 18270)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Changhong LED43E2000 43" (109cm) FHD LED TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Changhong LED43E2000 43" (109cm) FHD LED TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `LED43E2000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Changhong LED43E2000 43" (109cm) FHD LED TV`</div>
<div class="progress-msg"><b>CREATING</b> `Changhong LED43E2000 43" (109cm) FHD LED TV` `Product`</div>
<div class="progress-msg">Associate post `Changhong LED43E2000 43" (109cm) FHD LED TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Changhong LED43E2000 43" (109cm) FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Changhong LED43E2000 43" (109cm) FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/c/h/changhong_led43e2000.jpg` for `Changhong LED43E2000 43" (109cm) FHD LED TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image changhong_led43e2000.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/c/h/changhong_led43e2000.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/c/h/changhong_led43e2000.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/changhong_led43e2000.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/changhong_led43e2000.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Changhong`, duplicate detected. Importing Product to existing `Changhong` product_brand, ID 1813, slug `changhong` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Under 48 Inch TVs`, duplicate detected. Importing Product to existing `Under 48 Inch TVs` product_cat, ID 3053, slug `under-48-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Changhong LED43E2000 43" (109cm) FHD LED TV` `Product` (ID: 18271)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Changhong LED50E2000 50" (127cm) FHD LED TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Changhong LED50E2000 50" (127cm) FHD LED TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `LED50E2000`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Changhong LED50E2000 50" (127cm) FHD LED TV`</div>
<div class="progress-msg"><b>CREATING</b> `Changhong LED50E2000 50" (127cm) FHD LED TV` `Product`</div>
<div class="progress-msg">Associate post `Changhong LED50E2000 50" (127cm) FHD LED TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Changhong LED50E2000 50" (127cm) FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Changhong LED50E2000 50" (127cm) FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/tmp/catalog/product/c/h/changhong_led50e2000.jpg` for `Changhong LED50E2000 50" (127cm) FHD LED TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image changhong_led50e2000.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/tmp/catalog/product/c/h/changhong_led50e2000.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Changhong`, duplicate detected. Importing Product to existing `Changhong` product_brand, ID 1813, slug `changhong` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `48 to 60 Inch TVs`, duplicate detected. Importing Product to existing `48 to 60 Inch TVs` product_cat, ID 3565, slug `48-to-60-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Changhong LED50E2000 50" (127cm) FHD LED TV` `Product` (ID: 18273)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Changhong LED65D2900 65" (165cm) FHD LED TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Changhong LED65D2900 65" (165cm) FHD LED TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `LED65D2900`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Changhong LED65D2900 65" (165cm) FHD LED TV`</div>
<div class="progress-msg"><b>CREATING</b> `Changhong LED65D2900 65" (165cm) FHD LED TV` `Product`</div>
<div class="progress-msg">Associate post `Changhong LED65D2900 65" (165cm) FHD LED TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Changhong LED65D2900 65" (165cm) FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Changhong LED65D2900 65" (165cm) FHD LED TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/tmp/catalog/product/c/h/changhong_led65d2900_1.jpg` for `Changhong LED65D2900 65" (165cm) FHD LED TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image changhong_led65d2900_1.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/tmp/catalog/product/c/h/changhong_led65d2900_1.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Changhong`, duplicate detected. Importing Product to existing `Changhong` product_brand, ID 1813, slug `changhong` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Over 60 Inch TVs`, duplicate detected. Importing Product to existing `Over 60 Inch TVs` product_cat, ID 3650, slug `over-60-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Changhong LED65D2900 65" (165cm) FHD LED TV` `Product` (ID: 18274)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Changhong FTM219R02W 219L White Top Mount Frost Free Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Changhong FTM219R02W 219L White Top Mount Frost Free Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `FTM219R02W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Changhong FTM219R02W 219L White Top Mount Frost Free Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Changhong FTM219R02W 219L White Top Mount Frost Free Fridge` `Product`</div>
<div class="progress-msg">Associate post `Changhong FTM219R02W 219L White Top Mount Frost Free Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Changhong FTM219R02W 219L White Top Mount Frost Free Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Changhong FTM219R02W 219L White Top Mount Frost Free Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://homeclearance.com.au/wp-content/uploads/2016/08/FTM219R02W.jpg` for `Changhong FTM219R02W 219L White Top Mount Frost Free Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image FTM219R02W.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://homeclearance.com.au/wp-content/uploads/2016/08/FTM219R02W.jpg`</div>
<div class="progress-msg">- Image `https://homeclearance.com.au/wp-content/uploads/2016/08/FTM219R02W.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/FTM219R02W.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/FTM219R02W.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Changhong`, duplicate detected. Importing Product to existing `Changhong` product_brand, ID 1813, slug `changhong` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fridges & Freezers`, duplicate detected. Importing Product to existing `Fridges &amp; Freezers` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Top Mount 2 Door Fridge`, duplicate detected. Importing Product to existing `Top Mount 2 Door Fridge` product_cat, ID 4332, slug `top-mount-2-door-fridge` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Changhong FTM219R02W 219L White Top Mount Frost Free Fridge` `Product` (ID: 18275)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Changhong FTM519R02WD 520L White Top Mount Frost Free Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Changhong FTM519R02WD 520L White Top Mount Frost Free Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `FTM519R02WD`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Changhong FTM519R02WD 520L White Top Mount Frost Free Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Changhong FTM519R02WD 520L White Top Mount Frost Free Fridge` `Product`</div>
<div class="progress-msg">Associate post `Changhong FTM519R02WD 520L White Top Mount Frost Free Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Changhong FTM519R02WD 520L White Top Mount Frost Free Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Changhong FTM519R02WD 520L White Top Mount Frost Free Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://homeclearance.com.au/wp-content/uploads/2016/09/FTM519R02WD.jpg` for `Changhong FTM519R02WD 520L White Top Mount Frost Free Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image FTM519R02WD.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://homeclearance.com.au/wp-content/uploads/2016/09/FTM519R02WD.jpg`</div>
<div class="progress-msg">- Image `https://homeclearance.com.au/wp-content/uploads/2016/09/FTM519R02WD.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/FTM519R02WD.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/FTM519R02WD.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Changhong`, duplicate detected. Importing Product to existing `Changhong` product_brand, ID 1813, slug `changhong` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fridges & Freezers`, duplicate detected. Importing Product to existing `Fridges &amp; Freezers` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Top Mount 2 Door Fridge`, duplicate detected. Importing Product to existing `Top Mount 2 Door Fridge` product_cat, ID 4332, slug `top-mount-2-door-fridge` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Changhong FTM519R02WD 520L White Top Mount Frost Free Fridge` `Product` (ID: 18277)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Changhong FSR092R02W 92L White Bar Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Changhong FSR092R02W 92L White Bar Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `FSR092R02W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Changhong FSR092R02W 92L White Bar Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Changhong FSR092R02W 92L White Bar Fridge` `Product`</div>
<div class="progress-msg">Associate post `Changhong FSR092R02W 92L White Bar Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Changhong FSR092R02W 92L White Bar Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Changhong FSR092R02W 92L White Bar Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/catalog/product/c/h/changhong_fsr092r02w.jpg` for `Changhong FSR092R02W 92L White Bar Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image changhong_fsr092r02w.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/catalog/product/c/h/changhong_fsr092r02w.jpg`</div>
<div class="progress-msg">- Image `https://www.buysmarte.com.au/media/catalog/product/c/h/changhong_fsr092r02w.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/changhong_fsr092r02w.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/10/changhong_fsr092r02w.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Changhong`, duplicate detected. Importing Product to existing `Changhong` product_brand, ID 1813, slug `changhong` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fridges & Freezers`, duplicate detected. Importing Product to existing `Fridges &amp; Freezers` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Bar Fridges`, duplicate detected. Importing Product to existing `Bar Fridges` product_cat, ID 3981, slug `bar-fridges` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Changhong FSR092R02W 92L White Bar Fridge` `Product` (ID: 18279)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Changhong FSR242R02W 242L White Upright Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Changhong FSR242R02W 242L White Upright Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `FSR242R02W`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Changhong FSR242R02W 242L White Upright Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Changhong FSR242R02W 242L White Upright Fridge` `Product`</div>
<div class="progress-msg">Associate post `Changhong FSR242R02W 242L White Upright Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Changhong FSR242R02W 242L White Upright Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Changhong FSR242R02W 242L White Upright Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.buysmarte.com.au/media/tmp/catalog/product/c/h/changhong_fsr242r02w.jpg` for `Changhong FSR242R02W 242L White Upright Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image changhong_fsr242r02w.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.buysmarte.com.au/media/tmp/catalog/product/c/h/changhong_fsr242r02w.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Changhong`, duplicate detected. Importing Product to existing `Changhong` product_brand, ID 1813, slug `changhong` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fridges & Freezers`, duplicate detected. Importing Product to existing `Fridges &amp; Freezers` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Fridges`, duplicate detected. Importing Product to existing `Fridges` product_cat, ID 3980, slug `fridges-fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `All Fridge`, duplicate detected. Importing Product to existing `All Fridge` product_cat, ID 4118, slug `all-fridge` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Changhong FSR242R02W 242L White Upright Fridge` `Product` (ID: 18281)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
