<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Smeg SR620XPK 608L Side by Side Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Smeg SR620XPK 608L Side by Side Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SR620XPK`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Smeg SR620XPK 608L Side by Side Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Smeg SR620XPK 608L Side by Side Fridge` `Product`</div>
<div class="progress-msg">Associate post `Smeg SR620XPK 608L Side by Side Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Smeg SR620XPK 608L Side by Side Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Smeg SR620XPK 608L Side by Side Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/sr620xpk/external/608L-Smeg-Side-by-Side-Fridge-SR620XPK-high.jpeg` for `Smeg SR620XPK 608L Side by Side Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 608L-Smeg-Side-by-Side-Fridge-SR620XPK-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/sr620xpk/external/608L-Smeg-Side-by-Side-Fridge-SR620XPK-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/sr620xpk/external/608L-Smeg-Side-by-Side-Fridge-SR620XPK-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/608L-Smeg-Side-by-Side-Fridge-SR620XPK-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/608L-Smeg-Side-by-Side-Fridge-SR620XPK-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Smeg`, duplicate detected. Importing Product to existing `Smeg` product_brand, ID 1415, slug `smeg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fridges & Freezers`, duplicate detected. Importing Product to existing `Fridges &amp; Freezers` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Creating child Product product_cat for Fridges & Freezers named `Side by Side Fridges` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Smeg SR620XPK 608L Side by Side Fridge` `Product` (ID: 19640)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Smeg FAB10HRP-1 135L Bar Fridge`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Smeg FAB10HRP-1 135L Bar Fridge`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `FAB10HRP-1`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Smeg FAB10HRP-1 135L Bar Fridge`</div>
<div class="progress-msg"><b>CREATING</b> `Smeg FAB10HRP-1 135L Bar Fridge` `Product`</div>
<div class="progress-msg">Associate post `Smeg FAB10HRP-1 135L Bar Fridge` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Smeg FAB10HRP-1 135L Bar Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Smeg FAB10HRP-1 135L Bar Fridge` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/fab10hrp-1/undefined/Smeg-FAB10HRP-1-135L-Bar-Fridge-Hero-Image-high.jpeg` for `Smeg FAB10HRP-1 135L Bar Fridge` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Smeg-FAB10HRP-1-135L-Bar-Fridge-Hero-Image-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/fab10hrp-1/undefined/Smeg-FAB10HRP-1-135L-Bar-Fridge-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/fab10hrp-1/undefined/Smeg-FAB10HRP-1-135L-Bar-Fridge-Hero-Image-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/Smeg-FAB10HRP-1-135L-Bar-Fridge-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/Smeg-FAB10HRP-1-135L-Bar-Fridge-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Smeg`, duplicate detected. Importing Product to existing `Smeg` product_brand, ID 1415, slug `smeg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Fridges & Freezers`, duplicate detected. Importing Product to existing `Fridges &amp; Freezers` product_cat, ID 3979, slug `fridge-freezers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Side by Side Fridges`, duplicate detected. Importing Product to existing `Side by Side Fridges` product_cat, ID 6427, slug `side-by-side-fridges` ...</div>
<div class="progress-msg">- Creating child Product product_cat for Side by Side Fridges named `Bar Fridges` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Smeg FAB10HRP-1 135L Bar Fridge` `Product` (ID: 19642)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Smeg SHW181X90 90cm Wallmount T Shape Rangehood`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Smeg SHW181X90 90cm Wallmount T Shape Rangehood`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SHW181X90`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Smeg SHW181X90 90cm Wallmount T Shape Rangehood`</div>
<div class="progress-msg"><b>CREATING</b> `Smeg SHW181X90 90cm Wallmount T Shape Rangehood` `Product`</div>
<div class="progress-msg">Associate post `Smeg SHW181X90 90cm Wallmount T Shape Rangehood` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Smeg SHW181X90 90cm Wallmount T Shape Rangehood` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Smeg SHW181X90 90cm Wallmount T Shape Rangehood` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/shw181x90/undefined/Smeg-SHW181X90-Canopy-Rangehood-Hero-Image-high.jpeg` for `Smeg SHW181X90 90cm Wallmount T Shape Rangehood` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Smeg-SHW181X90-Canopy-Rangehood-Hero-Image-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/shw181x90/undefined/Smeg-SHW181X90-Canopy-Rangehood-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/shw181x90/undefined/Smeg-SHW181X90-Canopy-Rangehood-Hero-Image-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/Smeg-SHW181X90-Canopy-Rangehood-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/Smeg-SHW181X90-Canopy-Rangehood-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Smeg`, duplicate detected. Importing Product to existing `Smeg` product_brand, ID 1415, slug `smeg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Rangehoods`, duplicate detected. Importing Product to existing `Rangehoods` product_cat, ID 69, slug `rangehoods` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Canopy Rangehoods`, duplicate detected. Importing Product to existing `Canopy Rangehoods` product_cat, ID 3953, slug `canopy-rangehoods-rangehoods` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Smeg SHW181X90 90cm Wallmount T Shape Rangehood` `Product` (ID: 19644)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Smeg SHW970X 90cm Wallmount T Shape Rangehood`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Smeg SHW970X 90cm Wallmount T Shape Rangehood`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SHW970X`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Smeg SHW970X 90cm Wallmount T Shape Rangehood`</div>
<div class="progress-msg"><b>CREATING</b> `Smeg SHW970X 90cm Wallmount T Shape Rangehood` `Product`</div>
<div class="progress-msg">Associate post `Smeg SHW970X 90cm Wallmount T Shape Rangehood` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Smeg SHW970X 90cm Wallmount T Shape Rangehood` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Smeg SHW970X 90cm Wallmount T Shape Rangehood` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.smeg.com.au/smeg_com/images/products/0/0/SHW970X.jpg` for `Smeg SHW970X 90cm Wallmount T Shape Rangehood` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image SHW970X.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.smeg.com.au/smeg_com/images/products/0/0/SHW970X.jpg`</div>
<div class="progress-msg">- Image `http://www.smeg.com.au/smeg_com/images/products/0/0/SHW970X.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/SHW970X.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/SHW970X.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Smeg`, duplicate detected. Importing Product to existing `Smeg` product_brand, ID 1415, slug `smeg` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Cooking & Ovens`, duplicate detected. Importing Product to existing `Cooking &amp; Ovens` product_cat, ID 60, slug `cooking-ovens` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Rangehoods`, duplicate detected. Importing Product to existing `Rangehoods` product_cat, ID 69, slug `rangehoods` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Canopy Rangehoods`, duplicate detected. Importing Product to existing `Canopy Rangehoods` product_cat, ID 3953, slug `canopy-rangehoods-rangehoods` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Smeg SHW970X 90cm Wallmount T Shape Rangehood` `Product` (ID: 19646)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sony KD75X9400D 75" 4K HDR Smart TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sony KD75X9400D 75" 4K HDR Smart TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `KD75X9400D`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony KD75X9400D 75" 4K HDR Smart TV`</div>
<div class="progress-msg"><b>CREATING</b> `Sony KD75X9400D 75" 4K HDR Smart TV` `Product`</div>
<div class="progress-msg">Associate post `Sony KD75X9400D 75" 4K HDR Smart TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Sony KD75X9400D 75" 4K HDR Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Sony KD75X9400D 75" 4K HDR Smart TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/kd75x9400d/undefined/Sony-KD75X9400D-75-inch-4K-HDR-Smart-TV-Hero-Image-high.jpeg` for `Sony KD75X9400D 75" 4K HDR Smart TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Sony-KD75X9400D-75-inch-4K-HDR-Smart-TV-Hero-Image-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/kd75x9400d/undefined/Sony-KD75X9400D-75-inch-4K-HDR-Smart-TV-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/kd75x9400d/undefined/Sony-KD75X9400D-75-inch-4K-HDR-Smart-TV-Hero-Image-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/Sony-KD75X9400D-75-inch-4K-HDR-Smart-TV-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/Sony-KD75X9400D-75-inch-4K-HDR-Smart-TV-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Sony`, duplicate detected. Importing Product to existing `Sony` product_brand, ID 1328, slug `sony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Over 60 Inch TVs`, duplicate detected. Importing Product to existing `Over 60 Inch TVs` product_cat, ID 3650, slug `over-60-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Sony KD75X9400D 75" 4K HDR Smart TV` `Product` (ID: 19648)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sony KD85X8500D 85" (214.8cm) 4K HDR TV`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sony KD85X8500D 85" (214.8cm) 4K HDR TV`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `KD85X8500D`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sony KD85X8500D 85" (214.8cm) 4K HDR TV`</div>
<div class="progress-msg"><b>CREATING</b> `Sony KD85X8500D 85" (214.8cm) 4K HDR TV` `Product`</div>
<div class="progress-msg">Associate post `Sony KD85X8500D 85" (214.8cm) 4K HDR TV` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Sony KD85X8500D 85" (214.8cm) 4K HDR TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Sony KD85X8500D 85" (214.8cm) 4K HDR TV` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.appliancesonline.com.au/public/images/product/kd85x8500d/undefined/Sony-KD85X8500D-85-Inch-214.8cm-Smart-4K-UHD-LCD-LED-TV-Hero-Image-high.jpeg` for `Sony KD85X8500D 85" (214.8cm) 4K HDR TV` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Sony-KD85X8500D-85-Inch-214.8cm-Smart-4K-UHD-LCD-LED-TV-Hero-Image-high.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.appliancesonline.com.au/public/images/product/kd85x8500d/undefined/Sony-KD85X8500D-85-Inch-214.8cm-Smart-4K-UHD-LCD-LED-TV-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- Image `https://www.appliancesonline.com.au/public/images/product/kd85x8500d/undefined/Sony-KD85X8500D-85-Inch-214.8cm-Smart-4K-UHD-LCD-LED-TV-Hero-Image-high.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/Sony-KD85X8500D-85-Inch-214.8cm-Smart-4K-UHD-LCD-LED-TV-Hero-Image-high.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/11/Sony-KD85X8500D-85-Inch-214.8cm-Smart-4K-UHD-LCD-LED-TV-Hero-Image-high.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Sony`, duplicate detected. Importing Product to existing `Sony` product_brand, ID 1328, slug `sony` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Televisions`, duplicate detected. Importing Product to existing `Televisions` product_cat, ID 9, slug `televisions` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `LCD/LED TV's`, duplicate detected. Importing Product to existing `LCD/LED TV's` product_cat, ID 3052, slug `lcdled-tvs` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Over 60 Inch TVs`, duplicate detected. Importing Product to existing `Over 60 Inch TVs` product_cat, ID 3650, slug `over-60-inch-tvs-lcdled-tvs` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Sony KD85X8500D 85" (214.8cm) 4K HDR TV` `Product` (ID: 19650)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
