.category-form {
	padding:2%;
	width:96%;
	border:1px solid #cecece;
	background:#fff;
}
ul.first-level li ul.second-level, ul.second-level li ul.third-level {
	padding:10px 0 0 30px;
}
.selected-category > li {
  border: 1px solid #cecece;
  border-radius: 8px;
  margin: 0 0 15px;
  padding: 10px;
  width: 100%;
}

.selected-category label {
  float: left;
  width: 35%;
}

.selected-category li select {
  width: 300px;
}
.save-brand {
	margin:0 0 15px;
}
ul.member-links li {
	padding:0 0 5px;
}
#adminmenu .wp-menu-image img{
	opacity : 1;
}
fieldset.job-fieldset {
  border: medium double;
  padding: 2%;
  position: relative;
  width: 80%;
}
fieldset.job-fieldset legend {
  font-size: 18px;
  padding: 0 15px;
  position: relative;
  top: 7px;
  width: auto;
}