<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Simpson SWF12743 7kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Simpson SWF12743 7kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SWF12743`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Simpson SWF12743 7kg White Front Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Simpson SWF12743 7kg White Front Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Simpson SWF12743 7kg White Front Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Simpson SWF12743 7kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Simpson SWF12743 7kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://product.electrolux.com.au/Public/Image2/product/27349/22447/Brand-ProductZoom.png` for `Simpson SWF12743 7kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Brand-ProductZoom.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://product.electrolux.com.au/Public/Image2/product/27349/22447/Brand-ProductZoom.png`</div>
<div class="progress-msg">- Image `https://product.electrolux.com.au/Public/Image2/product/27349/22447/Brand-ProductZoom.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/Brand-ProductZoom.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/Brand-ProductZoom.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Simpson`, duplicate detected. Importing Product to existing `Simpson` product_brand, ID 755, slug `simpson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Frontload Washers`, duplicate detected. Importing Product to existing `Frontload Washers` product_cat, ID 3998, slug `frontload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Simpson SWF12743 7kg White Front Load Washing Machine` `Product` (ID: 16333)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch WAK24160AU 7kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch WAK24160AU 7kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WAK24160AU`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch WAK24160AU 7kg White Front Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Bosch WAK24160AU 7kg White Front Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Bosch WAK24160AU 7kg White Front Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Bosch WAK24160AU 7kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Bosch WAK24160AU 7kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://media3.bsh-group.com/Product_Shots/500x500/MCSA00833821_WAK24160AU_def.jpg` for `Bosch WAK24160AU 7kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image MCSA00833821_WAK24160AU_def.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://media3.bsh-group.com/Product_Shots/500x500/MCSA00833821_WAK24160AU_def.jpg`</div>
<div class="progress-msg">- Image `http://media3.bsh-group.com/Product_Shots/500x500/MCSA00833821_WAK24160AU_def.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00833821_WAK24160AU_def.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00833821_WAK24160AU_def.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Bosch`, duplicate detected. Importing Product to existing `Bosch` product_brand, ID 1364, slug `bosch` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Frontload Washers`, duplicate detected. Importing Product to existing `Frontload Washers` product_cat, ID 3998, slug `frontload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bosch WAK24160AU 7kg White Front Load Washing Machine` `Product` (ID: 16335)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch WAP28380AU 8kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch WAP28380AU 8kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WAP28380AU`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch WAP28380AU 8kg White Front Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Bosch WAP28380AU 8kg White Front Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Bosch WAP28380AU 8kg White Front Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Bosch WAP28380AU 8kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Bosch WAP28380AU 8kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://media3.bsh-group.com/Product_Shots/500x500/MCSA00932122_WAP28380AU_def.jpg` for `Bosch WAP28380AU 8kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image MCSA00932122_WAP28380AU_def.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://media3.bsh-group.com/Product_Shots/500x500/MCSA00932122_WAP28380AU_def.jpg`</div>
<div class="progress-msg">- Image `http://media3.bsh-group.com/Product_Shots/500x500/MCSA00932122_WAP28380AU_def.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00932122_WAP28380AU_def.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00932122_WAP28380AU_def.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Bosch`, duplicate detected. Importing Product to existing `Bosch` product_brand, ID 1364, slug `bosch` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Frontload Washers`, duplicate detected. Importing Product to existing `Frontload Washers` product_cat, ID 3998, slug `frontload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bosch WAP28380AU 8kg White Front Load Washing Machine` `Product` (ID: 16337)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch WAW28460AU 8kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch WAW28460AU 8kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WAW28460AU`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch WAW28460AU 8kg White Front Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Bosch WAW28460AU 8kg White Front Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Bosch WAW28460AU 8kg White Front Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Bosch WAW28460AU 8kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Bosch WAW28460AU 8kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://media3.bsh-group.com/Product_Shots/500x500/MCSA00834284_WAW28460AU_def.jpg` for `Bosch WAW28460AU 8kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image MCSA00834284_WAW28460AU_def.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://media3.bsh-group.com/Product_Shots/500x500/MCSA00834284_WAW28460AU_def.jpg`</div>
<div class="progress-msg">- Image `http://media3.bsh-group.com/Product_Shots/500x500/MCSA00834284_WAW28460AU_def.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00834284_WAW28460AU_def.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00834284_WAW28460AU_def.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Bosch`, duplicate detected. Importing Product to existing `Bosch` product_brand, ID 1364, slug `bosch` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Frontload Washers`, duplicate detected. Importing Product to existing `Frontload Washers` product_cat, ID 3998, slug `frontload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bosch WAW28460AU 8kg White Front Load Washing Machine` `Product` (ID: 16339)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Miele WKB130 8kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Miele WKB130 8kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WKB130`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Miele WKB130 8kg White Front Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Miele WKB130 8kg White Front Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Miele WKB130 8kg White Front Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Miele WKB130 8kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Miele WKB130 8kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/10074780.jpg` for `Miele WKB130 8kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 10074780.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/10074780.jpg`</div>
<div class="progress-msg">- Image `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/10074780.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/10074780.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/10074780.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Miele`, duplicate detected. Importing Product to existing `Miele` product_brand, ID 148, slug `miele` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Frontload Washers`, duplicate detected. Importing Product to existing `Frontload Washers` product_cat, ID 3998, slug `frontload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Miele WKB130 8kg White Front Load Washing Machine` `Product` (ID: 16341)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WW75J4213IW 7.5kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WW75J4213IW 7.5kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WW75J4213IW`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WW75J4213IW 7.5kg White Front Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WW75J4213IW 7.5kg White Front Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WW75J4213IW 7.5kg White Front Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WW75J4213IW 7.5kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WW75J4213IW 7.5kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://s.productreview.com.au/products/images/t/500/247371_55dd21b19a69f853328075.png` for `Samsung WW75J4213IW 7.5kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 247371_55dd21b19a69f853328075.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://s.productreview.com.au/products/images/t/500/247371_55dd21b19a69f853328075.png`</div>
<div class="progress-msg">- Image `http://s.productreview.com.au/products/images/t/500/247371_55dd21b19a69f853328075.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/247371_55dd21b19a69f853328075.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/247371_55dd21b19a69f853328075.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Frontload Washers`, duplicate detected. Importing Product to existing `Frontload Washers` product_cat, ID 3998, slug `frontload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WW75J4213IW 7.5kg White Front Load Washing Machine` `Product` (ID: 16343)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WW85K5410WW/SA 8.5kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WW85K5410WW/SA 8.5kg White Front Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WW85K5410WW/SA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WW85K5410WW/SA 8.5kg White Front Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WW85K5410WW/SA 8.5kg White Front Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WW85K5410WW/SA 8.5kg White Front Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WW85K5410WW/SA 8.5kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WW85K5410WW/SA 8.5kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WW85K5410WW-SA_001_Front_white?$DT-Gallery$` for `Samsung WW85K5410WW/SA 8.5kg White Front Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WW85K5410WW-SA_001_Front_white.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WW85K5410WW-SA_001_Front_white?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WW85K5410WW-SA_001_Front_white?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WW85K5410WW-SA_001_Front_white.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WW85K5410WW-SA_001_Front_white.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Frontload Washers`, duplicate detected. Importing Product to existing `Frontload Washers` product_cat, ID 3998, slug `frontload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WW85K5410WW/SA 8.5kg White Front Load Washing Machine` `Product` (ID: 16345)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Simpson SWT8542 8.5kg White Top Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Simpson SWT8542 8.5kg White Top Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SWT8542`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Simpson SWT8542 8.5kg White Top Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Simpson SWT8542 8.5kg White Top Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Simpson SWT8542 8.5kg White Top Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Simpson SWT8542 8.5kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Simpson SWT8542 8.5kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://product.electrolux.com.au/Public/Image2/product/26600/20547/Brand-ProductZoom.png` for `Simpson SWT8542 8.5kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- Using existing image `Brand-ProductZoom.png` for post `Simpson SWT8542 8.5kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Simpson`, duplicate detected. Importing Product to existing `Simpson` product_brand, ID 755, slug `simpson` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Simpson SWT8542 8.5kg White Top Load Washing Machine` `Product` (ID: 16347)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Fisher & Paykel WA1068P1 10kg White Top Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Fisher & Paykel WA1068P1 10kg White Top Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA1068P1`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Fisher & Paykel WA1068P1 10kg White Top Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Fisher & Paykel WA1068P1 10kg White Top Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Fisher & Paykel WA1068P1 10kg White Top Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Fisher & Paykel WA1068P1 10kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Fisher & Paykel WA1068P1 10kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.fisherpaykel.com/au/laundry/washing-machines/washing-machine/fabricsmart-10kg/_jcr_content/par/product/wa1068p1/image.img.png/fisherPaykelDesign/-/productPage/par/product/image/cq_ck_1453424251566.png` for `Fisher & Paykel WA1068P1 10kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image cq_ck_1453424251566.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.fisherpaykel.com/au/laundry/washing-machines/washing-machine/fabricsmart-10kg/_jcr_content/par/product/wa1068p1/image.img.png/fisherPaykelDesign/-/productPage/par/product/image/cq_ck_1453424251566.png`</div>
<div class="progress-msg">- Image `https://www.fisherpaykel.com/au/laundry/washing-machines/washing-machine/fabricsmart-10kg/_jcr_content/par/product/wa1068p1/image.img.png/fisherPaykelDesign/-/productPage/par/product/image/cq_ck_1453424251566.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/cq_ck_1453424251566.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/cq_ck_1453424251566.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Fisher & Paykel`, duplicate detected. Importing Product to existing `Fisher &amp; Paykel` product_brand, ID 156, slug `fisher-paykel` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Fisher & Paykel WA1068P1 10kg White Top Load Washing Machine` `Product` (ID: 16348)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Fisher & Paykel WA7060G1 7kg White Top Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Fisher & Paykel WA7060G1 7kg White Top Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA7060G1`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Fisher & Paykel WA7060G1 7kg White Top Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Fisher & Paykel WA7060G1 7kg White Top Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Fisher & Paykel WA7060G1 7kg White Top Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Fisher & Paykel WA7060G1 7kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Fisher & Paykel WA7060G1 7kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.fisherpaykel.com/au/laundry/washing-machines/washing-machine/washsmart-7kg/_jcr_content/par/product/wa7060g1/image.img.png/fisherPaykelDesign/-/productPage/par/product/image/cq_ck_1453262621265.png` for `Fisher & Paykel WA7060G1 7kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image cq_ck_1453262621265.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.fisherpaykel.com/au/laundry/washing-machines/washing-machine/washsmart-7kg/_jcr_content/par/product/wa7060g1/image.img.png/fisherPaykelDesign/-/productPage/par/product/image/cq_ck_1453262621265.png`</div>
<div class="progress-msg">- Image `https://www.fisherpaykel.com/au/laundry/washing-machines/washing-machine/washsmart-7kg/_jcr_content/par/product/wa7060g1/image.img.png/fisherPaykelDesign/-/productPage/par/product/image/cq_ck_1453262621265.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/cq_ck_1453262621265.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/cq_ck_1453262621265.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Fisher & Paykel`, duplicate detected. Importing Product to existing `Fisher &amp; Paykel` product_brand, ID 156, slug `fisher-paykel` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Fisher & Paykel WA7060G1 7kg White Top Load Washing Machine` `Product` (ID: 16350)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Samsung WA80F5G4DJW/SA 8kg White Top Load Washing Machine`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Samsung WA80F5G4DJW/SA 8kg White Top Load Washing Machine`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WA80F5G4DJW/SA`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Samsung WA80F5G4DJW/SA 8kg White Top Load Washing Machine`</div>
<div class="progress-msg"><b>CREATING</b> `Samsung WA80F5G4DJW/SA 8kg White Top Load Washing Machine` `Product`</div>
<div class="progress-msg">Associate post `Samsung WA80F5G4DJW/SA 8kg White Top Load Washing Machine` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Samsung WA80F5G4DJW/SA 8kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Samsung WA80F5G4DJW/SA 8kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://images.samsung.com/is/image/samsung/au_WA80F5G4DJW-SA_507_Front_white?$DT-Gallery$` for `Samsung WA80F5G4DJW/SA 8kg White Top Load Washing Machine` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image au_WA80F5G4DJW-SA_507_Front_white.jpeg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://images.samsung.com/is/image/samsung/au_WA80F5G4DJW-SA_507_Front_white?$DT-Gallery$`</div>
<div class="progress-msg">- Image `http://images.samsung.com/is/image/samsung/au_WA80F5G4DJW-SA_507_Front_white?$DT-Gallery$` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WA80F5G4DJW-SA_507_Front_white.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/au_WA80F5G4DJW-SA_507_Front_white.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Samsung`, duplicate detected. Importing Product to existing `Samsung` product_brand, ID 100, slug `samsung` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Washing Machines`, duplicate detected. Importing Product to existing `Washing Machines` product_cat, ID 3997, slug `washing-machines-laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Topload Washers`, duplicate detected. Importing Product to existing `Topload Washers` product_cat, ID 4453, slug `topload-washers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Samsung WA80F5G4DJW/SA 8kg White Top Load Washing Machine` `Product` (ID: 16352)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Fisher & Paykel DE40F56A2 4kg White Dryer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Fisher & Paykel DE40F56A2 4kg White Dryer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DE40F56A2`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Fisher & Paykel DE40F56A2 4kg White Dryer`</div>
<div class="progress-msg"><b>CREATING</b> `Fisher & Paykel DE40F56A2 4kg White Dryer` `Product`</div>
<div class="progress-msg">Associate post `Fisher & Paykel DE40F56A2 4kg White Dryer` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Fisher & Paykel DE40F56A2 4kg White Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Fisher & Paykel DE40F56A2 4kg White Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.choice.com.au/Assets/Choice/imgs/product/fisher-and-paykel-de40f56a2_1.JPG` for `Fisher & Paykel DE40F56A2 4kg White Dryer` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image fisher-and-paykel-de40f56a2_1.JPG not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.choice.com.au/Assets/Choice/imgs/product/fisher-and-paykel-de40f56a2_1.JPG`</div>
<div class="progress-msg">- Image `https://www.choice.com.au/Assets/Choice/imgs/product/fisher-and-paykel-de40f56a2_1.JPG` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/fisher-and-paykel-de40f56a2_1.JPG`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/fisher-and-paykel-de40f56a2_1.JPG`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Fisher & Paykel`, duplicate detected. Importing Product to existing `Fisher &amp; Paykel` product_brand, ID 156, slug `fisher-paykel` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Clothes Dryers`, duplicate detected. Importing Product to existing `Clothes Dryers` product_cat, ID 3537, slug `clothes-dryers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vented Clothes Dryer`, duplicate detected. Importing Product to existing `Vented Clothes Dryer` product_cat, ID 3538, slug `vented-clothes-dryer` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Fisher & Paykel DE40F56A2 4kg White Dryer` `Product` (ID: 16354)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Fisher & Paykel DE6060G1 6kg Vented Dryer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Fisher & Paykel DE6060G1 6kg Vented Dryer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `DE6060G1`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Fisher & Paykel DE6060G1 6kg Vented Dryer`</div>
<div class="progress-msg"><b>CREATING</b> `Fisher & Paykel DE6060G1 6kg Vented Dryer` `Product`</div>
<div class="progress-msg">Associate post `Fisher & Paykel DE6060G1 6kg Vented Dryer` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Fisher & Paykel DE6060G1 6kg Vented Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Fisher & Paykel DE6060G1 6kg Vented Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.fisherpaykel.com/au/laundry/dryers/dryer/6kg-vented-dryer/_jcr_content/par/product/de6060g1/image.img.png/fisherPaykelDesign/-/productPage/par/product/image/cq_ck_1453240903053.png` for `Fisher & Paykel DE6060G1 6kg Vented Dryer` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image cq_ck_1453240903053.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.fisherpaykel.com/au/laundry/dryers/dryer/6kg-vented-dryer/_jcr_content/par/product/de6060g1/image.img.png/fisherPaykelDesign/-/productPage/par/product/image/cq_ck_1453240903053.png`</div>
<div class="progress-msg">- Image `https://www.fisherpaykel.com/au/laundry/dryers/dryer/6kg-vented-dryer/_jcr_content/par/product/de6060g1/image.img.png/fisherPaykelDesign/-/productPage/par/product/image/cq_ck_1453240903053.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/cq_ck_1453240903053.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/cq_ck_1453240903053.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Fisher & Paykel`, duplicate detected. Importing Product to existing `Fisher &amp; Paykel` product_brand, ID 156, slug `fisher-paykel` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Clothes Dryers`, duplicate detected. Importing Product to existing `Clothes Dryers` product_cat, ID 3537, slug `clothes-dryers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vented Clothes Dryer`, duplicate detected. Importing Product to existing `Vented Clothes Dryer` product_cat, ID 3538, slug `vented-clothes-dryer` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Fisher & Paykel DE6060G1 6kg Vented Dryer` `Product` (ID: 16356)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Haier HDYM40 4kg White Front Vented Dryer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Haier HDYM40 4kg White Front Vented Dryer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `HDYM40`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Haier HDYM40 4kg White Front Vented Dryer`</div>
<div class="progress-msg"><b>CREATING</b> `Haier HDYM40 4kg White Front Vented Dryer` `Product`</div>
<div class="progress-msg">Associate post `Haier HDYM40 4kg White Front Vented Dryer` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Haier HDYM40 4kg White Front Vented Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Haier HDYM40 4kg White Front Vented Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.fisherpaykel.com/vault/images/prod_mugshots/haier-dry/HDY-M40_exterior_600px_mug_rt.jpg` for `Haier HDYM40 4kg White Front Vented Dryer` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image HDY-M40_exterior_600px_mug_rt.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.fisherpaykel.com/vault/images/prod_mugshots/haier-dry/HDY-M40_exterior_600px_mug_rt.jpg`</div>
<div class="progress-msg">- Image `https://www.fisherpaykel.com/vault/images/prod_mugshots/haier-dry/HDY-M40_exterior_600px_mug_rt.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/HDY-M40_exterior_600px_mug_rt.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/HDY-M40_exterior_600px_mug_rt.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Haier`, duplicate detected. Importing Product to existing `Haier` product_brand, ID 104, slug `haier` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Clothes Dryers`, duplicate detected. Importing Product to existing `Clothes Dryers` product_cat, ID 3537, slug `clothes-dryers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Vented Clothes Dryer`, duplicate detected. Importing Product to existing `Vented Clothes Dryer` product_cat, ID 3538, slug `vented-clothes-dryer` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Haier HDYM40 4kg White Front Vented Dryer` `Product` (ID: 16358)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Miele TKB350WP 8kg White Tumble Dryer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Miele TKB350WP 8kg White Tumble Dryer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TKB350WP`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Miele TKB350WP 8kg White Tumble Dryer`</div>
<div class="progress-msg"><b>CREATING</b> `Miele TKB350WP 8kg White Tumble Dryer` `Product`</div>
<div class="progress-msg">Associate post `Miele TKB350WP 8kg White Tumble Dryer` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Miele TKB350WP 8kg White Tumble Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Miele TKB350WP 8kg White Tumble Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/10076950.jpg` for `Miele TKB350WP 8kg White Tumble Dryer` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 10076950.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/10076950.jpg`</div>
<div class="progress-msg">- Image `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/10076950.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/10076950.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/10076950.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Miele`, duplicate detected. Importing Product to existing `Miele` product_brand, ID 148, slug `miele` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Clothes Dryers`, duplicate detected. Importing Product to existing `Clothes Dryers` product_cat, ID 3537, slug `clothes-dryers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Heat Pump Dryer`, duplicate detected. Importing Product to existing `Heat Pump Dryer` product_cat, ID 4295, slug `heat-pump-dryer` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Miele TKB350WP 8kg White Tumble Dryer` `Product` (ID: 16360)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Miele TKG450WP 8kg White Heat-pump Dryer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Miele TKG450WP 8kg White Heat-pump Dryer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `TKG450WP`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Miele TKG450WP 8kg White Heat-pump Dryer`</div>
<div class="progress-msg"><b>CREATING</b> `Miele TKG450WP 8kg White Heat-pump Dryer` `Product`</div>
<div class="progress-msg">Associate post `Miele TKG450WP 8kg White Heat-pump Dryer` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Miele TKG450WP 8kg White Heat-pump Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Miele TKG450WP 8kg White Heat-pump Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/9764530.jpg` for `Miele TKG450WP 8kg White Heat-pump Dryer` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 9764530.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/9764530.jpg`</div>
<div class="progress-msg">- Image `http://www.mieleshop.com.au/is-bin/intershop.static/WFS/Miele-AU-Site/Miele-AU/en_AU/front/XXL/9764530.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/9764530.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/9764530.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Miele`, duplicate detected. Importing Product to existing `Miele` product_brand, ID 148, slug `miele` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Clothes Dryers`, duplicate detected. Importing Product to existing `Clothes Dryers` product_cat, ID 3537, slug `clothes-dryers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Heat Pump Dryer`, duplicate detected. Importing Product to existing `Heat Pump Dryer` product_cat, ID 4295, slug `heat-pump-dryer` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Miele TKG450WP 8kg White Heat-pump Dryer` `Product` (ID: 16362)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch WTB86200 8kg White Condenser Dryer`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch WTB86200 8kg White Condenser Dryer`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WTB86200`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch WTB86200 8kg White Condenser Dryer`</div>
<div class="progress-msg"><b>CREATING</b> `Bosch WTB86200 8kg White Condenser Dryer` `Product`</div>
<div class="progress-msg">Associate post `Bosch WTB86200 8kg White Condenser Dryer` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Bosch WTB86200 8kg White Condenser Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Bosch WTB86200 8kg White Condenser Dryer` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://images-na.ssl-images-amazon.com/images/I/61Wue%2B8f7eL._SL1000_.jpg` for `Bosch WTB86200 8kg White Condenser Dryer` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 61Wue8f7eL._SL1000.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://images-na.ssl-images-amazon.com/images/I/61Wue%2B8f7eL._SL1000_.jpg`</div>
<div class="progress-msg">- Image `https://images-na.ssl-images-amazon.com/images/I/61Wue%2B8f7eL._SL1000_.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/61Wue8f7eL._SL1000.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/61Wue8f7eL._SL1000.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Bosch`, duplicate detected. Importing Product to existing `Bosch` product_brand, ID 1364, slug `bosch` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Clothes Dryers`, duplicate detected. Importing Product to existing `Clothes Dryers` product_cat, ID 3537, slug `clothes-dryers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Condenser Clothes Dryers`, duplicate detected. Importing Product to existing `Condenser Clothes Dryers` product_cat, ID 4000, slug `condenser-clothes-dryers` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bosch WTB86200 8kg White Condenser Dryer` `Product` (ID: 16364)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch WTW87565AU 9kg White Tumble Dryer with Heat Pump`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch WTW87565AU 9kg White Tumble Dryer with Heat Pump`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `WTW87565AU`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Bosch WTW87565AU 9kg White Tumble Dryer with Heat Pump`</div>
<div class="progress-msg"><b>CREATING</b> `Bosch WTW87565AU 9kg White Tumble Dryer with Heat Pump` `Product`</div>
<div class="progress-msg">Associate post `Bosch WTW87565AU 9kg White Tumble Dryer with Heat Pump` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_title` has been updated with value `` for post `Bosch WTW87565AU 9kg White Tumble Dryer with Heat Pump` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_custom_field</div>
<div class="progress-msg">- Custom field `meta_description` has been updated with value `` for post `Bosch WTW87565AU 9kg White Tumble Dryer with Heat Pump` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA00852766_WTW87565AU_def.jpg` for `Bosch WTW87565AU 9kg White Tumble Dryer with Heat Pump` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image MCSA00852766_WTW87565AU_def.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA00852766_WTW87565AU_def.jpg`</div>
<div class="progress-msg">- Image `http://media3.bsh-group.com/Product_Shots/1100x1100/MCSA00852766_WTW87565AU_def.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00852766_WTW87565AU_def.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://www.hagglefree.com.au/wp-content/uploads/2016/08/MCSA00852766_WTW87565AU_def.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_brand` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_brand `Bosch`, duplicate detected. Importing Product to existing `Bosch` product_brand, ID 1364, slug `bosch` ...</div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Laundry Appliances`, duplicate detected. Importing Product to existing `Laundry Appliances` product_cat, ID 3536, slug `laundry-appliances` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Clothes Dryers`, duplicate detected. Importing Product to existing `Clothes Dryers` product_cat, ID 3537, slug `clothes-dryers` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat `Heat Pump Dryer`, duplicate detected. Importing Product to existing `Heat Pump Dryer` product_cat, ID 4295, slug `heat-pump-dryer` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bosch WTW87565AU 9kg White Tumble Dryer with Heat Pump` `Product` (ID: 16366)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
